html, body {
    margin: auto;
    background-color: white;
    height: 100%;
    font-family: sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.console-nav {
    height: 3rem;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.console {
    max-width: 80%;
    margin: auto;
}

// override default table style for no js version
.no-js-pagination__arrow-nav {
    color: #bdbdbd;
}

.no-js-head__cell {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    border-bottom: 1px solid #dbdbdb;
}
