html, body {
    margin: auto;
    background-color: white;
    height: 100%;
    font-family: sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.console {
    max-width: 95%;
    margin: auto;
    margin-top: 2rem;
}

// override default table style for no js version
.no-js-pagination__arrow-nav {
    color: #bdbdbd;
}

.no-js-head__cell {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    border-bottom: 1px solid #dbdbdb;
}

// FORM ELEMENTS

.button, .input, .select select, .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: bold;
    min-height: 2.25rem;
    line-height: 1.5;
    padding: 0.375rem 0.625rem;
    position: relative;
}

.select {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.select select {
    cursor: pointer;
    display: block;
    font-size: 1rem;
    max-width: 100%;
    outline: 0;
}

.select::after {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625rem;
    margin-top: -.4375rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .625rem;
    border-color: #363636;
    right: 0.75rem;
    z-index: 4;
}

.input, .select select, .textarea {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    font-weight: 300;
}

.input, .textarea {
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
    width: 100%;
}

.input:focus, .button:focus {
    outline: 0;
}

.button {
    cursor: pointer;
}

.crux-time {
    display: flex;
    flex-direction: column;
}

.query-suggestions {
    display: flex;
    margin-bottom: 1rem;
}

.query-suggestions > *:not(last-child) {
    margin-right: 1rem;
}

.input-group {
    margin-bottom: 1rem;
    max-width: 300px;
}

.input-time:not(:last-child) {
    margin-bottom: 1rem;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-error {
    font-size: 0.8rem;
    color: darkred;
    margin-top: 0.5rem;
}

.entity-link {
    font-family: "monospace";
    font-size: 0.7rem;
    padding: 0.5rem;
    font-weight: bold;
    background:#dfdfdf;
    color: black;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 0.7rem;
}

.entity-link:hover {
    text-decoration: underline;
}

// END FORM ELEMENTS


.error-box {
    padding: 1em;
    background:#dfdfdf;
    color: darkred;
    border-radius: 0.7em;
}

.container {
    margin: auto;
}

.page-pane {
    display: flex;
}

.entity-group {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem auto;
}

.entity-group__separator {
    border: 0;
    height: 1px;
    background: #333;
}

.entity-group__key {
    margin-right: 0.8rem;
}

.entity-group__value {
    position: relative;
}

ol.entity-group__value {
    list-style: none;
    counter-reset: my-counter;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul.entity-group__value {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol.entity-group__value li {
    counter-increment: my-counter;
}

.entity-map li {
    padding-left: 1rem;
}

.list-element {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: 1.2rem;
    color: grey;
    font-size: 0.765em;
    margin-right: 0.5rem;
    font-weight: bold;
}

ol.entity-group__value  li::before {
    content: counter(my-counter) ".";
    @extend .list-element;
}

ul.entity-group__value li::before {
    content: "-";
    @extend .list-element;
}

.entity-group__value .entity-group {
    margin: 0;
    margin-bottom: 1rem;
}

.entity-group__value .entity-group:last-child {
    margin-bottom: 0;
}

.entity-group__value .entity-group:first-child::before {
    content: "{";
    color: grey;
    font-weight: bold;
}

.entity-group__value .entity-group:not(first-child)::before {
    content: "";
    width: 1rem;
}

.entity-group__value .entity-group:last-child::after {
    content: "}";
    display: flex;
    height: 100%;
    color: grey;
    margin-left: 0.6rem;
    font-weight: bold;
}

    // apply to only first level keys
    .entity-map > .entity-group > .entity-group__key {
    margin-right: 1rem;
    font-weight: bold;
}

 .entity-map > .entity-group > .entity-group__key {
    margin-right: 1rem;
    font-weight: bold;
}

.entity-group__value li:not(:last-child) {
    margin-bottom: 1rem;
}

.entity-map__container {
    display: flex;
    align-items: flex-start;
}

.entity-histories__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.entity-history__container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.common-entity-box {
    padding: 1rem;
    border-radius: 0.7rem;
    white-space: pre-wrap;
    box-shadow: 0 0 12px 0px rgba(10, 10, 10, 0.1);
}

.entity-map, .entity-history {
    width: fit-content;
    margin-right: 4rem;
    @extend .common-entity-box;
}

.entity-vt-tt {
    @extend .common-entity-box;
}

.entity-vt-tt__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.entity-vt-tt__value:not(:last-child) {
    margin-bottom: 1rem;
}

@keyframes rotating {
    from {
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotating {
    from {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
    }
    to {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

.entity-map--loading {
    min-height: 50vh;
}

.entity-map__load-icon {
    @extend .rotating;
}

.back-button {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
}

.back-button__text {
    margin-left: 0.5em;
}

.left-pane {
    margin-right: 1rem;
    max-width: 30%;
}

.hide-button {
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.hidden-pane {
    display: flex;
    min-width: 3rem;
    margin-bottom: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}

.hidden-pane:hover {
    background: darkgray;
}

.right-pane {
    flex-grow: 1;
}

.pane-toggled {
    display: block;
}

.pane-untoggled {
    display: none;
}

.pane-nav {
    display: flex;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 15px -8px rgba(0,0,0,0.51);
}

.pane-nav__tab {
    flex-grow: 1;
    cursor: pointer;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.pane-nav__tab--hover:hover {
    background: #dfdfdf;
}

.pane-nav__tab--active {
    color: white;
    background: #979797;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.footer {
    overflow: hidden;
    margin-top: 10rem;
    padding: 1rem;
    background: #333333;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer__juxt-logo {
    width: 4rem;
    margin-bottom: 1rem;
}

.footer__juxt-info {
    font-size: 0.6rem;
    color: white;
}
