.clj-kondo
.lsp
target/
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
**/.DS_Store
.DS_Store
../.DS_Store
protoc-gen-grpc-java-1.43.2-osx-x86_64.exe