{:log [:kafka {:topic-name #env XTDB_TOPIC_NAME
               :bootstrap-servers #env KAFKA_BOOTSTRAP_SERVERS}]
 
 :storage [:remote {:object-store [:s3 {:bucket #env XTDB_S3_BUCKET,
                                        :prefix "xtdb-object-store"
                                        :sns-topic-arn #env XTDB_SNS_TOPIC}]
                    :local-disk-cache "/var/lib/xtdb/buffers"}]
 
 :http-server {:port 3000}}
