{:paths ["src/main/clojure"]

 :deps {com.xtdb.labs/core2-api {:local/root "../../api"}
        com.xtdb.labs/core2-core {:local/root "../../core"}

        com.cognitect/transit-clj {:mvn/version "1.0.324"}}}
