{:paths ["src/main/clojure"]

 :deps {com.xtdb.labs/xtdb-api {:local/root "../../api"}
        com.xtdb.labs/xtdb-core {:local/root "../../core"}

        com.cognitect/transit-clj {:mvn/version "1.0.324"}}}
