/target/
/classes/
/out/
pom.xml
pom.xml.asc
*.jar
*.class
.nrepl-port

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
buildRepl

.cpcache/
.lsp/.cache/
/_manifest
.DS_Store

/.calva/

# idea
.idea/checkstyle-idea.xml
.idea/codeStyles/*

/.kotlin/

# This directory should only contain data not checked in
src/test/resources/data/
