;; Used by the "build-codox" gradle task - can see options here: 
;; https://github.com/weavejester/codox#project-options
{:output-path "docs/dist/clojure-docs" 
 :source-paths ["api/src/main"
                "core/src/main"
                "http-client-clj/src/main"]
 :namespaces '[xtdb.api xtdb.node xtdb.client]
 :doc-files ["modules/s3/docs/module.md"]

 :name "XTDB"
 :version "2.0.0-SNAPSHOT"
 :description "XTDB is a document-oriented, dynamic, bitemporal database queryable with XTQL and SQL."
 :license {:name "MIT Licence"
           :url "https://opensource.org/license/mit/"}}
