;; Used by the "build-codox" gradle task - can see options here: 
;; https://github.com/weavejester/codox#project-options
{:output-path "docs/public/drivers/clojure/codox"
 :source-paths ["api/src/main" "core/src/main"]
 :namespaces '[xtdb.api xtdb.node]

 :name "XTDB"
 :version "2.x-SNAPSHOT"
 :description "XTDB is a document-oriented, dynamic, bitemporal database queryable with XTQL and SQL."
 :license {:name "MPL Licence"
           :url "https://opensource.org/license/mpl-2-0/"}}
