;; Used by the "build-codox" gradle task - can see options here: 
;; https://github.com/weavejester/codox#project-options
{:output-path "docs/public/sdks/clojure"
 :source-paths ["api/src/main"
                "core/src/main"
                "http-client-jvm/src/main"]
 :namespaces '[xtdb.api xtdb.node xtdb.client]
 :doc-files ["modules/kafka/docs/kafka-module.md"
             "modules/s3/docs/s3-module.md"]

 :name "XTDB"
 :version "2.0.0-SNAPSHOT"
 :description "XTDB is a document-oriented, dynamic, bitemporal database queryable with XTQL and SQL."
 :license {:name "MPL Licence"
           :url "https://opensource.org/license/mpl-2-0/"}}
