[:project
 {:projections [{foo_id foo.3/_id} {baz_id baz.4/_id}]}
 [:mega-join
  {:conditions []}
  [[:rename {:prefix foo.3} [:project
     {:projections [{_id bar.1/_id}]}
     [:rename {:prefix bar.1} [:scan {:table #xt/table bar, :columns [{_id (== _id 5)}]}]]]]
   [:rename {:prefix baz.4} [:project
     {:projections [{_id bar.1/_id}]}
     [:rename {:prefix bar.1} [:scan {:table #xt/table bar, :columns [{_id (== _id 5)}]}]]]]]]]
