{:deps
 {software.amazon.awscdk/core {:mvn/version "1.94.1"}
  software.amazon.awscdk/cloudwatch {:mvn/version "1.94.1"}
  software.amazon.awscdk/cloudwatch-actions {:mvn/version "1.94.1"}
  software.amazon.awscdk/sns {:mvn/version "1.94.1"}
  software.amazon.awscdk/sns-subscriptions {:mvn/version "1.94.1"}}}
