[:rename
 {x4 p_brand, x5 p_type, x6 p_size, x16 supplier_cnt}
 [:order-by
  [[x16 {:direction :desc, :null-ordering :nulls-last}]
   [x4 {:direction :asc, :null-ordering :nulls-last}]
   [x5 {:direction :asc, :null-ordering :nulls-last}]
   [x6 {:direction :asc, :null-ordering :nulls-last}]]
  [:group-by
   [x4 x5 x6 {x16 (count-distinct x1)}]
   [:mega-join
    [{x2 x7}]
    [[:anti-join
      [(or (= x1 x12) (nil? x1) (nil? x12))]
      [:rename
       {ps_suppkey x1, ps_partkey x2}
       [:scan {:table partsupp} [ps_suppkey ps_partkey]]]
      [:rename
       {s_suppkey x12, s_comment x13}
       [:scan
        {:table supplier}
        [s_suppkey
         {s_comment (like s_comment "%Customer%Complaints%")}]]]]
     [:semi-join
      [{x6 x9}]
      [:rename
       {p_brand x4, p_type x5, p_size x6, p_partkey x7}
       [:scan
        {:table part}
        [{p_brand (<> p_brand "Brand#45")}
         {p_type (not (like p_type "MEDIUM POLISHED%"))}
         p_size
         p_partkey]]]
      [:table
       [x9]
       [{x9 49}
        {x9 14}
        {x9 23}
        {x9 45}
        {x9 19}
        {x9 3}
        {x9 36}
        {x9 9}]]]]]]]]
