{:paths ["src" "resources" "target/classes"]
 :mvn/repos {"ossrh-snapshots" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}

        ;; XTDB v2
        com.xtdb/xtdb-api {:mvn/version "2.0.0-SNAPSHOT"}
        com.xtdb/xtdb-core {:mvn/version "2.0.0-SNAPSHOT"}
        com.xtdb/xtdb-http-client-jvm {:mvn/version "2.0.0-SNAPSHOT"}

        ;; Kafka Connect (provided)
        org.apache.kafka/connect-api {:mvn/version "3.8.0"}

        org.clojure/tools.logging {:mvn/version "1.2.4"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        org.slf4j/slf4j-api {:mvn/version "1.7.36"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "-Dio.netty.tryReflectionSetAccessible=true"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}}}
