{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        yada {:mvn/version "1.2.15"}
        integrant {:mvn/version "0.6.3"}
        juxt.edge/edge.system {:local/root "../edge.system"}}}
