table {
    font-family: monospace;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-weight:bold;
}

th, td {
    padding-right: 10px;
    padding-left: 10px;
}

div {
    display: inline-block
}

span {
    padding-right: 20px;
    font-size: 14px;
    font-family: monospace;
}

dl {
    font-family: monospace;
    font-size: 18px;
}
