{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 6,
                   :bytes
                   {:bloom
                    #bytes "3a300000180000000000000004000200090001000b0000000d000000110000001200000014000000160000001b0000001e0000001f000000210000002200000024000200250000002b0000003000010032000000360000003700000038000000390000003e000000c8000000ca000000d0000000d4000000d6000000d8000000da000000dc000000de000000e0000000e2000000e4000000e6000000e8000000ea000000f0000000f2000000f4000000f8000000fa000000fc000000fe0000000001000002010000057f43071d2fa77e0e30a137837a9e509dfe5d46ce56017698466104a0ead38c62365807e2566ca6c4fcbbfb49d342f8a2849f9db3ce7f0198e97dbe"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 6,
                   :date-times {:min 1.5778368E9, :max 1.5782688E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 6,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 6,
                   :date-times {:min 1.5778368E9, :max 1.5782688E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 6,
                   :numbers {:min 0.0, :max 9121.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 6,
                   :date-times {:min 1.5778368E9, :max 1.5782688E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 6,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 1,
                   :transit true}]}]}])}
