{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null]}
               {"branch-iid" [:list [:? :i32]]}
               {"leaf"
                [:struct
                 {"data-page-idx" :i32}
                 {"columns"
                  [:list
                   {"col"
                    [:struct
                     {"col-name" :utf8}
                     {"root-col?" :bool}
                     {"count" :i64}
                     {"bytes" [:? :struct {"bloom" [:? :varbinary]}]}
                     {"date-times"
                      [:? :struct {"min" :f64} {"max" :f64}]}
                     {"numbers" [:? :struct {"min" :f64} {"max" :f64}]}
                     {"bool" [:? :bool]}
                     {"struct" [:? :list :i32]}
                     {"transit" [:? :bool]}]}]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 6,
                   :bytes
                   {:bloom
                    #bytes "3a3000001c0000000000000001000000030000000400000006000000070000000a0001000c0000000d00000010000000110000001600000017000000180000001e0000002200000023000000270000002a0000002b000000320001003400000036000000380000003a0000003b0000003d0000003e000000e8000000ea000000ec000000ee000000f0000000f2000000f4000000f8000000fa000000fc000000fe00000000010000020100000401000006010000080100000a0100000c0100000e010000100100001201000016010000180100001a0100001c0100001e0100002001000022010000287ab4da47e6430781796652539585be02d1f4354fe89dfe489450c7974e61043d93bdc6db55ad23bbfb294c69976ba42ba57f018657c3f8090e5e96"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 6,
                   :date-times {:min 1.5778368E9, :max 1.5782688E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 6,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 6,
                   :date-times {:min 1.5778368E9, :max 1.5782688E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 6,
                   :numbers {:min 0.0, :max 12629.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 6,
                   :date-times {:min 1.5778368E9, :max 1.5782688E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 6,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 1,
                   :transit true}]}]}])}
