apiVersion: v1
kind: Service
metadata:
  name: xtdb-benchmark-kafka
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: kafka
    app.kubernetes.io/component: kafka
spec:
  type: ClusterIP
  ports:
    - port: 9092
      targetPort: 9092
      name: client
  selector:
    app.kubernetes.io/name: kafka
    app.kubernetes.io/component: kafka
