[:project
 [{l_returnflag l.1/l_returnflag}
  {l_linestatus l.1/l_linestatus}
  sum_qty
  sum_base_price
  sum_disc_price
  sum_charge
  avg_qty
  avg_price
  avg_disc
  count_order]
 [:order-by
  [[l.1/l_returnflag {:direction :asc, :null-ordering :nulls-last}]
   [l.1/l_linestatus {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [l.1/l_returnflag
    l.1/l_linestatus
    {sum_qty xt$sum_out_2}
    {sum_base_price xt$sum_out_3}
    {sum_disc_price xt$sum_out_4}
    {sum_charge xt$sum_out_6}
    {avg_qty xt$avg_out_8}
    {avg_price xt$avg_out_9}
    {avg_disc xt$avg_out_10}
    {count_order xt$row_count_11}]
   [:group-by
    [l.1/l_returnflag
     l.1/l_linestatus
     {xt$sum_out_2 (sum l.1/l_quantity)}
     {xt$avg_out_10 (avg l.1/l_discount)}
     {xt$sum_out_4 (sum xt$sum_in_5)}
     {xt$sum_out_3 (sum l.1/l_extendedprice)}
     {xt$row_count_11 (row-count)}
     {xt$avg_out_8 (avg l.1/l_quantity)}
     {xt$avg_out_9 (avg l.1/l_extendedprice)}
     {xt$sum_out_6 (sum xt$sum_in_7)}]
    [:map
     [{xt$sum_in_5 (* l.1/l_extendedprice (- 1 l.1/l_discount))}
      {xt$sum_in_7
       (*
        (* l.1/l_extendedprice (- 1 l.1/l_discount))
        (+ 1 l.1/l_tax))}]
     [:rename
      l.1
      [:scan
       {:table lineitem}
       [{l_shipdate
         (<=
          l_shipdate
          (-
           #time/date "1998-12-01"
           (single-field-interval "90" "DAY" 2 6)))}
        l_discount
        l_quantity
        l_returnflag
        l_extendedprice
        l_linestatus
        l_tax]]]]]]]]
