[:top
 {:skip nil, :limit 100}
 [:project
  [{s_acctbal s.2/s_acctbal}
   {s_name s.2/s_name}
   {n_name n.4/n_name}
   {p_partkey p.1/p_partkey}
   {p_mfgr p.1/p_mfgr}
   {s_address s.2/s_address}
   {s_phone s.2/s_phone}
   {s_comment s.2/s_comment}]
  [:order-by
   [[s.2/s_acctbal {:direction :desc, :null-ordering :nulls-first}]
    [n.4/n_name {:direction :asc, :null-ordering :nulls-last}]
    [s.2/s_name {:direction :asc, :null-ordering :nulls-last}]
    [_ob12 {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [s.2/s_acctbal
     s.2/s_name
     n.4/n_name
     p.1/p_partkey
     p.1/p_mfgr
     s.2/s_address
     s.2/s_phone
     s.2/s_comment
     {_ob12 nil}]
    [:select
     (= ps.3/ps_supplycost _sq_6)
     [:single-join
      []
      [:mega-join
       []
       [[:rename
         r.5
         [:scan
          {:table #xt/table region}
          [{r_name (= r_name "EUROPE")}]]]
        [:rename
         n.4
         [:scan
          {:table #xt/table nation}
          [n_name {n_regionkey (= n_regionkey nil)}]]]
        [:rename
         ps.3
         [:scan
          {:table #xt/table partsupp}
          [{ps_partkey (= nil ps_partkey)}
           ps_supplycost
           {ps_suppkey (= nil ps_suppkey)}]]]
        [:rename
         p.1
         [:scan
          {:table #xt/table part}
          [{p_size (= p_size 15)}
           p_partkey
           p_mfgr
           {p_type (like p_type "%BRASS")}]]]
        [:rename
         s.2
         [:scan
          {:table #xt/table supplier}
          [s_comment
           s_name
           s_address
           s_phone
           s_acctbal
           {s_nationkey (= s_nationkey nil)}]]]]]
      [:project
       [{_sq_6 _min_out_11}]
       [:group-by
        [{_min_out_11 (min ps.7/ps_supplycost)}]
        [:mega-join
         []
         [[:rename
           r.10
           [:scan
            {:table #xt/table region}
            [{r_name (= r_name "EUROPE")}]]]
          [:rename
           n.9
           [:scan
            {:table #xt/table nation}
            [{n_regionkey (= n_regionkey nil)}]]]
          [:rename
           ps.7
           [:scan
            {:table #xt/table partsupp}
            [{ps_partkey (= nil ps_partkey)}
             ps_supplycost
             {ps_suppkey (= nil ps_suppkey)}]]]
          [:rename
           s.8
           [:scan
            {:table #xt/table supplier}
            [{s_nationkey (= s_nationkey nil)}]]]]]]]]]]]]]
