[:top
 {:offset nil, :limit 100}
 [:project
  [{s_acctbal s.2/s_acctbal}
   {s_name s.2/s_name}
   {n_name n.4/n_name}
   {p_partkey p.1/p_partkey}
   {p_mfgr p.1/p_mfgr}
   {s_address s.2/s_address}
   {s_phone s.2/s_phone}
   {s_comment s.2/s_comment}]
  [:order-by
   [[s.2/s_acctbal {:direction :desc, :null-ordering :nulls-first}]
    [n.4/n_name {:direction :asc, :null-ordering :nulls-last}]
    [s.2/s_name {:direction :asc, :null-ordering :nulls-last}]
    [p.1/p_partkey {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [s.2/s_acctbal
     s.2/s_name
     n.4/n_name
     p.1/p_partkey
     p.1/p_mfgr
     s.2/s_address
     s.2/s_phone
     s.2/s_comment]
    [:map
     [{xt$sq_6 xt$min_out_12}]
     [:select
      (= ps.3/ps_supplycost xt$min_out_12)
      [:group-by
       [p.1/p_partkey
        p.1/p_type
        p.1/p_size
        p.1/p_mfgr
        s.2/s_name
        s.2/s_acctbal
        s.2/s_address
        s.2/s_nationkey
        s.2/s_phone
        s.2/s_comment
        s.2/s_suppkey
        ps.3/ps_partkey
        ps.3/ps_suppkey
        ps.3/ps_supplycost
        n.4/n_nationkey
        n.4/n_name
        n.4/n_regionkey
        r.5/r_name
        r.5/r_regionkey
        xt$row_number_0
        {xt$min_out_12 (min ps.7/ps_supplycost)}]
       [:left-outer-join
        [{p.1/p_partkey ps.7/ps_partkey}]
        [:map
         [{xt$row_number_0 (row-number)}]
         [:mega-join
          [{n.4/n_regionkey r.5/r_regionkey}
           {s.2/s_nationkey n.4/n_nationkey}
           {p.1/p_partkey ps.3/ps_partkey}
           {s.2/s_suppkey ps.3/ps_suppkey}]
          [[:rename
            r.5
            [:scan
             {:table region}
             [{r_name (= r_name "EUROPE")} r_regionkey]]]
           [:rename
            n.4
            [:scan {:table nation} [n_nationkey n_name n_regionkey]]]
           [:rename
            ps.3
            [:scan
             {:table partsupp}
             [ps_partkey ps_suppkey ps_supplycost]]]
           [:rename
            p.1
            [:scan
             {:table part}
             [p_partkey
              {p_type (like p_type "%BRASS")}
              {p_size (= p_size 15)}
              p_mfgr]]]
           [:rename
            s.2
            [:scan
             {:table supplier}
             [s_name
              s_acctbal
              s_address
              s_nationkey
              s_phone
              s_comment
              s_suppkey]]]]]]
        [:mega-join
         [{n.9/n_regionkey r.10/r_regionkey}
          {s.8/s_nationkey n.9/n_nationkey}
          {ps.7/ps_suppkey s.8/s_suppkey}]
         [[:rename
           r.10
           [:scan
            {:table region}
            [{r_name (= r_name "EUROPE")} r_regionkey]]]
          [:rename
           n.9
           [:scan {:table nation} [n_nationkey n_regionkey]]]
          [:rename
           ps.7
           [:scan
            {:table partsupp}
            [ps_partkey ps_suppkey ps_supplycost]]]
          [:rename
           s.8
           [:scan {:table supplier} [s_nationkey s_suppkey]]]]]]]]]]]]]
