[:rename
 {x9 l_orderkey, x15 revenue, x4 o_orderdate, x5 o_shippriority}
 [:project
  [x9 x15 x4 x5]
  [:top
   {:limit 10}
   [:order-by
    [[x15 {:direction :desc, :null-ordering :nulls-last}]
     [x4 {:direction :asc, :null-ordering :nulls-last}]]
    [:group-by
     [x9 x4 x5 {x15 (sum x14)}]
     [:map
      [{x14 (* x10 (- 1 x11))}]
      [:mega-join
       [{x7 x9} {x2 x6}]
       [[:rename
         {l_orderkey x9,
          l_extendedprice x10,
          l_discount x11,
          l_shipdate x12}
         [:scan
          {:table lineitem}
          [l_orderkey
           l_extendedprice
           l_discount
           {l_shipdate (> l_shipdate #time/date "1995-03-15")}]]]
        [:rename
         {c_mktsegment x1, c_custkey x2}
         [:scan
          {:table customer}
          [{c_mktsegment (= c_mktsegment "BUILDING")} c_custkey]]]
        [:rename
         {o_orderdate x4,
          o_shippriority x5,
          o_custkey x6,
          o_orderkey x7}
         [:scan
          {:table orders}
          [{o_orderdate (< o_orderdate #time/date "1995-03-15")}
           o_shippriority
           o_custkey
           o_orderkey]]]]]]]]]]]
