[:top
 {:skip nil, :limit 10}
 [:project
  [{l_orderkey l.3/l_orderkey}
   revenue
   {o_orderdate o.2/o_orderdate}
   {o_shippriority o.2/o_shippriority}]
  [:order-by
   [[revenue {:direction :desc, :null-ordering :nulls-first}]
    [o.2/o_orderdate {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [l.3/l_orderkey
     {revenue _sum_out_4}
     o.2/o_orderdate
     o.2/o_shippriority]
    [:group-by
     [l.3/l_orderkey
      o.2/o_orderdate
      o.2/o_shippriority
      {_sum_out_4 (sum _sum_in_5)}]
     [:map
      [{_sum_in_5 (* l.3/l_extendedprice (- 1 l.3/l_discount))}]
      [:mega-join
       [{o.2/o_orderkey l.3/l_orderkey} {c.1/c_custkey o.2/o_custkey}]
       [[:rename
         l.3
         [:scan
          {:table public/lineitem}
          [l_orderkey
           {l_shipdate (> l_shipdate #xt/date "1995-03-15")}
           l_extendedprice
           l_discount]]]
        [:rename
         c.1
         [:scan
          {:table public/customer}
          [c_custkey {c_mktsegment (= c_mktsegment "BUILDING")}]]]
        [:rename
         o.2
         [:scan
          {:table public/orders}
          [{o_orderdate (< o_orderdate #xt/date "1995-03-15")}
           o_orderkey
           o_shippriority
           o_custkey]]]]]]]]]]]
