[:project
 [{o_orderpriority o.1/o_orderpriority} order_count]
 [:order-by
  [[o.1/o_orderpriority {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [o.1/o_orderpriority {order_count _row_count_5}]
   [:group-by
    [o.1/o_orderpriority {_row_count_5 (row-count)}]
    [:map
     [{_sq_2 true}]
     [:semi-join
      [{o.1/o_orderkey l_orderkey}]
      [:rename
       o.1
       [:scan
        {:table public/orders}
        [o_orderpriority
         {o_orderdate
          (and
           (<
            o_orderdate
            (+
             #xt/date "1993-07-01"
             (single-field-interval "3" "MONTH" 2 6)))
           (>= o_orderdate #xt/date "1993-07-01"))}
         o_orderkey]]]
      [:project
       [{l_comment l.3/l_comment}
        {l_commitdate l.3/l_commitdate}
        {l_discount l.3/l_discount}
        {l_extendedprice l.3/l_extendedprice}
        {l_linenumber l.3/l_linenumber}
        {l_linestatus l.3/l_linestatus}
        {l_orderkey l.3/l_orderkey}
        {l_partkey l.3/l_partkey}
        {l_quantity l.3/l_quantity}
        {l_receiptdate l.3/l_receiptdate}
        {l_returnflag l.3/l_returnflag}
        {l_shipdate l.3/l_shipdate}
        {l_shipinstruct l.3/l_shipinstruct}
        {l_shipmode l.3/l_shipmode}
        {l_suppkey l.3/l_suppkey}
        {l_tax l.3/l_tax}]
       [:rename
        l.3
        [:select
         (< l_commitdate l_receiptdate)
         [:scan
          {:table public/lineitem}
          [l_linestatus
           l_receiptdate
           l_commitdate
           l_tax
           l_orderkey
           l_shipdate
           l_comment
           l_returnflag
           l_extendedprice
           l_linenumber
           l_quantity
           l_shipinstruct
           l_suppkey
           l_shipmode
           l_discount
           l_partkey]]]]]]]]]]]
