[:project
 [{revenue _sum_out_2}]
 [:group-by
  [{_sum_out_2 (sum _sum_in_3)}]
  [:map
   [{_sum_in_3 (* l.1/l_extendedprice l.1/l_discount)}]
   [:rename
    l.1
    [:scan
     {:table public/lineitem}
     [{l_shipdate
       (and
        (<
         l_shipdate
         (+
          #xt/date "1994-01-01"
          (single-field-interval "1" "YEAR" 2 6)))
        (>= l_shipdate #xt/date "1994-01-01"))}
      l_extendedprice
      {l_quantity (< l_quantity 24)}
      {l_discount (between l_discount 0.05 0.07)}]]]]]]
