[:project
 [{supp_nation shipping.7/supp_nation}
  {cust_nation shipping.7/cust_nation}
  {l_year shipping.7/l_year}
  revenue]
 [:order-by
  [[shipping.7/supp_nation
    {:direction :asc, :null-ordering :nulls-last}]
   [shipping.7/cust_nation
    {:direction :asc, :null-ordering :nulls-last}]
   [shipping.7/l_year {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [shipping.7/supp_nation
    shipping.7/cust_nation
    shipping.7/l_year
    {revenue _sum_out_8}]
   [:group-by
    [shipping.7/supp_nation
     shipping.7/cust_nation
     shipping.7/l_year
     {_sum_out_8 (sum shipping.7/volume)}]
    [:rename
     shipping.7
     [:project
      [{supp_nation n1.5/n_name}
       {cust_nation n2.6/n_name}
       {l_year (extract "YEAR" l.2/l_shipdate)}
       {volume (* l.2/l_extendedprice (- 1 l.2/l_discount))}]
      [:mega-join
       [{c.4/c_nationkey n2.6/n_nationkey}
        (or
         (and (= n1.5/n_name "FRANCE") (= n2.6/n_name "GERMANY"))
         (and (= n1.5/n_name "GERMANY") (= n2.6/n_name "FRANCE")))
        {s.1/s_nationkey n1.5/n_nationkey}
        {o.3/o_custkey c.4/c_custkey}
        {l.2/l_orderkey o.3/o_orderkey}
        {s.1/s_suppkey l.2/l_suppkey}]
       [[:rename
         n2.6
         [:scan {:table public/nation} [n_name n_nationkey]]]
        [:rename
         n1.5
         [:scan {:table public/nation} [n_name n_nationkey]]]
        [:rename
         c.4
         [:scan {:table public/customer} [c_custkey c_nationkey]]]
        [:rename
         o.3
         [:scan {:table public/orders} [o_orderkey o_custkey]]]
        [:rename
         s.1
         [:scan {:table public/supplier} [s_suppkey s_nationkey]]]
        [:rename
         l.2
         [:scan
          {:table public/lineitem}
          [l_orderkey
           {l_shipdate
            (between
             l_shipdate
             #xt/date "1995-01-01"
             #xt/date "1996-12-31")}
           l_extendedprice
           l_suppkey
           l_discount]]]]]]]]]]]
