[:project
 [{o_year all_nations.9/o_year} mkt_share]
 [:order-by
  [[all_nations.9/o_year
    {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [all_nations.9/o_year {mkt_share (/ xt$sum_out_10 xt$sum_out_12)}]
   [:group-by
    [all_nations.9/o_year
     {xt$sum_out_12 (sum all_nations.9/volume)}
     {xt$sum_out_10 (sum xt$sum_in_11)}]
    [:map
     [{xt$sum_in_11
       (cond
        (= all_nations.9/nation "BRAZIL")
        all_nations.9/volume
        0)}]
     [:rename
      all_nations.9
      [:project
       [{o_year (extract "YEAR" o.4/o_orderdate)}
        {volume (* l.3/l_extendedprice (- 1 l.3/l_discount))}
        {nation n2.7/n_name}]
       [:mega-join
        [{n1.6/n_regionkey r.8/r_regionkey}
         {s.2/s_nationkey n2.7/n_nationkey}
         {c.5/c_nationkey n1.6/n_nationkey}
         {o.4/o_custkey c.5/c_custkey}
         {l.3/l_orderkey o.4/o_orderkey}
         {p.1/p_partkey l.3/l_partkey}
         {s.2/s_suppkey l.3/l_suppkey}]
        [[:rename
          r.8
          [:scan
           {:table region}
           [{r_name (= r_name "AMERICA")} r_regionkey]]]
         [:rename n2.7 [:scan {:table nation} [n_nationkey n_name]]]
         [:rename
          n1.6
          [:scan {:table nation} [n_nationkey n_regionkey]]]
         [:rename
          c.5
          [:scan {:table customer} [c_nationkey c_custkey]]]
         [:rename
          o.4
          [:scan
           {:table orders}
           [o_custkey
            {o_orderdate
             (between
              o_orderdate
              #time/date "1995-01-01"
              #time/date "1996-12-31")}
            o_orderkey]]]
         [:rename
          l.3
          [:scan
           {:table lineitem}
           [l_partkey
            l_discount
            l_suppkey
            l_orderkey
            l_extendedprice]]]
         [:rename
          p.1
          [:scan
           {:table part}
           [p_partkey {p_type (= p_type "ECONOMY ANODIZED STEEL")}]]]
         [:rename
          s.2
          [:scan {:table supplier} [s_nationkey s_suppkey]]]]]]]]]]]]
