[:project
 [{o_year all_nations.9/o_year} mkt_share]
 [:order-by
  [[all_nations.9/o_year
    {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [all_nations.9/o_year {mkt_share (/ _sum_out_10 _sum_out_12)}]
   [:group-by
    [all_nations.9/o_year
     {_sum_out_10 (sum _sum_in_11)}
     {_sum_out_12 (sum all_nations.9/volume)}]
    [:map
     [{_sum_in_11
       (cond
        (= all_nations.9/nation "BRAZIL")
        all_nations.9/volume
        0)}]
     [:rename
      all_nations.9
      [:project
       [{o_year (extract "YEAR" o.4/o_orderdate)}
        {volume (* l.3/l_extendedprice (- 1 l.3/l_discount))}
        {nation n2.7/n_name}]
       [:mega-join
        [{n1.6/n_regionkey r.8/r_regionkey}
         {s.2/s_nationkey n2.7/n_nationkey}
         {c.5/c_nationkey n1.6/n_nationkey}
         {o.4/o_custkey c.5/c_custkey}
         {l.3/l_orderkey o.4/o_orderkey}
         {p.1/p_partkey l.3/l_partkey}
         {s.2/s_suppkey l.3/l_suppkey}]
        [[:rename
          r.8
          [:scan
           {:table public/region}
           [r_regionkey {r_name (= r_name "AMERICA")}]]]
         [:rename
          n2.7
          [:scan {:table public/nation} [n_name n_nationkey]]]
         [:rename
          n1.6
          [:scan {:table public/nation} [n_regionkey n_nationkey]]]
         [:rename
          c.5
          [:scan {:table public/customer} [c_custkey c_nationkey]]]
         [:rename
          o.4
          [:scan
           {:table public/orders}
           [{o_orderdate
             (between
              o_orderdate
              #xt/date "1995-01-01"
              #xt/date "1996-12-31")}
            o_orderkey
            o_custkey]]]
         [:rename
          l.3
          [:scan
           {:table public/lineitem}
           [l_orderkey
            l_extendedprice
            l_suppkey
            l_discount
            l_partkey]]]
         [:rename
          p.1
          [:scan
           {:table public/part}
           [p_partkey {p_type (= p_type "ECONOMY ANODIZED STEEL")}]]]
         [:rename
          s.2
          [:scan
           {:table public/supplier}
           [s_suppkey s_nationkey]]]]]]]]]]]]
