[:project
 [{nation profit.7/nation} {o_year profit.7/o_year} sum_profit]
 [:order-by
  [[profit.7/nation {:direction :asc, :null-ordering :nulls-last}]
   [profit.7/o_year {:direction :desc, :null-ordering :nulls-first}]]
  [:project
   [profit.7/nation profit.7/o_year {sum_profit _sum_out_8}]
   [:group-by
    [profit.7/nation
     profit.7/o_year
     {_sum_out_8 (sum profit.7/amount)}]
    [:rename
     profit.7
     [:project
      [{nation n.6/n_name}
       {o_year (extract "YEAR" o.5/o_orderdate)}
       {amount
        (-
         (* l.3/l_extendedprice (- 1 l.3/l_discount))
         (* ps.4/ps_supplycost l.3/l_quantity))}]
      [:mega-join
       [{s.2/s_nationkey n.6/n_nationkey}
        {l.3/l_orderkey o.5/o_orderkey}
        {l.3/l_suppkey ps.4/ps_suppkey}
        {l.3/l_partkey ps.4/ps_partkey}
        {s.2/s_suppkey l.3/l_suppkey}
        {p.1/p_partkey l.3/l_partkey}]
       [[:rename
         n.6
         [:scan {:table public/nation} [n_name n_nationkey]]]
        [:rename
         o.5
         [:scan {:table public/orders} [o_orderdate o_orderkey]]]
        [:rename
         ps.4
         [:scan
          {:table public/partsupp}
          [ps_partkey ps_supplycost ps_suppkey]]]
        [:rename
         l.3
         [:scan
          {:table public/lineitem}
          [l_orderkey
           l_extendedprice
           l_quantity
           l_suppkey
           l_discount
           l_partkey]]]
        [:rename
         p.1
         [:scan
          {:table public/part}
          [p_partkey {p_name (like p_name "%green%")}]]]
        [:rename
         s.2
         [:scan
          {:table public/supplier}
          [s_suppkey s_nationkey]]]]]]]]]]]
