[:top
 {:skip nil, :limit 20}
 [:project
  [{c_custkey c.1/c_custkey}
   {c_name c.1/c_name}
   revenue
   {c_acctbal c.1/c_acctbal}
   {n_name n.4/n_name}
   {c_address c.1/c_address}
   {c_phone c.1/c_phone}
   {c_comment c.1/c_comment}]
  [:order-by
   [[revenue {:direction :desc, :null-ordering :nulls-first}]]
   [:project
    [c.1/c_custkey
     c.1/c_name
     {revenue _sum_out_5}
     c.1/c_acctbal
     n.4/n_name
     c.1/c_address
     c.1/c_phone
     c.1/c_comment]
    [:group-by
     [n.4/n_name
      c.1/c_custkey
      c.1/c_comment
      c.1/c_acctbal
      c.1/c_phone
      c.1/c_name
      c.1/c_address
      {_sum_out_5 (sum _sum_in_6)}]
     [:map
      [{_sum_in_6 (* l.3/l_extendedprice (- 1 l.3/l_discount))}]
      [:mega-join
       [{c.1/c_nationkey n.4/n_nationkey}
        {o.2/o_orderkey l.3/l_orderkey}
        {c.1/c_custkey o.2/o_custkey}]
       [[:rename
         n.4
         [:scan {:table public/nation} [n_name n_nationkey]]]
        [:rename
         l.3
         [:scan
          {:table public/lineitem}
          [l_orderkey
           {l_returnflag (= l_returnflag "R")}
           l_extendedprice
           l_discount]]]
        [:rename
         c.1
         [:scan
          {:table public/customer}
          [c_phone
           c_acctbal
           c_address
           c_custkey
           c_nationkey
           c_comment
           c_name]]]
        [:rename
         o.2
         [:scan
          {:table public/orders}
          [{o_orderdate
            (and
             (<
              o_orderdate
              (+
               #xt/date "1993-10-01"
               (single-field-interval "3" "MONTH" 2 6)))
             (>= o_orderdate #xt/date "1993-10-01"))}
           o_orderkey
           o_custkey]]]]]]]]]]]
