[:project
 [{ps_partkey ps.1/ps_partkey} value]
 [:order-by
  [[value {:direction :desc, :null-ordering :nulls-first}]]
  [:project
   [ps.1/ps_partkey {value _sum_out_12}]
   [:select
    (> _sum_out_4 _sq_6)
    [:single-join
     []
     [:group-by
      [ps.1/ps_partkey
       {_sum_out_12 (sum _sum_in_13)}
       {_sum_out_4 (sum _sum_in_5)}]
      [:map
       [{_sum_in_13 (* ps.1/ps_supplycost ps.1/ps_availqty)}
        {_sum_in_5 (* ps.1/ps_supplycost ps.1/ps_availqty)}]
       [:mega-join
        [{s.2/s_nationkey n.3/n_nationkey}
         {ps.1/ps_suppkey s.2/s_suppkey}]
        [[:rename
          n.3
          [:scan
           {:table public/nation}
           [{n_name (= n_name "GERMANY")} n_nationkey]]]
         [:rename
          ps.1
          [:scan
           {:table public/partsupp}
           [ps_partkey ps_supplycost ps_availqty ps_suppkey]]]
         [:rename
          s.2
          [:scan {:table public/supplier} [s_suppkey s_nationkey]]]]]]]
     [:project
      [{_sq_6 (* _sum_out_10 1.0E-4)}]
      [:group-by
       [{_sum_out_10 (sum _sum_in_11)}]
       [:map
        [{_sum_in_11 (* ps.7/ps_supplycost ps.7/ps_availqty)}]
        [:mega-join
         [{s.8/s_nationkey n.9/n_nationkey}
          {ps.7/ps_suppkey s.8/s_suppkey}]
         [[:rename
           n.9
           [:scan
            {:table public/nation}
            [{n_name (= n_name "GERMANY")} n_nationkey]]]
          [:rename
           ps.7
           [:scan
            {:table public/partsupp}
            [ps_supplycost ps_availqty ps_suppkey]]]
          [:rename
           s.8
           [:scan
            {:table public/supplier}
            [s_suppkey s_nationkey]]]]]]]]]]]]]
