[:project
 [{l_shipmode l.2/l_shipmode} high_line_count low_line_count]
 [:order-by
  [[l.2/l_shipmode {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [l.2/l_shipmode
    {high_line_count xt$sum_out_5}
    {low_line_count xt$sum_out_7}]
   [:group-by
    [l.2/l_shipmode
     {xt$sum_out_5 (sum xt$sum_in_6)}
     {xt$sum_out_7 (sum xt$sum_in_8)}]
    [:map
     [{xt$sum_in_6
       (cond
        (or
         (= o.1/o_orderpriority "1-URGENT")
         (= o.1/o_orderpriority "2-HIGH"))
        1
        0)}
      {xt$sum_in_8
       (cond
        (and
         (<> o.1/o_orderpriority "1-URGENT")
         (<> o.1/o_orderpriority "2-HIGH"))
        1
        0)}]
     [:map
      [{xt$sq_3 true}]
      [:mega-join
       [{o.1/o_orderkey l.2/l_orderkey}]
       [[:rename
         o.1
         [:scan {:table orders} [o_orderkey o_orderpriority]]]
        [:semi-join
         [{l.2/l_shipmode xt.values.4/xt$column_1}]
         [:rename
          l.2
          [:select
           (and
            (< l_commitdate l_receiptdate)
            (< l_shipdate l_commitdate))
           [:scan
            {:table lineitem}
            [l_shipdate
             {l_receiptdate
              (and
               (<
                l_receiptdate
                (+
                 #time/date "1994-01-01"
                 (single-field-interval "1" "YEAR" 2 6)))
               (>= l_receiptdate #time/date "1994-01-01"))}
             l_orderkey
             l_commitdate
             l_shipmode]]]]
         [:rename
          xt.values.4
          [:table
           [xt$column_1]
           [{:xt$column_1 "MAIL"} {:xt$column_1 "SHIP"}]]]]]]]]]]]]
