[:project
 [{l_shipmode l.2/l_shipmode} high_line_count low_line_count]
 [:order-by
  [[l.2/l_shipmode {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [l.2/l_shipmode
    {high_line_count _sum_out_5}
    {low_line_count _sum_out_7}]
   [:group-by
    [l.2/l_shipmode
     {_sum_out_7 (sum _sum_in_8)}
     {_sum_out_5 (sum _sum_in_6)}]
    [:map
     [{_sum_in_8
       (cond
        (and
         (<> o.1/o_orderpriority "1-URGENT")
         (<> o.1/o_orderpriority "2-HIGH"))
        1
        0)}
      {_sum_in_6
       (cond
        (or
         (= o.1/o_orderpriority "1-URGENT")
         (= o.1/o_orderpriority "2-HIGH"))
        1
        0)}]
     [:map
      [{_sq_3 true}]
      [:mega-join
       [{o.1/o_orderkey l.2/l_orderkey}]
       [[:rename
         o.1
         [:scan {:table public/orders} [o_orderpriority o_orderkey]]]
        [:semi-join
         [{l.2/l_shipmode xt.values.4/_column_1}]
         [:rename
          l.2
          [:select
           (and
            (< l_commitdate l_receiptdate)
            (< l_shipdate l_commitdate))
           [:scan
            {:table public/lineitem}
            [{l_receiptdate
              (and
               (<
                l_receiptdate
                (+
                 #xt/date "1994-01-01"
                 (single-field-interval "1" "YEAR" 2 6)))
               (>= l_receiptdate #xt/date "1994-01-01"))}
             l_commitdate
             l_orderkey
             l_shipdate
             l_shipmode]]]]
         [:rename
          xt.values.4
          [:table
           [_column_1]
           [{:_column_1 "MAIL"} {:_column_1 "SHIP"}]]]]]]]]]]]]
