[:project
 [{c_count c_orders.5/c_count} custdist]
 [:order-by
  [[custdist {:direction :desc, :null-ordering :nulls-first}]
   [c_orders.5/c_count
    {:direction :desc, :null-ordering :nulls-first}]]
  [:project
   [c_orders.5/c_count {custdist xt$row_count_6}]
   [:group-by
    [c_orders.5/c_count {xt$row_count_6 (row-count)}]
    [:rename
     c_orders.5
     [:rename
      {c.1/c_custkey c_custkey, xt$column_2 c_count}
      [:project
       [c.1/c_custkey {xt$column_2 xt$count_out_3}]
       [:group-by
        [c.1/c_custkey {xt$count_out_3 (count o.2/o_orderkey)}]
        [:left-outer-join
         [{c.1/c_custkey o.2/o_custkey}
          (not (like o.2/o_comment "%special%requests%"))]
         [:rename c.1 [:scan {:table customer} [c_custkey]]]
         [:rename
          o.2
          [:scan
           {:table orders}
           [o_custkey o_orderkey o_comment]]]]]]]]]]]]
