[:project
 [{promo_revenue (/ (* 100.0 _sum_out_3) _sum_out_5)}]
 [:group-by
  [{_sum_out_5 (sum _sum_in_6)} {_sum_out_3 (sum _sum_in_4)}]
  [:map
   [{_sum_in_6 (* l.1/l_extendedprice (- 1 l.1/l_discount))}
    {_sum_in_4
     (cond
      (like p.2/p_type "PROMO%")
      (* l.1/l_extendedprice (- 1 l.1/l_discount))
      0)}]
   [:mega-join
    [{l.1/l_partkey p.2/p_partkey}]
    [[:rename
      l.1
      [:scan
       {:table public/lineitem}
       [{l_shipdate
         (and
          (<
           l_shipdate
           (+
            #xt/date "1995-09-01"
            (single-field-interval "1" "MONTH" 2 6)))
          (>= l_shipdate #xt/date "1995-09-01"))}
        l_extendedprice
        l_discount
        l_partkey]]]
     [:rename p.2 [:scan {:table public/part} [p_partkey p_type]]]]]]]]
