[:project
 [{p_brand p.2/p_brand}
  {p_type p.2/p_type}
  {p_size p.2/p_size}
  supplier_cnt]
 [:order-by
  [[supplier_cnt {:direction :desc, :null-ordering :nulls-first}]
   [p.2/p_brand {:direction :asc, :null-ordering :nulls-last}]
   [p.2/p_type {:direction :asc, :null-ordering :nulls-last}]
   [p.2/p_size {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [p.2/p_brand
    p.2/p_type
    p.2/p_size
    {supplier_cnt _count_distinct_out_7}]
   [:group-by
    [p.2/p_brand
     p.2/p_type
     p.2/p_size
     {_count_distinct_out_7 (count_distinct ps.1/ps_suppkey)}]
    [:map
     [{_sq_5 true}]
     [:map
      [{_sq_3 true}]
      [:mega-join
       [{ps.1/ps_partkey p.2/p_partkey}]
       [[:anti-join
         [{ps.1/ps_suppkey s_suppkey}]
         [:rename
          ps.1
          [:scan {:table public/partsupp} [ps_partkey ps_suppkey]]]
         [:project
          [{s_suppkey s.6/s_suppkey}]
          [:rename
           s.6
           [:scan
            {:table public/supplier}
            [{s_comment (like s_comment "%Customer%Complaints%")}
             s_suppkey]]]]]
        [:semi-join
         [{p.2/p_size xt.values.4/_column_1}]
         [:rename
          p.2
          [:scan
           {:table public/part}
           [{p_brand (<> p_brand "Brand#45")}
            p_size
            p_partkey
            {p_type (not (like p_type "MEDIUM POLISHED%"))}]]]
         [:rename
          xt.values.4
          [:table
           [_column_1]
           [{:_column_1 49}
            {:_column_1 14}
            {:_column_1 23}
            {:_column_1 45}
            {:_column_1 19}
            {:_column_1 3}
            {:_column_1 36}
            {:_column_1 9}]]]]]]]]]]]]
