[:project
 {:projections [{p_brand p.2/p_brand}
  {p_type p.2/p_type}
  {p_size p.2/p_size}
  supplier_cnt]}
 [:order-by
  {:order-specs [[supplier_cnt {:direction :desc, :null-ordering :nulls-first}]
   [p.2/p_brand {:direction :asc, :null-ordering :nulls-last}]
   [p.2/p_type {:direction :asc, :null-ordering :nulls-last}]
   [p.2/p_size {:direction :asc, :null-ordering :nulls-last}]]}
  [:project
   {:projections [p.2/p_brand
    p.2/p_type
    p.2/p_size
    {supplier_cnt _count_distinct_out_7}]}
   [:group-by
    {:columns [p.2/p_brand
     p.2/p_type
     p.2/p_size
     {_count_distinct_out_7 (count_distinct ps.1/ps_suppkey)}]}
    [:map
     {:projections [{_sq_5 true}]}
     [:map
      {:projections [{_sq_3 true}]}
      [:mega-join
       {:conditions [{ps.1/ps_partkey p.2/_id}]}
       [[:anti-join
         {:conditions [{ps.1/ps_suppkey _id}]}
         [:rename
          ps.1
          [:scan {:table #xt/table partsupp, :columns [ps_partkey ps_suppkey]}]]
         [:project
          {:projections [{_id s.6/_id}]}
          [:rename
           s.6
           [:scan
            {:table #xt/table supplier, :columns [{s_comment (like s_comment "%Customer%Complaints%")}
             _id]}]]]]
        [:semi-join
         {:conditions [{p.2/p_size xt.values.4/_column_1}]}
         [:rename
          p.2
          [:scan
           {:table #xt/table part, :columns [_id
            {p_brand (<> p_brand "Brand#45")}
            p_size
            {p_type (not (like p_type "MEDIUM POLISHED%"))}]}]]
         [:rename
          xt.values.4
          [:table
           [_column_1]
           [{:_column_1 49}
            {:_column_1 14}
            {:_column_1 23}
            {:_column_1 45}
            {:_column_1 19}
            {:_column_1 3}
            {:_column_1 36}
            {:_column_1 9}]]]]]]]]]]]]
