[:project
 [{avg_yearly (/ _sum_out_7 7.0)}]
 [:group-by
  [{_sum_out_7 (sum l.1/l_extendedprice)}]
  [:select
   (< l.1/l_quantity _sq_3)
   [:map
    [{_sq_3 (* 0.2 _avg_out_6)}]
    [:group-by
     [l.1/l_extendedprice
      l.1/l_quantity
      l.1/l_partkey
      p.2/p_brand
      p.2/p_partkey
      p.2/p_container
      _row_number_0
      {_avg_out_6 (avg l.4/l_quantity)}]
     [:left-outer-join
      [{p.2/p_partkey l.4/l_partkey}]
      [:map
       [{_row_number_0 (row-number)}]
       [:mega-join
        [{l.1/l_partkey p.2/p_partkey}]
        [[:rename
          l.1
          [:scan
           {:table public/lineitem}
           [l_extendedprice l_quantity l_partkey]]]
         [:rename
          p.2
          [:scan
           {:table public/part}
           [{p_brand (= p_brand "Brand#23")}
            p_partkey
            {p_container (= p_container "MED BOX")}]]]]]]
      [:rename
       l.4
       [:scan {:table public/lineitem} [l_quantity l_partkey]]]]]]]]]
