[:top
 {:skip nil, :limit 100}
 [:project
  [{c_name c.1/c_name}
   {c_custkey c.1/c_custkey}
   {o_orderkey o.2/o_orderkey}
   {o_orderdate o.2/o_orderdate}
   {o_totalprice o.2/o_totalprice}
   sum_qty]
  [:order-by
   [[o.2/o_totalprice {:direction :desc, :null-ordering :nulls-first}]
    [o.2/o_orderdate {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [c.1/c_name
     c.1/c_custkey
     o.2/o_orderkey
     o.2/o_orderdate
     o.2/o_totalprice
     {sum_qty _sum_out_7}]
    [:group-by
     [c.1/c_name
      c.1/c_custkey
      o.2/o_orderkey
      o.2/o_orderdate
      o.2/o_totalprice
      {_sum_out_7 (sum l.3/l_quantity)}]
     [:map
      [{_sq_4 true}]
      [:mega-join
       [{o.2/o_orderkey l.3/l_orderkey} {c.1/c_custkey o.2/o_custkey}]
       [[:rename
         l.3
         [:scan {:table public/lineitem} [l_orderkey l_quantity]]]
        [:rename
         c.1
         [:scan {:table public/customer} [c_custkey c_name]]]
        [:semi-join
         [{o.2/o_orderkey l_orderkey}]
         [:rename
          o.2
          [:scan
           {:table public/orders}
           [o_totalprice o_orderdate o_orderkey o_custkey]]]
         [:project
          [{l_orderkey l.5/l_orderkey}]
          [:select
           (> _sum_out_6 300)
           [:group-by
            [l.5/l_orderkey {_sum_out_6 (sum l.5/l_quantity)}]
            [:rename
             l.5
             [:scan
              {:table public/lineitem}
              [l_orderkey l_quantity]]]]]]]]]]]]]]]
