[:project
 [{revenue _sum_out_15}]
 [:group-by
  [{_sum_out_15 (sum _sum_in_16)}]
  [:map
   [{_sum_in_16 (* l.1/l_extendedprice (- 1 l.1/l_discount))}]
   [:select
    (or
     (or
      (and
       (and
        (and
         (and
          (and
           (and (= p.2/p_brand "Brand#12") _sq_3)
           (>= l.1/l_quantity 1))
          (<= l.1/l_quantity (+ 1 10)))
         (between p.2/p_size 1 5))
        _sq_5)
       (= l.1/l_shipinstruct "DELIVER IN PERSON"))
      (and
       (and
        (and
         (and
          (and
           (and (= p.2/p_brand "Brand#23") _sq_7)
           (>= l.1/l_quantity 10))
          (<= l.1/l_quantity (+ 10 10)))
         (between p.2/p_size 1 10))
        _sq_9)
       (= l.1/l_shipinstruct "DELIVER IN PERSON")))
     (and
      (and
       (and
        (and
         (and
          (and (= p.2/p_brand "Brand#34") _sq_11)
          (>= l.1/l_quantity 20))
         (<= l.1/l_quantity (+ 20 10)))
        (between p.2/p_size 1 15))
       _sq_13)
      (= l.1/l_shipinstruct "DELIVER IN PERSON")))
    [:mark-join
     {_sq_13 [{l.1/l_shipmode xt.values.14/_column_1}]}
     [:mark-join
      {_sq_11 [{p.2/p_container xt.values.12/_column_1}]}
      [:mark-join
       {_sq_5 [{l.1/l_shipmode xt.values.6/_column_1}]}
       [:mark-join
        {_sq_3 [{p.2/p_container xt.values.4/_column_1}]}
        [:mark-join
         {_sq_7 [{p.2/p_container xt.values.8/_column_1}]}
         [:mark-join
          {_sq_9 [{l.1/l_shipmode xt.values.10/_column_1}]}
          [:mega-join
           [{l.1/l_partkey p.2/p_partkey}]
           [[:rename
             l.1
             [:scan
              {:table public/lineitem}
              [l_extendedprice
               l_quantity
               l_shipinstruct
               l_shipmode
               l_discount
               l_partkey]]]
            [:rename
             p.2
             [:scan
              {:table public/part}
              [p_brand p_size p_partkey p_container]]]]]
          [:rename
           xt.values.10
           [:table
            [_column_1]
            [{:_column_1 "AIR"} {:_column_1 "AIR REG"}]]]]
         [:rename
          xt.values.8
          [:table
           [_column_1]
           [{:_column_1 "MED BAG"}
            {:_column_1 "MED BOX"}
            {:_column_1 "MED PKG"}
            {:_column_1 "MED PACK"}]]]]
        [:rename
         xt.values.4
         [:table
          [_column_1]
          [{:_column_1 "SM CASE"}
           {:_column_1 "SM BOX"}
           {:_column_1 "SM PACK"}
           {:_column_1 "SM PKG"}]]]]
       [:rename
        xt.values.6
        [:table
         [_column_1]
         [{:_column_1 "AIR"} {:_column_1 "AIR REG"}]]]]
      [:rename
       xt.values.12
       [:table
        [_column_1]
        [{:_column_1 "LG CASE"}
         {:_column_1 "LG BOX"}
         {:_column_1 "LG PACK"}
         {:_column_1 "LG PKG"}]]]]
     [:rename
      xt.values.14
      [:table
       [_column_1]
       [{:_column_1 "AIR"} {:_column_1 "AIR REG"}]]]]]]]]
