[:project
 [{s_name s.1/s_name} {s_address s.1/s_address}]
 [:order-by
  [[s.1/s_name {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [s.1/s_name s.1/s_address]
   [:map
    [{_sq_3 true}]
    [:mega-join
     [{s.1/s_nationkey n.2/n_nationkey}]
     [[:semi-join
       [{s.1/s_suppkey ps_suppkey}]
       [:rename
        s.1
        [:scan
         {:table public/supplier}
         [s_name s_address s_suppkey s_nationkey]]]
       [:project
        [{ps_suppkey ps.4/ps_suppkey}]
        [:map
         [{_sq_5 true}]
         [:semi-join
          [{ps.4/ps_partkey p_partkey}]
          [:select
           (> ps.4/ps_availqty _sq_7)
           [:map
            [{_sq_7 (* 0.5 _sum_out_11)}]
            [:group-by
             [ps.4/ps_partkey
              ps.4/ps_availqty
              ps.4/ps_suppkey
              _row_number_0
              {_sum_out_11 (sum l.8/l_quantity)}]
             [:left-outer-join
              [{ps.4/ps_partkey l.8/l_partkey}
               {ps.4/ps_suppkey l.8/l_suppkey}]
              [:map
               [{_row_number_0 (row-number)}]
               [:rename
                ps.4
                [:scan
                 {:table public/partsupp}
                 [ps_partkey ps_availqty ps_suppkey]]]]
              [:rename
               l.8
               [:scan
                {:table public/lineitem}
                [{l_shipdate
                  (and
                   (<
                    l_shipdate
                    (+
                     #xt/date "1994-01-01"
                     (single-field-interval "1" "YEAR" 2 6)))
                   (>= l_shipdate #xt/date "1994-01-01"))}
                 l_quantity
                 l_suppkey
                 l_partkey]]]]]]]
          [:project
           [{p_partkey p.6/p_partkey}]
           [:rename
            p.6
            [:scan
             {:table public/part}
             [p_partkey {p_name (like p_name "forest%")}]]]]]]]]
      [:rename
       n.2
       [:scan
        {:table public/nation}
        [{n_name (= n_name "CANADA")} n_nationkey]]]]]]]]]
