[:project
 [{cntrycode custsale.12/cntrycode} numcust totacctbal]
 [:order-by
  [[custsale.12/cntrycode
    {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [custsale.12/cntrycode
    {numcust _row_count_13}
    {totacctbal _sum_out_14}]
   [:group-by
    [custsale.12/cntrycode
     {_row_count_13 (row-count)}
     {_sum_out_14 (sum custsale.12/c_acctbal)}]
    [:rename
     custsale.12
     [:project
      [{cntrycode (substring c.1/c_phone 1 2)}
       {c_acctbal c.1/c_acctbal}]
      [:select
       (> c.1/c_acctbal _sq_4)
       [:single-join
        []
        [:map
         [{_sq_2 true}]
         [:semi-join
          [{_needle xt.values.3/_column_1}]
          [:map
           [{_needle (substring c.1/c_phone 1 2)}]
           [:map
            [{_sq_9 true}]
            [:anti-join
             [{c.1/c_custkey o_custkey}]
             [:rename
              c.1
              [:scan
               {:table public/customer}
               [c_phone c_acctbal c_custkey]]]
             [:project
              [{o_clerk o.10/o_clerk}
               {o_comment o.10/o_comment}
               {o_custkey o.10/o_custkey}
               {o_orderdate o.10/o_orderdate}
               {o_orderkey o.10/o_orderkey}
               {o_orderpriority o.10/o_orderpriority}
               {o_orderstatus o.10/o_orderstatus}
               {o_shippriority o.10/o_shippriority}
               {o_totalprice o.10/o_totalprice}]
              [:rename
               o.10
               [:scan
                {:table public/orders}
                [o_orderpriority
                 o_clerk
                 o_orderstatus
                 o_totalprice
                 o_orderdate
                 o_comment
                 o_orderkey
                 o_shippriority
                 o_custkey]]]]]]]
          [:rename
           xt.values.3
           [:table
            [_column_1]
            [{:_column_1 "13"}
             {:_column_1 "31"}
             {:_column_1 "23"}
             {:_column_1 "29"}
             {:_column_1 "30"}
             {:_column_1 "18"}
             {:_column_1 "17"}]]]]]
        [:project
         [{_sq_4 _avg_out_8}]
         [:group-by
          [{_avg_out_8 (avg c.5/c_acctbal)}]
          [:map
           [{_sq_6 true}]
           [:semi-join
            [{_needle xt.values.7/_column_1}]
            [:map
             [{_needle (substring c.5/c_phone 1 2)}]
             [:rename
              c.5
              [:scan
               {:table public/customer}
               [c_phone {c_acctbal (> c_acctbal 0.0)}]]]]
            [:rename
             xt.values.7
             [:table
              [_column_1]
              [{:_column_1 "13"}
               {:_column_1 "31"}
               {:_column_1 "23"}
               {:_column_1 "29"}
               {:_column_1 "30"}
               {:_column_1 "18"}
               {:_column_1 "17"}]]]]]]]]]]]]]]]
