# If you need custom software on your EBS instance
# read this
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html
# then drop this config into .ebextensions dir

#commands:
#  10_installcert:
#    command: "wget https://dl.eff.org/certbot-auto;chmod a+x certbot-auto"
#  13_getcert:
#    command: "sudo ./certbot-auto certonly --debug --non-interactive --email jdt@juxt.pro --agree-tos --standalone --domains console.crux.cloud --keep-until-expiring --pre-hook \"service nginx stop\" --staging"
#  31-hey:
#    command: echo "kitkattoken" && pwd
#  32-hey:
#    command: wget -q https://download.java.net/java/GA/jdk13/5b8a42f3905b406298b72d750b6919f6/33/GPL/openjdk-13_linux-x64_bin.tar.gz
#  33-hey:
#    command: tar -xzf openjdk-13_linux-x64_bin.tar.gz
#  34-hey:
#    command: export JAVA_HOME=$(pwd)/jdk-13
#  35-hey:
#    command: export PATH=$(pwd)/jdk-13/bin:$PATH

container_commands:
  31-hey:
    command: echo "containertoken" && pwd
