[:project
 [{y x.1/y}]
 [:map
  [{_sq_2 true}]
  [:semi-join
   [(> _needle z)]
   [:map
    [{_needle (== x.1/z 1)}]
    [:rename x.1 [:scan {:table #xt/table x} [y z]]]]
   [:project
    [{z y.3/z}]
    [:rename y.3 [:scan {:table #xt/table y} [z]]]]]]]
