[:rename
 {x2 $column_1$}
 [:project
  [{x2 4}]
  [:rename
   {}
   [:scan
    {:table t1,
     :for-app-time
     [:between
      #time/zoned-date-time "3000-01-01T00:00Z"
      #time/date "3001-01-01"]}
    []]]]]
