[:project
 [{_column_1 _sq_2}]
 [:map
  [{_sq_2 _sum_out_6}]
  [:group-by
   [tab0.1/z _row_number_0 {_sum_out_6 (sum x.5/y)}]
   [:apply
    {:mode :left-outer-join, :columns {tab0.1/z ?_sq_z_3}}
    [:map
     [{_row_number_0 (row-number)}]
     [:rename tab0.1 [:scan {:table #xt/table tab0, :columns [z]}]]]
    [:rename
     x.5
     [:project
      [{y xt.values.3/y}]
      [:rename
       xt.values.3
       [:table [y] [{:y 1} {:y 2} {:y 3} {:y ?_sq_z_3}]]]]]]]]]
