[:project
 [{xt$column_1 xt$sq_2}]
 [:apply
  :single-join
  {tab0.1/z ?xt$sq_z_3}
  [:rename tab0.1 [:scan {:table tab0} [z]]]
  [:project
   [{xt$sq_2 xt$array_agg_out6}]
   [:group-by
    [{xt$array_agg_out6 (array-agg x.5/y)}]
    [:rename
     x.5
     [:project
      [{y xt.values.3/y}]
      [:rename
       xt.values.3
       [:table [y] [{:y 1} {:y 2} {:y 3} {:y ?xt$sq_z_3}]]]]]]]]]
