[:rename
 {x4 movie_title}
 [:project
  [x4]
  [:left-outer-join
   [{x1 x4} {x2 x5}]
   [:rename
    {title x1, movie_year x2}
    [:scan {:table movie} [title movie_year]]]
   [:rename
    {movie_title x4, year x5}
    [:scan {:table stars_in} [movie_title year]]]]]]
