[:project
 {:projections [{lastname si.1/lastname} {name si.1/name}]}
 [:rename
  {:prefix si.1}
  [:select
   {:predicate (== name lastname)}
   [:scan {:table #xt/table stars_in, :columns [lastname name]}]]]]
