[:project
 [{xt$column_1 film.3/xt$unnest.4}
  {xt$column_2 film.3/xt$ordinal.5}
  {films si.1/films}]
 [:unnest
  {film.3/xt$unnest.4 unnest}
  {:ordinality-column film.3/xt$ordinal.5}
  [:map
   [{unnest si.1/films}]
   [:rename si.1 [:scan {:table stars_in} [films]]]]]]
