[:project
 {:projections [{title si.2/title}]}
 [:mega-join
  {:conditions [{m.1/title si.2/title}]}
  [[:rename m.1 [:scan {:table #xt/table movie, :columns [title]}]]
   [:rename si.2 [:scan {:table #xt/table stars_in, :columns [title]}]]]]]
