[:union-all {}
 [:project
  {:projections [{name si.1/name}]}
  [:rename {:prefix si.1} [:scan {:table #xt/table stars_in, :columns [name]}]]]
 [:project
  {:projections [{name si.2/name}]}
  [:rename {:prefix si.2} [:scan {:table #xt/table stars_in, :columns [name]}]]]]
