[:project
 [{xt$column_1
   (case (+ t1.1/a 1) t1.1/b 111 t1.1/c 222 t1.1/d 333 t1.1/e 444 555)}
  {xt$column_2
   (cond
    (< t1.1/a (- t1.1/b 3))
    111
    (<= t1.1/a t1.1/b)
    222
    (< t1.1/a (+ t1.1/b 3))
    333
    444)}
  {xt$column_3
   (case
    (+ t1.1/a 1)
    t1.1/b
    222
    t1.1/c
    222
    t1.1/d
    444
    (+ t1.1/e 1)
    444
    555)}]
 [:rename t1.1 [:scan {:table t1} [e d b c a]]]]
