[:distinct {}
 [:union-all {}
  [:project
   {:projections [{movie_title si.1/movie_title}]}
   [:rename {:prefix si.1} [:scan {:table stars_in, :columns [movie_title]}]]]
  [:rename {:columns {name movie_title}} [:project
    {:projections [{name si.2/name}]}
    [:rename {:prefix si.2} [:scan {:table stars_in, :columns [name]}]]]]]]
