[:difference
 [:distinct {}
  [:project
   {:projections [{name si.1/name}]}
   [:rename si.1 [:scan {:table #xt/table stars_in, :columns [name]}]]]]
 [:distinct {}
  [:project
   {:projections [{name si.2/name}]}
   [:rename si.2 [:scan {:table #xt/table stars_in, :columns [name]}]]]]]
