[:rename
 {x1 movie_title}
 [:project
  [x1]
  [:mega-join
   [{x2 x4}]
   [[:rename
     {movie_title x1, star_name x2}
     [:scan {:table stars_in} [movie_title star_name]]]
    [:rename
     {name x4, birthdate x5}
     [:scan
      {:table movie_star}
      [{name (= name "Foo")} {birthdate (< birthdate 1960)}]]]]]]]
