[:project
 {:projections [{films si.1/films}
  {_column_2 film.3/_unnest.4}
  {_column_3 film.3/_ordinal.5}]}
 [:unnest
  {film.3/_unnest.4 unnest}
  {:ordinality-column film.3/_ordinal.5}
  [:map
   {:projections [{unnest si.1/films}]}
   [:rename si.1 [:scan {:table #xt/table stars_in, :columns [films]}]]]]]
