[:project
 {:projections [{_column_1 xt.values.1/_column_1} {_column_2 xt.values.1/_column_2}]}
 [:rename {:prefix xt.values.1} [:table {:output-cols [_column_1 _column_2], :rows [{:_column_1 1, :_column_2 2} {:_column_1 3, :_column_2 4}]}]]]
