[:project
 [{movie_title si.1/movie_title}]
 [:mega-join
  [{si.1/star_name ms.2/name}]
  [[:rename
    si.1
    [:scan {:table public/stars_in} [star_name movie_title]]]
   [:rename
    ms.2
    [:scan
     {:table public/movie_star}
     [{birthdate (= birthdate 1960)} name]]]]]]
