[:rename
 {x1 movie_title}
 [:project
  [x1]
  [:order-by
   [[x2 {:direction :asc, :null-ordering :nulls-last}]]
   [:rename
    {movie_title x1, year x2}
    [:scan {:table stars_in} [movie_title year]]]]]]
