[:project
 [{movie_title si.2/movie_title}]
 [:left-outer-join
  [{m.1/title si.2/movie_title} {m.1/movie_year si.2/year}]
  [:rename m.1 [:scan {:table movie} [title movie_year]]]
  [:rename si.2 [:scan {:table stars_in} [year movie_title]]]]]
