[:top
 {:offset 100, :limit nil}
 [:project
  [{movie_title si.1/movie_title}]
  [:order-by
   [[si.1/movie_title {:direction :asc, :null-ordering :nulls-last}]]
   [:rename si.1 [:scan {:table stars_in} [movie_title]]]]]]
