[:project
 [{movie_title si.1/movie_title}]
 [:mega-join
  [{si.1/star_name m.3/name}]
  [[:rename
    si.1
    [:scan {:table public/stars_in} [star_name movie_title]]]
   [:rename
    m.3
    [:project
     [{name ms.2/name}]
     [:rename
      ms.2
      [:scan
       {:table public/movie_star}
       [{birthdate (= birthdate 1960)} name]]]]]]]]
