[:project
 [{some_column (== 1 _sq_2)}]
 [:apply
  {:mode :single-join, :columns {x.1/z ?_sq_z_3}}
  [:rename x.1 [:scan {:table #xt/table x, :columns [{y (== y 1)} z]}]]
  [:project
   [{_sq_2 (== foo.3/bar ?_sq_z_3)}]
   [:rename foo.3 [:scan {:table #xt/table foo, :columns [bar]}]]]]]
