[:project
 {:projections [{c1 c.3/c1}]}
 [:mega-join
  {:conditions []}
  [[:rename {:prefix a.1} [:scan {:db-name "xtdb", :table #xt/table a, :columns []}]]
   [:rename {:prefix b.2} [:scan {:db-name "xtdb", :table #xt/table b, :columns []}]]
   [:rename
    {:prefix c.3}
    [:scan {:db-name "xtdb", :table #xt/table c, :columns [c1]}]]]]]
