[:project
 [{country customers.1/country} {custno customers.1/custno}]
 [:map
  [{_sq_2 true}]
  [:semi-join
   [{customers.1/custno custno}]
   [:rename
    customers.1
    [:scan
     {:table public/customers}
     [{country (= country "Mexico")} custno]]]
   [:project
    [{custno orders.3/custno}]
    [:rename orders.3 [:scan {:table public/orders} [custno]]]]]]]
