[:project
 [{name s.1/name} {course e.2/course}]
 [:map
  [{_sq_3 _min_out_6}]
  [:select
   (= e.2/grade _min_out_6)
   [:group-by
    [s.1/name
     s.1/id
     e.2/sid
     e.2/grade
     e.2/course
     _row_number_0
     {_min_out_6 (min e2.4/grade)}]
    [:left-outer-join
     [{s.1/id e2.4/sid}]
     [:map
      [{_row_number_0 (row-number)}]
      [:mega-join
       [{s.1/id e.2/sid}]
       [[:rename s.1 [:scan {:table public/students} [name id]]]
        [:rename
         e.2
         [:scan {:table public/exams} [sid grade course]]]]]]
     [:rename e2.4 [:scan {:table public/exams} [sid grade]]]]]]]]
