[:project
 [{name customers.1/name} {_column_2 _sq_4}]
 [:map
  [{_sq_4 _row_count_7}]
  [:group-by
   [customers.1/country
    customers.1/custno
    customers.1/name
    _sq_2
    _row_number_0
    {_row_count_7 (count _dep_countable_1)}]
   [:left-outer-join
    [{customers.1/custno orders.5/custno}]
    [:map
     [{_row_number_0 (row-number)}]
     [:map
      [{_sq_2 true}]
      [:semi-join
       [{customers.1/country country}]
       [:rename
        customers.1
        [:scan {:table public/customers} [country custno name]]]
       [:project
        [{country salesp.3/country}]
        [:rename salesp.3 [:scan {:table public/salesp} [country]]]]]]]
    [:map
     [{_dep_countable_1 1}]
     [:rename orders.5 [:scan {:table public/orders} [custno]]]]]]]]
