[:project
 [{custkey c.1/custkey}]
 [:map
  [{_sq_2 _sum_out_5}]
  [:select
   (< 1000000 _sum_out_5)
   [:group-by
    [c.1/custkey _row_number_0 {_sum_out_5 (sum o.3/totalprice)}]
    [:left-outer-join
     [{c.1/custkey o.3/custkey}]
     [:map
      [{_row_number_0 (row-number)}]
      [:rename c.1 [:scan {:table #xt/table customer} [custkey]]]]
     [:rename
      o.3
      [:scan {:table #xt/table orders} [custkey totalprice]]]]]]]]
