[:project
 {:projections [_iid
  {_valid_from
   (greatest
    _valid_from
    (cast
     (coalesce (current-timestamp) xtdb/start-of-time)
     [:timestamp-tz :micro "UTC"]))}
  {_valid_to
   (least
    (coalesce _valid_to xtdb/end-of-time)
    (coalesce
     (cast xtdb/end-of-time [:timestamp-tz :micro "UTC"])
     xtdb/end-of-time))}]}
 [:project
  {:projections [{_iid u.1/_iid}
   {_valid_from u.1/_valid_from}
   {_valid_to u.1/_valid_to}]}
  [:rename
   u.1
   [:scan
    {:table #xt/table t1,
     :for-valid-time [:in (current-timestamp) xtdb/end-of-time], :columns [{col1 (== col1 30)} _valid_to _valid_from _iid]}]]]]
