[:project
 [_iid
  {_valid_from
   (greatest
    _valid_from
    (cast (current-timestamp) [:timestamp-tz :micro "UTC"]))}
  _valid_to]
 [:project
  [{_iid t1.1/_iid}
   {_valid_from t1.1/_valid_from}
   {_valid_to t1.1/_valid_to}]
  [:rename
   t1.1
   [:scan
    {:table #xt/table t1}
    [{col1 (= col1 30)} _valid_to _valid_from _iid]]]]]
