[:project
 {:projections [{y x.1/y} {z y.4/z}]}
 [:left-outer-join
  {:conditions [{x.1/y y.4/z}]}
  [:rename {:prefix x.1} [:scan {:table #xt/table x, :columns [y]}]]
  [:rename {:prefix y.4} [:project
    {:projections [{z z.2/z}]}
    [:rename {:prefix z.2} [:select {:predicate true} [:scan {:table #xt/table z, :columns [z]}]]]]]]]
