[:project
 [{a f.1/a}]
 [:map
  [{_sq_4 true}]
  [:map
   [{_sq_2 true}]
   [:semi-join
    [{f.1/b xt.values.5/_column_1}]
    [:semi-join
     [{f.1/a xt.values.3/_column_1}]
     [:rename f.1 [:scan {:table public/foo} [{a (= a 42)} b]]]
     [:rename
      xt.values.3
      [:table [_column_1] [{:_column_1 1} {:_column_1 2}]]]]
    [:rename
     xt.values.5
     [:table [_column_1] [{:_column_1 3} {:_column_1 4}]]]]]]]
