[:project
 {:projections [{a f.1/a}]}
 [:select
  {:predicate (or _sq_2 (== f.1/b 42))}
  [:mark-join
   {:mark-spec {_sq_2 [{f.1/a xt.values.3/_column_1}]}}
   [:rename {:prefix f.1} [:scan {:table #xt/table foo, :columns [a b]}]]
   [:rename {:prefix xt.values.3} [:table {:output-cols [_column_1], :rows [{:_column_1 1} {:_column_1 2}]}]]]]]
