[:project
 [{a f.1/a}]
 [:select
  (or _sq_2 (= f.1/b 42))
  [:mark-join
   {_sq_2 [{f.1/a xt.values.3/_column_1}]}
   [:rename f.1 [:scan {:table public/foo} [a b]]]
   [:rename
    xt.values.3
    [:table [_column_1] [{:_column_1 1} {:_column_1 2}]]]]]]
