[:project
 [{a f.1/a}]
 [:select
  (= true _sq_2)
  [:mark-join
   {_sq_2 [true]}
   [:rename f.1 [:scan {:table #xt/table foo} [a]]]
   [:project
    [{c foo.3/c}]
    [:rename foo.3 [:scan {:table #xt/table foo} [c]]]]]]]
