[:project
 {:projections [{some_column (== 1 _sq_2)}]}
 [:single-join
  {:conditions []}
  [:rename {:prefix x.1} [:scan {:table #xt/table x, :columns [{y (== y 1)}]}]]
  [:project
   {:projections [{_sq_2 foo.3/bar}]}
   [:rename {:prefix foo.3} [:scan {:table #xt/table foo, :columns [bar]}]]]]]
