[:project
 {:projections [{some_column x.1/y}]}
 [:select
  {:predicate (== x.1/y _sq_2)}
  [:single-join
   {:conditions []}
   [:rename {:prefix x.1} [:scan {:table #xt/table x, :columns [y]}]]
   [:project
    {:projections [{_sq_2 _max_out_4}]}
    [:group-by
     {:columns [{_max_out_4 (max foo.3/bar)}]}
     [:rename {:prefix foo.3} [:scan {:table #xt/table foo, :columns [bar]}]]]]]]]
