[:project
 [{a foo.1/a}]
 [:mega-join
  []
  [[:rename foo.1 [:scan {:table public/foo} [a]]]
   [:select
    _sq_3
    [:apply
     {:mark-join {_sq_3 (= ?_needle b)}}
     {bar.2/b ?_sq_b_4, bar.2/c ?_needle}
     [:rename bar.2 [:scan {:table public/bar} [c b]]]
     [:project
      [{b foo.4/b}]
      [:rename
       foo.4
       [:scan {:table public/foo} [{a (= a ?_sq_b_4)} b]]]]]]]]]
