[:rename
 {x1 a}
 [:project
  [x1]
  [:mega-join
   []
   [[:rename {a x1} [:scan {:table foo} [a]]]
    [:select
     (= x3 x6)
     [:apply
      :single-join
      {x4 ?x9}
      [:rename {c x3, b x4} [:scan {:table bar} [c b]]]
      [:project
       [x6]
       [:rename
        {b x6, a x7}
        [:scan {:table foo} [b {a (= a ?x9)}]]]]]]]]]]
