[:project
 [{_column_1 _sq_2}]
 [:single-join
  {:conditions []}
  [:rename t2.1 [:scan {:table #xt/table t2, :columns []}]]
  [:project
   [{_sq_2 4}]
   [:rename
    t1.3
    [:scan
     {:table #xt/table t1,
      :for-system-time
      [:between #xt/date "3001-01-01" #xt/zdt "3002-01-01T00:00Z"], :columns []}]]]]]
