[:project
 [{y x.1/y} {z y.4/z}]
 [:mega-join
  {:conditions [{x.1/y y.4/z}]}
  [[:rename
    x.1
    [:scan
     {:table #xt/table x, :for-system-time [:at #xt/date "3001-01-01"], :columns [y]}]]
   [:rename
    y.4
    [:project
     [{z z.2/z}]
     [:rename
      z.2
      [:scan
       {:table #xt/table z,
        :for-system-time
        [:in #xt/date "3001-01-01" #xt/zdt "3002-01-01T00:00Z"], :columns [z]}]]]]]]]
