[:rename {:columns {x1 name}} [:project
  {:projections [x1]}
  [:rename {:columns {name x1, _valid_from x2, _valid_to x3}} [:select
    {:predicate (and (< _valid_from _valid_to) (> _valid_to _valid_from))}
    [:scan {:table foo, :columns [name _valid_from _valid_to]}]]]]]
