[:update
 {:table "foo"}
 [:rename
  {x2 xt$iid,
   x5 xt$system_to,
   x6 xt$system_from,
   x1 bar,
   x8 xt$valid_from,
   x9 xt$valid_to}
  [:project
   [x2 x5 x6 x1 {x8 (cast-tstz x4)} {x9 (cast-tstz x3)}]
   [:rename
    {baz x1,
     xt$iid x2,
     xt$valid_to x3,
     xt$valid_from x4,
     xt$system_to x5,
     xt$system_from x6}
    [:scan
     {:table foo}
     (baz
      xt$iid
      xt$valid_to
      xt$valid_from
      xt$system_to
      xt$system_from)]]]]]
