[:project
 [{_column_1 _sq_2}]
 [:apply
  :single-join
  {bar.1/_valid_from ?_sq__valid_from_3,
   bar.1/_valid_to ?_sq__valid_to_4}
  [:rename bar.1 [:scan {:table bar} [_valid_from _valid_to]]]
  [:project
   [{_sq_2
     (and
      (<
       foo.3/_valid_from
       (coalesce ?_sq__valid_to_4 xtdb/end-of-time))
      (>
       (coalesce foo.3/_valid_to xtdb/end-of-time)
       ?_sq__valid_from_3))}]
   [:rename foo.3 [:scan {:table foo} [_valid_from _valid_to]]]]]]
