[:project
 {:projections [{a foo.1/a}]}
 [:map
  {:projections [{_sq_2 true}]}
  [:semi-join
   {:conditions [{foo.1/a _qc_expr_3}]}
   [:rename {:prefix foo.1} [:scan {:table #xt/table foo, :columns [a]}]]
   [:table {:column {_qc_expr_3 (current-schemas true)}}]]]]
