[:project
 {:projections
  [_iid
   {_valid_from
    (greatest
     _valid_from
     (cast (coalesce ?_0 xtdb/start-of-time) #xt/type :instant))}
   {_valid_to
    (least
     (coalesce _valid_to xtdb/end-of-time)
     (coalesce (cast ?_1 #xt/type :instant) xtdb/end-of-time))}
   first_name
   id]}
 [:project
  {:projections
   [{_iid u.1/_iid}
    {_valid_from u.1/_valid_from}
    {_valid_to u.1/_valid_to}
    {first_name ?_2}
    {id u.1/id}]}
  [:rename
   {:prefix u.1}
   [:scan
    {:table #xt/table users,
     :columns
     [_valid_to
      {id (== id ?_3)}
      _valid_from
      {first_name (or (not (boolean (=== ?_2 first_name))))}
      _iid],
     :for-valid-time [:in ?_0 ?_1]}]]]]
