[:project
 [{_iid users.1/_iid}
  {_valid_from users.1/_valid_from}
  {_valid_to users.1/_valid_to}]
 [:rename
  users.1
  [:scan
   {:table public/users, :for-valid-time :all-time}
   [_valid_to _valid_from _iid]]]]
