[:insert
 {:table "customer"}
 [:rename
  {x1 xt$id,
   x8 c_mktsegment,
   x2 c_custkey,
   x5 c_nationkey,
   x9 c_comment,
   x4 c_address,
   x6 c_phone,
   x7 c_acctbal,
   x3 c_name}
  [:table
   [x1 x2 x3 x4 x5 x6 x7 x8 x9]
   [{x1 ?_0,
     x8 ?_7,
     x2 ?_1,
     x5 ?_4,
     x9 ?_8,
     x4 ?_3,
     x6 ?_5,
     x7 ?_6,
     x3 ?_2}]]]]
