[:update
 {:table foo}
 [:project
  ({xt$iid foo.1/xt$iid}
   {xt$valid_from foo.1/xt$valid_from}
   {xt$valid_to foo.1/xt$valid_to}
   {bar foo.1/baz}
   {baz foo.1/baz}
   {quux foo.1/quux})
  [:rename
   foo.1
   [:scan {:table foo} [xt$valid_from xt$iid xt$valid_to baz quux]]]]]
