[:project
 {:projections
  [{a u.1/a}
   {_column_2 (current-time)}
   {_column_3 (current-time 2)}
   {_column_4 (current-date)}
   {_column_5 (current-timestamp)}
   {_column_6 (current-timestamp 4)}
   {_column_7 (local-time)}
   {_column_8 (local-time 6)}
   {_column_9 (local-timestamp)}
   {_column_10 (local-timestamp 9)}]}
 [:rename {:prefix u.1} [:scan {:table #xt/table u, :columns [a]}]]]
