[:project
 {:projections [{_id _id}
  {name name}
  {_valid_from (cast _valid_from [:timestamp-tz :micro "UTC"])}]}
 [:rename
  {bar.2/_id _id, bar.2/name name, bar.2/_valid_from _valid_from}
  [:rename
   bar.2
   [:project
    {:projections [{_id xt.values.1/_id}
     {name xt.values.1/name}
     {_valid_from xt.values.1/_valid_from}]}
    [:rename
     xt.values.1
     [:table
      [_id name _valid_from]
      [{:_id ?_0, :name ?_1, :_valid_from ?_2}]]]]]]]
