[:delete
 {:table "users"}
 [:rename
  {x2 _iid,
   x3 _row_id,
   x6 system_time_start,
   x7 system_time_end,
   x9 application_time_start,
   x10 application_time_end}
  [:project
   [x2
    x3
    x6
    x7
    {x9 (cast-tstz (greatest x4 #time/date "2020-05-01"))}
    {x10 (cast-tstz (least x5 #time/date "9999-12-31"))}]
   [:rename
    {id x1,
     _iid x2,
     _row_id x3,
     application_time_start x4,
     application_time_end x5,
     system_time_start x6,
     system_time_end x7}
    [:scan
     {:table users,
      :for-app-time
      [:between #time/date "2020-05-01" #time/date "9999-12-31"]}
     [{id (= id ?_0)}
      _iid
      _row_id
      application_time_start
      application_time_end
      system_time_start
      system_time_end]]]]]]
