[:project
 [{a foo.1/a}]
 [:mega-join
  []
  [[:rename
    foo.1
    [:scan {:table public/foo} [a {c (= c ?_2)} {b (= b ?_1)}]]]
   [:rename
    bar.3
    [:rename
     {bar.2/b b}
     [:project
      [{bar.2/b bar.2/b}]
      [:rename
       bar.2
       [:scan {:table public/bar} [{c (= c ?_0)} b]]]]]]]]]
