[:project
 [{customer_id c.1/_id} {name c.1/name} {orders _sq_2}]
 [:apply
  :single-join
  {c.1/_id ?_sq__id_3}
  [:rename c.1 [:scan {:table public/customers} [_id name]]]
  [:group-by
   [{_sq_2 (array_agg _sq_2)}]
   [:project
    [{_sq_2 {:order_id order_id, :value value}}]
    [:project
     [{order_id o.3/_id} {value o.3/value}]
     [:rename
      o.3
      [:scan
       {:table public/orders}
       [{customer_id (= customer_id ?_sq__id_3)} _id value]]]]]]]]
