[:delete
 {:table "users"}
 [:rename
  {x2 xt$id,
   x3 _iid,
   x4 _row_id,
   x7 xt$system_from,
   x8 xt$system_to,
   x10 xt$valid_from,
   x11 xt$valid_to}
  [:project
   [x2
    x3
    x4
    x7
    x8
    {x10 (cast-tstz (greatest x5 #time/date "2020-05-01"))}
    {x11 (cast-tstz (least x6 #time/date "9999-12-31"))}]
   [:rename
    {id x1,
     xt$id x2,
     _iid x3,
     _row_id x4,
     xt$valid_from x5,
     xt$valid_to x6,
     xt$system_from x7,
     xt$system_to x8}
    [:scan
     {:table users,
      :for-valid-time
      [:between #time/date "2020-05-01" #time/date "9999-12-31"]}
     [{id (= id ?_0)}
      xt$id
      _iid
      _row_id
      xt$valid_from
      xt$valid_to
      xt$system_from
      xt$system_to]]]]]]
