[:insert
 {:table prop_owner}
 [:project
  [{xt$id xt$id}
   {customer_number customer_number}
   {property_number property_number}
   {xt$valid_from (cast xt$valid_from [:timestamp-tz :micro "UTC"])}
   {xt$valid_to (cast xt$valid_to [:timestamp-tz :micro "UTC"])}]
  [:rename
   {xt$column_1 xt$id,
    xt$column_2 customer_number,
    xt$column_3 property_number,
    xt$column_4 xt$valid_from,
    tmp.3/app_start xt$valid_to}
   [:project
    [{xt$column_1 1}
     {xt$column_2 145}
     {xt$column_3 7797}
     {xt$column_4 #time/date "1998-01-03"}
     tmp.3/app_start]
    [:rename
     tmp.3
     [:project
      [{app_start xt$min_out_2}]
      [:group-by
       [{xt$min_out_2 (min prop_owner.1/xt$system_from)}]
       [:rename
        prop_owner.1
        [:scan
         {:table prop_owner, :for-system-time :all-time}
         [xt$system_from {id (= id 1)}]]]]]]]]]]
