[:rename
 {x1 name}
 [:project
  [x1]
  [:rename
   {name x1, xt$valid_from x2, xt$valid_to x3}
   [:select
    (and (< xt$valid_from xt$valid_to) (> xt$valid_to xt$valid_from))
    [:scan {:table foo} [name xt$valid_from xt$valid_to]]]]]]
