[:project
 [{lastname foo.1/lastname} {name foo.1/name} {_column_2 _sq_3}]
 [:single-join
  []
  [:mega-join
   []
   [[:rename foo.1 [:scan {:table public/foo} [lastname name]]]
    [:rename bar.2 [:scan {:table public/bar} []]]]]
  [:project
   [{_sq_3 baz.4/frame}]
   [:rename baz.4 [:scan {:table public/baz} [frame]]]]]]
