[:update
 {:table "users"}
 [:rename
  {x3 _iid,
   x5 xt$system_to,
   x6 _row_id,
   x7 xt$id,
   x8 xt$system_from,
   x10 first_name,
   x11 xt$valid_from,
   x12 xt$valid_to}
  [:project
   [x3
    x5
    x6
    x7
    x8
    {x10 "Sue"}
    {x11 (cast-tstz (greatest x4 #time/date "2021-07-01"))}
    {x12 (cast-tstz (least x2 #time/date "9999-12-31"))}]
   [:rename
    {id x1,
     xt$valid_to x2,
     _iid x3,
     xt$valid_from x4,
     xt$system_to x5,
     _row_id x6,
     xt$id x7,
     xt$system_from x8}
    [:scan
     {:table users,
      :for-valid-time
      [:between #time/date "2021-07-01" #time/date "9999-12-31"]}
     [{id (= id ?_0)}
      xt$valid_to
      _iid
      xt$valid_from
      xt$system_to
      _row_id
      xt$id
      xt$system_from]]]]]]
