[:project
 {:projections [{a bar.2/a} {b bar.2/b}]}
 [:rename
  {:prefix bar.2}
  [:project
   {:projections [{a foo.1/a} {b foo.1/b}]}
   [:rename
    {:prefix foo.1}
    [:scan {:table #xt/table foo, :columns [a b]}]]]]]
