[:delete
 {:table "users"}
 [:rename
  {x1 xt$iid,
   x4 xt$system_to,
   x5 xt$system_from,
   x7 xt$valid_from,
   x8 xt$valid_to}
  [:project
   [x1 x4 x5 {x7 (cast-tstz x3)} {x8 (cast-tstz x2)}]
   [:rename
    {xt$iid x1,
     xt$valid_to x2,
     xt$valid_from x3,
     xt$system_to x4,
     xt$system_from x5}
    [:scan
     {:table users, :for-valid-time :all-time}
     (xt$iid xt$valid_to xt$valid_from xt$system_to xt$system_from)]]]]]
