[:project
 {:projections [{bar f.1/bar}]}
 [:rename
  {:prefix f.1}
  [:scan
   {:table #xt/table foo,
    :columns [bar],
    :for-valid-time [:at (current-timestamp)],
    :for-system-time [:at (current-timestamp)]}]]]
