[:update
 {:table "users"}
 [:rename
  {x2 _iid,
   x4 xt$system_to,
   x5 _row_id,
   x6 xt$id,
   x7 xt$system_from,
   x9 first_name,
   x10 xt$valid_from,
   x11 xt$valid_to}
  [:project
   [x2
    x4
    x5
    x6
    x7
    {x9 "Sue"}
    {x10 (cast-tstz x3)}
    {x11 (cast-tstz x1)}]
   [:rename
    {xt$valid_to x1,
     _iid x2,
     xt$valid_from x3,
     xt$system_to x4,
     _row_id x5,
     xt$id x6,
     xt$system_from x7}
    [:scan
     {:table users, :for-valid-time :all-time}
     (xt$valid_to
      _iid
      xt$valid_from
      xt$system_to
      _row_id
      xt$id
      xt$system_from)]]]]]
