[:project
 [{order_id o.1/_id} {value o.1/value} {customer _sq_2}]
 [:apply
  :single-join
  {o.1/customer_id ?_sq_customer_id_3}
  [:rename o.1 [:scan {:table public/orders} [customer_id _id value]]]
  [:project
   [{_sq_2 {:name name}}]
   [:project
    [{name c.3/name}]
    [:rename
     c.3
     [:scan
      {:table public/customers}
      [{_id (= _id ?_sq_customer_id_3)} name]]]]]]]
