[:rename
 {x1 customer_id, x2 name, x9 orders}
 [:project
  [x1 x2 x9]
  [:group-by
   [x1 x2 xt$row_number_0 {x9 (array_agg x8)}]
   [:apply
    :left-outer-join
    {x1 ?x11}
    [:map
     [{xt$row_number_0 (row-number)}]
     [:rename
      {xt$id x1, name x2}
      [:scan {:table customers} [xt$id name]]]]
    [:project
     [{x8 {:order_id x4, :value x5}}]
     [:project
      [x4 x5]
      [:rename
       {xt$id x4, value x5, customer_id x6}
       [:scan
        {:table orders}
        [xt$id value {customer_id (= customer_id ?x11)}]]]]]]]]]
