[:project
 [{_id f.1/_id} {t (. uvs.3/v :t)} {v (. uvs.3/v :v)}]
 [:select
  {:predicate (< uvs.3/ord 2)}
  [:unnest
   {uvs.3/v unnest}
   {:ordinality-column uvs.3/ord}
   [:map
    [{unnest f.1/vs}]
    [:rename f.1 [:scan {:table #xt/table foo} [vs _id]]]]]]]
