[:project
 [{jame bar.2/jame}
  {lastjame bar.2/lastjame}
  {lastname foo.1/lastname}
  {name foo.1/name}]
 [:mega-join
  []
  [[:rename foo.1 [:scan {:table foo} [name lastname]]]
   [:rename bar.2 [:scan {:table bar} [lastjame jame]]]]]]
