[:insert
 {:table foo}
 [:project
  [{xt$id xt$id}
   {xt$valid_from (cast xt$valid_from [:timestamp-tz :micro "UTC"])}]
  [:project
   [{xt$id xt.values.1/xt$id}
    {xt$valid_from xt.values.1/xt$valid_from}]
   [:rename
    xt.values.1
    [:table
     [xt$id xt$valid_from]
     [{:xt$id "foo", :xt$valid_from #xt.time/date "2018-01-01"}]]]]]]
