[:project
 [{_valid_time (period _valid_from _valid_to)}]
 [:select
  (and
   (<=
    (lower (period _valid_from _valid_to))
    (lower
     (period
      #xt/zoned-date-time "2000-01-01T00:00Z"
      #xt/zoned-date-time "2001-01-01T00:00Z")))
   (>=
    (coalesce (upper (period _valid_from _valid_to)) xtdb/end-of-time)
    (coalesce
     (upper
      (period
       #xt/zoned-date-time "2000-01-01T00:00Z"
       #xt/zoned-date-time "2001-01-01T00:00Z"))
     xtdb/end-of-time)))
  [:scan {:table public/docs} [_valid_from _valid_to]]]]
