[:project
 {:projections [{cat cat} {cnt _row_count_2}]}
 [:group-by
  {:columns [cat {_row_count_2 (row-count)}]}
  [:select
   {:predicate (<> cat "OTHER")}
   [:map
    {:projections [{cat (upper products.1/category)}]}
    [:rename
     {:prefix products.1}
     [:scan {:table #xt/table products, :columns [category]}]]]]]]
