[:project
 [{foo_name foo.1/name} {bar_name bar.2/name}]
 [:mega-join
  [(<
    (lower foo.1/_system_time)
    (coalesce (upper bar.2/_system_time) xtdb/end-of-time))
   (>
    (coalesce (upper foo.1/_system_time) xtdb/end-of-time)
    (lower bar.2/_system_time))]
  [[:rename
    foo.1
    [:project
     [name
      _system_from
      _system_to
      {_system_time (period _system_from _system_to)}]
     [:scan {:table public/foo} [name _system_from _system_to]]]]
   [:rename
    bar.2
    [:project
     [name
      _system_from
      _system_to
      {_system_time (period _system_from _system_to)}]
     [:scan {:table public/bar} [name _system_from _system_to]]]]]]]
