[:project
 [{a foo.1/a}]
 [:mega-join
  []
  [[:rename foo.1 [:scan {:table foo} [{b (= b ?_1)} {c (= c ?_2)} a]]]
   [:rename
    bar.3
    [:rename
     {bar.2/b b}
     [:project
      [bar.2/b]
      [:rename bar.2 [:scan {:table bar} [b {c (= c ?_0)}]]]]]]]]]
