[:project
 {:projections [{foo_name foo.1/name} {bar_name bar.2/name}]}
 [:mega-join
  {:conditions
   [(< foo.1/_system_from (coalesce bar.2/_system_to xtdb/end-of-time))
    (>
     (coalesce foo.1/_system_to xtdb/end-of-time)
     bar.2/_system_from)]}
  [[:rename
    {:prefix foo.1}
    [:project
     {:projections
      [name
       _system_from
       _system_to
       {_system_time (period _system_from _system_to)}]}
     [:scan
      {:db-name "xtdb",
       :table #xt/table foo,
       :columns [name _system_from _system_to]}]]]
   [:rename
    {:prefix bar.2}
    [:project
     {:projections
      [name
       _system_from
       _system_to
       {_system_time (period _system_from _system_to)}]}
     [:scan
      {:db-name "xtdb",
       :table #xt/table bar,
       :columns [name _system_from _system_to]}]]]]]]
