[:project
 [{xt$column_1 xt$sq_2}]
 [:apply
  :single-join
  {bar.1/xt$valid_from ?xt$sq_xt$valid_from_3,
   bar.1/xt$valid_to ?xt$sq_xt$valid_to_4}
  [:rename bar.1 [:scan {:table bar} [xt$valid_to xt$valid_from]]]
  [:project
   [{xt$sq_2
     (and
      (<
       foo.3/xt$valid_from
       (coalesce ?xt$sq_xt$valid_to_4 xtdb/end-of-time))
      (>
       (coalesce foo.3/xt$valid_to xtdb/end-of-time)
       ?xt$sq_xt$valid_from_3))}]
   [:rename foo.3 [:scan {:table foo} [xt$valid_to xt$valid_from]]]]]]
