[:project
 {:projections [{name foo.1/name}]}
 [:mega-join
  {:conditions
   [(<
     (greatest foo.1/_valid_from bar.2/_valid_from)
     (least
      (coalesce foo.1/_valid_to xtdb/end-of-time)
      (coalesce bar.2/_valid_to xtdb/end-of-time)))]}
  [[:rename
    {:prefix foo.1}
    [:project
     {:projections
      [name
       _valid_from
       _valid_to
       {_valid_time (period _valid_from _valid_to)}]}
     [:scan
      {:db-name "xtdb", :table #xt/table foo, :columns [name _valid_from _valid_to]}]]]
   [:rename
    {:prefix bar.2}
    [:project
     {:projections
      [_valid_from
       _valid_to
       {_valid_time (period _valid_from _valid_to)}]}
     [:scan
      {:db-name "xtdb", :table #xt/table bar, :columns [_valid_from _valid_to]}]]]]]]
