[:insert
 {:table "prop_owner"}
 [:rename
  {x6 xt$id,
   x7 customer_number,
   x8 property_number,
   x10 application_time_start,
   x11 application_time_end}
  [:project
   [x6 x7 x8 {x10 (cast-tstz x9)} {x11 (cast-tstz x4)}]
   [:project
    [{x6 1} {x7 145} {x8 7797} {x9 #time/date "1998-01-03"} x4]
    [:group-by
     [{x4 (min x1)}]
     [:rename
      {system_time_start x1, id x2}
      [:scan
       {:table prop_owner, :for-sys-time :all-time}
       [system_time_start {id (= id 1)}]]]]]]]]
