[:rename
 {x6 $column_1$}
 [:project
  [{x6 (and (< x3 x2) (> x4 x1))}]
  [:rename
   {xt$system_from x1,
    xt$system_to x2,
    xt$valid_from x3,
    xt$valid_to x4}
   [:scan
    {:table foo}
    [xt$system_from xt$system_to xt$valid_from xt$valid_to]]]]]
