[:project
 [{_column_1 _sq_2}]
 [:group-by
  [a.1/b a.1/a _row_number_0 {_sq_2 (array_agg b1)}]
  [:apply
   :left-outer-join
   {a.1/b ?_sq_b_3}
   [:map
    [{_row_number_0 (row-number)}]
    [:rename a.1 [:scan {:table public/a} [b {a (= a 42)}]]]]
   [:project
    [{b1 b.3/b1}]
    [:rename
     b.3
     [:scan {:table public/b} [{b2 (= b2 ?_sq_b_3)} b1]]]]]]]
