[:rename
 {x7 $column_1$}
 [:project
  [x7]
  [:apply
   :single-join
   {x1 ?x8, x2 ?x9}
   [:rename
    {xt$valid_from x1, xt$valid_to x2}
    [:scan {:table bar} [xt$valid_from xt$valid_to]]]
   [:project
    [{x7 (and (< x4 ?x9) (> x5 ?x8))}]
    [:rename
     {xt$valid_from x4, xt$valid_to x5}
     [:scan {:table foo} [xt$valid_from xt$valid_to]]]]]]]
