[:project
 {:projections [{_column_1 _percentile_disc_out_2}]}
 [:group-by
  {:columns
   [{_percentile_disc_out_2
     (percentile_disc
      0.5
      [t.1/amount {:direction :desc}])}]}
  [:rename
   {:prefix t.1}
   [:scan {:table #xt/table t, :columns [amount]}]]]]
