[:update
 {:table public/foo}
 [:project
  ({_iid foo.1/_iid}
   {_valid_from foo.1/_valid_from}
   {_valid_to foo.1/_valid_to}
   {bar
    (and
     (< foo.1/_system_from (coalesce foo.1/_valid_to xtdb/end-of-time))
     (>
      (coalesce foo.1/_system_to xtdb/end-of-time)
      foo.1/_valid_from))}
   {baz foo.1/baz})
  [:rename
   foo.1
   [:scan
    {:table public/foo, :for-valid-time :all-time}
    [_system_from _valid_to baz _valid_from _system_to _iid]]]]]
