[:update
 {:table users}
 [:project
  [xt$iid
   {xt$valid_from
    (greatest xt$valid_from (cast ?_0 [:timestamp-tz :micro "UTC"]))}
   {xt$valid_to
    (least xt$valid_to (cast ?_1 [:timestamp-tz :micro "UTC"]))}
   first_name
   id]
  [:project
   ({xt$iid u.1/xt$iid}
    {xt$valid_from u.1/xt$valid_from}
    {xt$valid_to u.1/xt$valid_to}
    {first_name ?_2}
    {id u.1/id})
   [:rename
    u.1
    [:scan
     {:table users, :for-valid-time [:between ?_0 ?_1]}
     [xt$valid_from xt$iid xt$valid_to {id (= id ?_3)}]]]]]]
