[:project
 [{film film.3/film} {film_ord film.3/film_ord} {films si.1/films}]
 [:unnest
  {film.3/film unnest}
  {:ordinality-column film.3/film_ord}
  [:map
   [{unnest si.1/films}]
   [:rename si.1 [:scan {:table stars_in} [films]]]]]]
