[:project
 {:projections [{i1 u1.4/i1} {i2 u2.6/i2} {x1 u1.4/x1} {x2 u2.6/x2}]}
 [:apply
  {:mode :cross-join, :columns {r1.1/xs ?_sq_xs_2, r2.2/xs ?_sq_xs_4}}
  [:mega-join
   {:conditions []}
   [[:rename {:prefix r1.1} [:scan {:table #xt/table r1, :columns [xs]}]]
    [:rename {:prefix r2.2} [:scan {:table #xt/table r2, :columns [xs]}]]]]
  [:mega-join
   {:conditions [{u1.4/i1 u2.6/i2}]}
   [[:map {:projections [{u1.4/i1 (local-row-number)}]} [:table {:column {u1.4/x1 ?_sq_xs_2}}]]
    [:map
     {:projections [{u2.6/i2 (local-row-number)}]}
     [:table {:column {u2.6/x2 ?_sq_xs_4}}]]]]]]
