[:project
 [{xt$column_1 4}]
 [:rename
  t1.1
  [:scan
   {:table t1,
    :for-valid-time
    [:between
     #time/zoned-date-time "3001-01-01T00:00Z"
     #time/date "3000-01-01"],
    :for-system-time
    [:between #time/date "2000-01-01" #time/date "2001-01-01"]}
   []]]]
