[:project
 {:projections [{_column_1 4}]}
 [:rename
  t1.1
  [:scan
   {:table #xt/table t1,
    :columns [],
    :for-valid-time
    [:between #xt/zdt "3001-01-01T00:00Z" #xt/date "3000-01-01"],
    :for-system-time
    [:between #xt/date "2000-01-01" #xt/date "2001-01-01"]}]]]
