body {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

a {
    color: #d67214
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 0.2em;
}

form {
    padding-bottom: 1em;
}

label {
    font-weight: bold;
}

input, textarea, select {
    border: 1px solid grey;
    border-radius: 3px;
    background: transparent;
    margin: 0.2em;
    padding: 0.2em;
    outline: none;
}

textarea:invalid, input:invalid {
    border: 1px solid darkred;
}

input[type=submit] {
    border: 1.5px solid grey;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 80%;
}

form:invalid input[type=submit].primary {
    pointer-events: none;
    opacity: 0.6;
}

input[type=submit]:hover,
input[type=button]:hover {
    background: #ddd;
    border: 1.5px solid black;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.4em;
    border-bottom: 1px solid lightgrey;
}

h2 small {
    padding: 0.2em;
    color: grey;
    display: block;
}

label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
}

footer {
    border-top: 1.5px solid grey;
    margin-top: 5em;
    padding: 1em;
    text-align: center;
}

dl {
    margin: 0;
    margin-bottom: 0.2em;
}

dl dt, dl dd {
    color: grey;
    font-size: 80%;
    display: inline-block;
    margin: 0;
    margin-right: 0.2em;
}

dl dd {
    color: black;
    margin-right: 1em;
}

svg a text {
    fill: #d67214;
    text-decoration: underline;
}

.timetravel svg.timeline-graph {
    text-anchor: start;
    width: 100%;
    font: 10px sans-serif;
}

.timetravel svg.timeline-graph line {
    stroke: black;
    stroke-width: 1.5px;
}

.timetravel svg.timeline-graph .max-time {
    text-anchor: end;
}

.timetravel svg.timeline-graph .bitemp-coordinates {
    stroke: blue;
}

.timetravel svg.timeline-graph .time-horizon line {
    stroke: green;
}

.timetravel svg.timeline-graph .time-horizon text,
.timetravel svg.timeline-graph .max-transaction-time text {
    font-weight: bold;
    text-decoration: none;
    visibility: hidden;
}

.timetravel svg.timeline-graph .max-transaction-time text {
    text-anchor: end;
}

.timetravel svg.timeline-graph .time-horizon:hover text,
.timetravel svg.timeline-graph .max-transaction-time:hover text {
    visibility: visible;
}

.timetravel svg.timeline-graph .max-transaction-time line {
    stroke: darkred;
}

.timetravel svg.timeline-graph .axis .axis-name {
    font-weight: bold;
}

.timetravel svg.timeline-graph .axis .axis-value {
    font-weight: normal;
}

.timetravel svg.timeline-graph .axis .axis-line {
    stroke-width: 3px;
    stroke: #ddd;
    cursor: pointer;
}

.timetravel svg.timeline-graph .timepoint {
    text-anchor: middle;
}

.timetravel svg.timeline-graph .timepoint .timepoint-marker {
    stroke-width: 2px;
    stroke: #555;
}

.timetravel svg.timeline-graph a.timepoint text {
    visibility: hidden;
    text-decoration: none;
}

.timetravel svg.timeline-graph a.timepoint:hover text {
    visibility: visible;
}

.comments ul {
    padding: 0;
}

.comments li {
    padding-bottom: 0.5em;
    list-style: none;
}

.comments li.comment .comment-meta {
    display: inline-block;
    color: grey;
    font-size: 80%;
    margin-bottom: 0.2em;
}

.comments li.comment .comment-meta .version-history,
.comments li.comment .comment-meta .version-history label,
.comments li.comment .comment-meta .version-history select {
    display: inline-block;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border: 0;
}

.comments form.edit-comment {
    position: relative;
    width: auto;
    padding-bottom: 0;
}

.comments form.edit-comment fieldset {
    margin-bottom: 0;
}

.comments .edit-comment textarea {
    background: #f8f8f8;
    border: 1px solid transparent;
    cursor: default;
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 1em;
}

.comments .edit-comment:hover textarea {
    border: 1px solid grey;
    cursor: text;
    resize: both;
}

.comments .edit-comment:hover textarea:invalid {
    border: 1px solid darkred;
}

.comments .edit-comment .buttons {
    position: absolute;
    visibility: hidden;
    right: 0;
}

.comments .edit-comment:hover .buttons {
    visibility: visible;
}

.add-comment-box fieldset {
    width: 25em;
    min-width: 10em;
}

.add-comment-box input[type=text] {
    width: 100%;
    display: block;
}

.add-comment-box textarea {
    width: 100%;
}

.transaction-history table {
    width: 100%;
    border-spacing: 0;
    font-family: monospace;
    white-space: pre;
}

.transaction-history table th {
    text-align: left;
}

.transaction-history table td {
    padding-top: 0.5em;
    vertical-align: top;
}
