---
const { hidden, q } = Astro.props;

var props = {
    'data-hidden': hidden ? 'true' : undefined,
    'data-query': q.trim(),
}
---
<div class:list={[{hidden: hidden}, "p-1", "bg-gray-100", "dark:bg-gray-800", "rounded-md"]}>
    <fiddle-query {...props} />
</div>
