{:lint-as {core2.object-store-test/def-obj-store-tests clojure.core/defn
           core2.rewrite/zmatch clojure.core.match/match
           core2.rewrite/zcase clojure.core/case
           core2.sql.logic-test.runner/def-slt-test clojure.test/deftest
           clojure.test.check.clojure-test/defspec clojure.test/deftest
           clojure.test.check.properties/for-all clojure.core/for
           juxt.clojars-mirrors.nextjdbc.v1v2v674.next.jdbc/with-transaction next.jdbc/with-transaction}
 :hooks {:analyze-call {core2.pgwire/def-msg hooks/pgwire-def-msg}}
 :linters {:not-empty? {:level :off}
           :unresolved-symbol {:level :error
                               :exclude [(clojure.test/is [=plan-file])]}}}
