{:lint-as {core2.object-store-test/def-obj-store-tests clojure.core/defn
           core2.rewrite/zmatch clojure.core.match/match
           core2.rewrite/zcase clojure.core/case
           clojure.test.check.clojure.test/defspec def
           clojure.test.check.properties/for-all clojure.core/let}
 :linters {:not-empty? {:level :off}}}
