{:paths ["src"]
 :deps
 {juxt/crux-core {:mvn/version "19.07-1.2.1-alpha-SNAPSHOT"}
  juxt/crux-rocksdb {:mvn/version "19.07-1.2.1-alpha-SNAPSHOT"}
  juxt/crux-kafka {:mvn/version "19.07-1.2.1-alpha-SNAPSHOT"}
  juxt/crux-http-server {:mvn/version "19.07-1.2.1-alpha-SNAPSHOT"}
  integrant {:mvn/version "0.7.0"}}
 :aliases
 {:dev
  {:extra-deps
   {org.rocksdb/rocksdbjni {:mvn/version "5.17.2"}}}}}
