<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="xtdb" level="INFO" />
  <logger name="imdb" level="INFO" />
  <logger name="org.apache.kafka" level="ERROR" />
  <logger name="org.apache.zookeeper" level="ERROR" />
</configuration>
