---
import Layout from '/src/layouts/docs.astro'
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const articles = await getCollection('learn');
  return articles.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

import NextPrevPage from '/src/components/learn/next-prev-page.astro';
import LearnNav from '/src/components/learn/nav.astro'
import TableOfContents from '/src/components/table-of-contents.astro'

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const toc = {items: headings}
---

<Layout title="Learn · XTDB">
    <div class="grid grid-cols-1 lg:grid-cols-[12rem_1fr_12rem] gap-4 my-4 lg:my-8 mx-auto max-w-fit">
        <LearnNav slug={entry.slug}/>

        <div class="doc-container prose dark:prose-invert max-w-none">
            <Content />
            <NextPrevPage slug={entry.slug} />
        </div>

        <aside class="lg:top-[152px] lg:block lg:h-fit overflow-scroll lg:sticky lg:overflow-auto row-start-2 lg:row-auto"><TableOfContents toc={toc} /></aside>
    </div>
</Layout>
