<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="crux" level="INFO" />
  <logger name="crux.node" level="WARN" />
  <logger name="crux.standalone" level="ERROR" />
  <logger name="crux.hash" level="WARN" />
  <logger name="crux.http-server" level="WARN" />
  <logger name="crux.kafka" level="WARN" />
  <logger name="crux.jdbc" level="WARN" />
  <logger name="crux.kv.memdb" level="ERROR" />
  <logger name="crux.rdf" level="ERROR" />
  <logger name="crux.tx" level="ERROR" />
  <logger name="org.apache.kafka" level="ERROR" />
  <logger name="org.apache.zookeeper" level="ERROR" />
</configuration>
