{:row-count 2,
 :fields
 {"a"
  #xt.arrow/field ["a" #xt.arrow/field-type [#xt.arrow/type :i64 false]],
  "_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :uuid false]]},
 :tries
 [{:trie-key "l00-rc-b00",
   :data-file-size 2422,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-02T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-02T00:00:00Z",
    :row-count 2,
    :iid-bloom [1468214577 5]}}],
 :hlls
 {"a" [605041376 1.0004885993744506],
  "_id" [-1364925505 1.0004885993744506]}}
