{:paths ["src/main/clojure" "src/main/resources"]

 :deps {com.xtdb.labs/xtdb-api {:local/root "../../api"}
        com.xtdb.labs/xtdb-core {:local/root "../../core"}

        com.xtdb.labs/xtdb-datasets {:local/root "../datasets"}
        com.xtdb.labs/xtdb-kafka {:local/root "../kafka"}
        com.xtdb.labs/xtdb-s3 {:local/root "../s3"}
        com.xtdb.labs/xtdb-jdbc {:local/root "../jdbc"}

        org.clojure/data.csv {:mvn/version "1.0.1"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.10"}

        ;; bench2
        io.micrometer/micrometer-core {:mvn/version "1.9.5"}
        com.github.oshi/oshi-core {:mvn/version "6.3.0"}
        pro.juxt.clojars-mirrors.hiccup/hiccup {:mvn/version "2.0.0-alpha2"}}}
