{:row-count 1,
 :fields
 {"_id" #xt/field ["_id" :i64],
  "system_time" #xt/field ["system_time" [:timestamp-tz :micro "UTC"]],
  "committed" #xt/field ["committed" :bool],
  "error" #xt/field ["error" :transit :?]},
 :hlls
 {"_id" [75145568 1.0004885993744506],
  "system_time" [-240381059 1.0004885993744506],
  "committed" [1743138479 1.0004885993744506],
  "error" [1743287434 1.0004885993744506]},
 :partitions
 [{:level 0,
   :part [],
   :tries
   [{:trie-key "l00-rc-b00",
     :data-file-size 2798,
     :trie-metadata
     {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
      :max-valid-from #xt/instant "2020-01-01T00:00:00Z",
      :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
      :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
      :min-system-from #xt/instant "2020-01-01T00:00:00Z",
      :max-system-from #xt/instant "2020-01-01T00:00:00Z",
      :row-count 1,
      :iid-bloom [341758827 5]}}]}]}
