{:row-count 264,
 :fields
 {"price"
  #xt.arrow/field ["price" #xt.arrow/field-type [#xt.arrow/type :i64 false]],
  "_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :i64 false]]},
 :tries
 [{:trie-key "l00-rc-b00",
   :data-file-size 5982,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T00:00:00Z",
    :row-count 64,
    :iid-bloom [-1915643088 320]}}
  {:trie-key "l00-rc-b01",
   :data-file-size 8238,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-01T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T12:00:00Z",
    :row-count 100,
    :iid-bloom [1761496765 500]}}
  {:trie-key "l00-rc-b02",
   :data-file-size 8238,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-02T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T12:00:00Z",
    :max-system-from #xt/instant "2020-01-02T00:00:00Z",
    :row-count 100,
    :iid-bloom [1761496765 500]}}],
 :hlls
 {"price" [-1847233378 3.004403133222472],
  "_id" [399599247 104.11834172111658]}}
