{:paths ["src/main/clojure" "target/classes"]
 
 :deps {com.xtdb.labs/xtdb-api {:local/root "../../api"}
        com.xtdb.labs/xtdb-core {:local/root "../../core"}

        com.azure/azure-storage-blob {:mvn/version "12.22.0"}
        com.azure/azure-messaging-eventhubs {:mvn/version "5.15.0"}
        com.azure/azure-identity {:mvn/version "1.9.0"}
        com.azure/azure-core-management {:mvn/version "1.11.1"}
        com.azure.resourcemanager/azure-resourcemanager-eventhubs {:mvn/version "2.26.0"}}}
