{:xtdb.log/local-directory-log {:root-path "/var/lib/xtdb/log"}
 :xtdb.buffer-pool/local {:path "/var/lib/xtdb/buffers"}
 :xtdb/server {:port 3000}
 :xtdb/pgwire {:port 5432}
 :xtdb.flight-sql/server {:host "0.0.0.0", :port 9832}}
