{:paths ["src" "resources" "target/classes"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.xtdb.labs/core2-api {:local/root "../api"}

        org.clojure/tools.logging {:mvn/version "1.2.4"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/data.csv {:mvn/version "1.0.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}

        org.apache.arrow/arrow-algorithm {:mvn/version "8.0.0"}
        org.apache.arrow/arrow-compression {:mvn/version "8.0.0"}
        org.apache.arrow/arrow-vector {:mvn/version "8.0.0"}
        org.apache.arrow/arrow-memory-netty {:mvn/version "8.0.0"}

        org.roaringbitmap/RoaringBitmap {:mvn/version "0.9.26"}

        pro.juxt.clojars-mirrors.integrant/integrant {:mvn/version "0.8.0"}

        commons-codec/commons-codec {:mvn/version "1.15"}}

 :deps/prep-lib {:ensure "target/classes"
                 :alias :build
                 :fn build/prep}

 :aliases {:dev {:extra-paths ["dev"]}

           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.7.7" :git/sha "1474ad6"}}
                   :extra-paths ["dev"]
                   :ns-default build}}}
