{:path ["resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}

        ;; Logging
        org.slf4j/slf4j-api {:mvn/version "1.7.29"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

        ;; Crux
        pro.juxt.crux/crux-core {:mvn/version "crux-git-version"}
        pro.juxt.crux/crux-rocksdb {:mvn/version "crux-git-version"}
        pro.juxt.crux/crux-http-server {:mvn/version "crux-git-version"}
        pro.juxt.crux/crux-sql {:mvn/version "crux-git-version"}}}
