{:deps {org.clojure/clojure {:mvn/version "1.10.1"}

        ;; Logging
        org.slf4j/slf4j-api {:mvn/version "1.7.29"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

        ;; Crux
        juxt/crux-core {:mvn/version "derived-from-git"}
        juxt/crux-http-server {:mvn/version "derived-from-git"}
        juxt/crux-cli {:mvn/version "derived-from-git"}

        }

 :aliases {:pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "c70740ffc10805f34836da2160fa1899601fac02"
                                                :tag "master"}}
                  :main-opts ["-m" "mach.pack.alpha.capsule" "crux.jar"
                              "-e" "build"
                              "--application-id" "crux"
                              "--application-version" "derived-from-git"
                              "-m" "crux.main"]}}}
