{:paths ["src/main/clojure" "src/main/resources"]

 :deps {com.cognitect/transit-clj {:mvn/version "1.0.324"}
        com.widdindustries/time-literals {:mvn/version "0.1.6"}

        org.apache.arrow/arrow-algorithm {:mvn/version "12.0.1"}
        org.apache.arrow/arrow-compression {:mvn/version "12.0.1"}
        org.apache.arrow/arrow-vector {:mvn/version "12.0.1"}
        org.apache.arrow/arrow-memory-netty {:mvn/version "12.0.1"}}}
