{"docinfo" "shared"
 "docinfodir" "doc"
 "experimental" true
 "figure-caption" false
 "highlightjs-theme" "tomorrow-night"
 "highlightjsdir" "/highlight"
 "icons" "font"
 "iconfont-cdn" "/font-awesome/css/font-awesome.min.css"
 "icontype" "svg"
 "imagesdir" "/img"
 "nofooter" true
 "sectnums" true
 "sectanchors" true
 "source-highlighter" "highlightjs"
 "stylesdir" "/doc/css"
 "stylesheet" "juxt.css"
 "linkcss" true
 "toc" "left"
 "webfonts" false
 "xrefstyle" "short"}
