{:cljdoc.doc/tree [["What is Crux?" {:file "docs/main/modules/ROOT/pages/what-is-crux.adoc"}]
                   ["Bitemporality" {:file "docs/main/modules/ROOT/pages/bitemporality.adoc"}]
                   ["Get Started" {:file "docs/reference/modules/ROOT/pages/get-started.adoc"}]
                   ["Tutorials" {:file "docs/tutorials/modules/ROOT/pages/space-adventure.adoc"}]
                   ["Configuration" {:file "docs/reference/modules/ROOT/pages/configuration.adoc"}]
                   ["Transactions" {:file "docs/reference/modules/ROOT/pages/transactions.adoc"}]
                   ["Queries" {:file "docs/reference/modules/ROOT/pages/queries.adoc"}]
                   ["SQL" {:file "docs/reference/modules/ROOT/pages/sql.adoc"}]
                   ["Kafka Connect Crux" {:file "docs/reference/modules/ROOT/pages/kafka-connect-crux.adoc"}]]}
