{:cljdoc.doc/tree [["What is Crux?" {:file "docs/docs/modules/ROOT/pages/what_is_crux.adoc"}]
                   ["Bitemporality" {:file "docs/docs/modules/ROOT/pages/bitemp.adoc"}]
                   ["Get Started" {:file "docs/docs/modules/ROOT/pages/get_started.adoc"}]
                   ["Tutorials" {:file "docs/docs/modules/ROOT/pages/tutorials.adoc"}]
                   ["Configuration" {:file "docs/docs/modules/ROOT/pages/configuration.adoc"}]
                   ["Transactions" {:file "docs/docs/modules/ROOT/pages/transactions.adoc"}]
                   ["Queries" {:file "docs/docs/modules/ROOT/pages/queries.adoc"}]
                   ["SQL" {:file "docs/docs/modules/ROOT/pages/sql.adoc"}]
                   ["Advanced" {:file "docs/docs/modules/ROOT/pages/advanced.adoc"}]
                   ["Kafka Connect Crux" {:file "docs/docs/modules/ROOT/pages/kafka-connect-crux.adoc"}]
                   ["About Crux" {:file "docs/docs/modules/ROOT/pages/about.adoc"}]]}
