---
const { q } = Astro.props;
---
<div class="p-2 bg-gray-100 dark:bg-gray-800 rounded-md text-sm">
    <live-query-template data-template={q.trim()} />
</div>

<script>
    import hljs from "highlight.js/lib/core"
    import hljsSql from "highlight.js/lib/languages/sql"
    import Mustache from 'mustache';

    hljs.registerLanguage('sql', hljsSql);

    // Disable HTML escaping
    Mustache.escape = function(text) {return text;};

    class LiveQueryTemplate extends HTMLElement {
        constructor() {
            super();
            this.template = this.dataset.template;
        }

        render(view) {
            // Render the template
            let query = Mustache.render(this.template, view);

            // Render this component
            let highlight = hljs.highlight(query, {language: 'sql'});
            this.innerHTML = '<pre class="overflow-x-auto">' + highlight.value + '</pre>';

            // Return the rendered query
            return query;
        }
    }

    customElements.define('live-query-template', LiveQueryTemplate);
</script>
