{:block-idx 0,
 :latest-completed-tx
 {:tx-id 2910, :system-time #xt/instant "2020-01-03T00:00:00Z"},
 :latest-processed-msg-id 5413,
 :table-names #{"xt/txs" "xt/role_membership" "public/xt_docs"},
 :tables
 [{:oid 1,
   :schema-name "public",
   :table-name "xt_docs",
   :slug "public$xt_docs"}
  {:oid 2,
   :schema-name "xt",
   :table-name "role_membership",
   :slug "xt$role_membership"}
  {:oid 3, :schema-name "xt", :table-name "txs", :slug "xt$txs"}],
 :secondary-dbs {}}
