[:rename
 {x1 name}
 [:order-by
  [[x1 {:direction :asc, :null-ordering :nulls-last}]]
  [:distinct
   [:union-all
    [:rename {name x1} [:scan {:table starsin} [name]]]
    [:rename {name x1} [:scan {:table starsin} [name]]]]]]]
