[:rename
 {x1 movietitle}
 [:project
  [x1]
  [:mega-join
   [{x2 x4}]
   [[:rename
     {movietitle x1, starname x2}
     [:scan starsin [movietitle starname]]]
    [:rename
     {name x4, birthdate x5}
     [:scan moviestar [name {birthdate (= birthdate 1960)}]]]]]]]
