[:rename
 {x7 some_column}
 [:project
  [{x7 (= 1 x5)}]
  [:apply
   :single-join
   {x1 ?x6}
   [:rename {y x1} [:scan {:table x} [{y (= y 1)}]]]
   [:project
    [{x5 (= x3 ?x6)}]
    [:rename {bar x3} [:scan {:table foo} [bar]]]]]]]
