[:rename
 {x1 a}
 [:project
  [x1]
  [:mega-join
   []
   [[:rename {a x1} [:scan {:table foo} [a]]]
    [:select
     (= x3 x5)
     [:single-join
      []
      [:rename {c x3} [:scan {:table bar} [c]]]
      [:rename {b x5} [:scan {:table foo} [b]]]]]]]]]
