[:rename
 {x1 a}
 [:project
  [x1]
  [:mega-join
   []
   [[:rename {a x1} [:scan foo [a]]]
    [:select
     (= x3 x5)
     [:single-join
      []
      [:rename {c x3} [:scan bar [c]]]
      [:rename {b x5} [:scan foo [b]]]]]]]]]
