[:rename
 {x4 $column_1$}
 [:project
  [{x4 4}]
  [:rename
   {system_time_start x1, system_time_end x2}
   [:select
    (if
     (>
      #time/zoned-date-time "3002-01-01T00:00Z"
      #time/date "3001-01-01")
     (and
      (<=
       #time/date "3001-01-01"
       #time/zoned-date-time "3002-01-01T00:00Z")
      (<= system_time_start #time/zoned-date-time "3002-01-01T00:00Z")
      (> system_time_end #time/date "3001-01-01"))
     (and
      (<=
       #time/zoned-date-time "3002-01-01T00:00Z"
       #time/date "3001-01-01")
      (<= system_time_start #time/date "3001-01-01")
      (> system_time_end #time/zoned-date-time "3002-01-01T00:00Z")))
    [:scan {:table t1} [system_time_start system_time_end]]]]]]
