[:rename
 {x5 $column_1$}
 [:single-join
  []
  [:rename {} [:scan {:table t2} []]]
  [:project
   [{x5 4}]
   [:rename
    {system_time_start x2, system_time_end x3}
    [:select
     (<=
      #time/date "3001-01-01"
      #time/zoned-date-time "3002-01-01T00:00Z")
     [:scan
      {:table t1}
      [{system_time_start
        (<=
         system_time_start
         #time/zoned-date-time "3002-01-01T00:00Z")}
       {system_time_end
        (> system_time_end #time/date "3001-01-01")}]]]]]]]
