[:rename
 {x5 $column_1$}
 [:project
  [{x5 1}]
  [:rename
   {application_time_start x1, application_time_end x2, bar x3}
   [:scan
    {:table foo}
    [{application_time_start
      (<= application_time_start (current-timestamp))}
     {application_time_end
      (> application_time_end (current-timestamp))}
     bar]]]]]
