[:rename
 {x6 $column_1$}
 [:project
  [x6]
  [:mega-join
   []
   [[:rename {a x1} [:scan {:table a} [{a (= a 42)}]]]
    [:group-by
     [{x6 (array-agg x3)}]
     [:rename
      {b1 x3, b2 x4}
      [:scan {:table b} [b1 {b2 (= b2 42)}]]]]]]]]
