[:rename
 {x7 $column_1$}
 [:project
  [x7]
  [:group-by
   [x1 x2 $row_number$ {x7 (array-agg x4)}]
   [:mega-join
    [{x1 x5}]
    [[:map
      [{$row_number$ (row-number)}]
      [:rename {b x1, a x2} [:scan a [b {a (= a 42)}]]]]
     [:rename {b1 x4, b2 x5} [:scan b [b1 b2]]]]]]]]
