#{clojure.core/*
  clojure.core/*'
  clojure.core/+
  clojure.core/+'
  clojure.core/-
  clojure.core//
  clojure.core/<
  clojure.core/<=
  clojure.core/=
  clojure.core/==
  clojure.core/>
  clojure.core/>=
  clojure.core/aget
  clojure.core/alength
  clojure.core/any?
  clojure.core/array-map
  clojure.core/aset
  clojure.core/aset-boolean
  clojure.core/aset-byte
  clojure.core/aset-char
  clojure.core/aset-double
  clojure.core/aset-float
  clojure.core/aset-int
  clojure.core/aset-long
  clojure.core/aset-short
  clojure.core/assoc
  clojure.core/assoc!
  clojure.core/assoc-in
  clojure.core/associative?
  clojure.core/bigdec
  clojure.core/bigint
  clojure.core/biginteger
  clojure.core/bit-and
  clojure.core/bit-and-not
  clojure.core/bit-clear
  clojure.core/bit-flip
  clojure.core/bit-not
  clojure.core/bit-or
  clojure.core/bit-set
  clojure.core/bit-shift-left
  clojure.core/bit-shift-right
  clojure.core/bit-test
  clojure.core/bit-xor
  clojure.core/boolean
  clojure.core/boolean?
  clojure.core/booleans
  clojure.core/butlast
  clojure.core/byte
  clojure.core/bytes
  clojure.core/bytes?
  clojure.core/cast
  clojure.core/char
  clojure.core/char?
  clojure.core/chars
  clojure.core/coll?
  clojure.core/compare
  clojure.core/concat
  clojure.core/conj
  clojure.core/conj!
  clojure.core/cons
  clojure.core/contains?
  clojure.core/count
  clojure.core/counted?
  clojure.core/cycle
  clojure.core/dec
  clojure.core/dec'
  clojure.core/decimal?
  clojure.core/dedupe
  clojure.core/disj
  clojure.core/dissoc
  clojure.core/dissoc!
  clojure.core/distinct
  clojure.core/distinct?
  clojure.core/double
  clojure.core/double?
  clojure.core/doubles
  clojure.core/drop
  clojure.core/drop-last
  clojure.core/empty
  clojure.core/empty?
  clojure.core/even?
  clojure.core/false?
  clojure.core/ffirst
  clojure.core/find
  clojure.core/first
  clojure.core/flatten
  clojure.core/float
  clojure.core/float?
  clojure.core/floats
  clojure.core/fnext
  clojure.core/format
  clojure.core/frequencies
  clojure.core/gensym
  clojure.core/get
  clojure.core/get-in
  clojure.core/hash-map
  clojure.core/hash-set
  clojure.core/ident?
  clojure.core/identical?
  clojure.core/identity
  clojure.core/inc
  clojure.core/inc'
  clojure.core/indexed?
  clojure.core/inst?
  clojure.core/instance?
  clojure.core/int
  clojure.core/int?
  clojure.core/integer?
  clojure.core/interleave
  clojure.core/interpose
  clojure.core/into-array
  clojure.core/ints
  clojure.core/keys
  clojure.core/keyword
  clojure.core/keyword?
  clojure.core/last
  clojure.core/list
  clojure.core/list*
  clojure.core/list?
  clojure.core/long
  clojure.core/longs
  clojure.core/map?
  clojure.core/max
  clojure.core/max-key
  clojure.core/merge
  clojure.core/min
  clojure.core/min-key
  clojure.core/mod
  clojure.core/name
  clojure.core/namespace
  clojure.core/nat-int?
  clojure.core/neg-int?
  clojure.core/neg?
  clojure.core/next
  clojure.core/nfirst
  clojure.core/nil?
  clojure.core/nnext
  clojure.core/not
  clojure.core/not-empty
  clojure.core/not=
  clojure.core/ns-name
  clojure.core/nth
  clojure.core/nthnext
  clojure.core/nthrest
  clojure.core/num
  clojure.core/number?
  clojure.core/odd?
  clojure.core/partition
  clojure.core/partition-all
  clojure.core/peek
  clojure.core/persistent!
  clojure.core/pop
  clojure.core/pop!
  clojure.core/pos-int?
  clojure.core/pos?
  clojure.core/qualified-ident?
  clojure.core/qualified-keyword?
  clojure.core/qualified-symbol?
  clojure.core/quot
  clojure.core/rand
  clojure.core/rand-int
  clojure.core/rand-nth
  clojure.core/random-sample
  clojure.core/range
  clojure.core/ratio?
  clojure.core/rational?
  clojure.core/rationalize
  clojure.core/re-find
  clojure.core/re-groups
  clojure.core/re-matcher
  clojure.core/re-matches
  clojure.core/re-pattern
  clojure.core/re-seq
  clojure.core/record?
  clojure.core/rem
  clojure.core/repeat
  clojure.core/replace
  clojure.core/rest
  clojure.core/reverse
  clojure.core/reversible?
  clojure.core/rseq
  clojure.core/rsubseq
  clojure.core/second
  clojure.core/select-keys
  clojure.core/seq
  clojure.core/seq?
  clojure.core/seqable?
  clojure.core/sequential?
  clojure.core/set
  clojure.core/set?
  clojure.core/short
  clojure.core/shorts
  clojure.core/shuffle
  clojure.core/simple-ident?
  clojure.core/simple-keyword?
  clojure.core/simple-symbol?
  clojure.core/some?
  clojure.core/sort
  clojure.core/sorted-set
  clojure.core/sorted-set-by
  clojure.core/sorted?
  clojure.core/split-at
  clojure.core/str
  clojure.core/string?
  clojure.core/subs
  clojure.core/subseq
  clojure.core/subvec
  clojure.core/symbol
  clojure.core/symbol?
  clojure.core/take
  clojure.core/take-last
  clojure.core/take-nth
  clojure.core/to-array-2d
  clojure.core/transient
  clojure.core/true?
  clojure.core/type
  clojure.core/unsigned-bit-shift-right
  clojure.core/update
  clojure.core/update-in
  clojure.core/uri?
  clojure.core/uuid?
  clojure.core/vals
  clojure.core/vec
  clojure.core/vector
  clojure.core/vector-of
  clojure.core/vector?
  clojure.core/zero?
  clojure.core/zipmap
  crux.calcite/-divide
  crux.calcite/-lambda
  crux.calcite/-like
  crux.calcite/-mod
  clojure.core/-'}
