{:row-count 2,
 :fields
 {"os_name"
  #xt.arrow/field ["os_name" #xt.arrow/field-type [#xt.arrow/type :utf8 false]],
  "model"
  #xt.arrow/field ["model" #xt.arrow/field-type [#xt.arrow/type :utf8 false]],
  "_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :utf8 false]],
  "api_version"
  #xt.arrow/field ["api_version" #xt.arrow/field-type [#xt.arrow/type :utf8 false]],
  "manufacturer"
  #xt.arrow/field ["manufacturer" #xt.arrow/field-type [#xt.arrow/type :utf8 false]]},
 :tries
 [{:trie-key "l00-rc-b00",
   :data-file-size 2894,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-02T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-02T00:00:00Z",
    :row-count 2,
    :iid-bloom [218706493 10]}}],
 :hlls
 {"os_name" [1167356128 1.0004885993744506],
  "model" [-2034856674 2.001955671862574],
  "_id" [1621770365 2.001955671862574],
  "api_version" [938727103 1.0004885993744506],
  "manufacturer" [-409064930 1.0004885993744506]}}
