{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "root-col?" :bool,
                     "count" :i64,
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "numbers"
                     [:? :struct {"min" :f64, "max" :f64}]}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 5,
                   :bytes
                   {:bloom
                    #bytes "3a3000000a000000040000000b000000120000001d0000001f00000026000000290000002f0000003700000038000000580000005a0000005c0000005e00000060000000620000006400000066000000680000006a000000b0d62f240469676658fbbf9f08b29fa85c44f7e1"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 5,
                   :date-times
                   {:min -9.223372036854775E12, :max 1.578096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 5,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 5,
                   :date-times {:min 1.578096E9, :max 1.5781824E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 3,
                   :numbers {:min 1.0, :max 2.0}}
                  {:col-name "bar",
                   :root-col? true,
                   :count 3,
                   :numbers {:min 1.0, :max 2.0}}
                  {:col-name "toto",
                   :root-col? true,
                   :count 2,
                   :bytes {}}]}]}])}
