{:crux/node-opts {:crux.node/topology '[crux.standalone/topology crux.http-server/module]
                  :crux.node/kv-store 'crux.kv.memdb/kv
                  :crux.kv/db-dir "/var/lib/crux/db"}
 :crux/server-opts {}}
