{:crux/node-opts {:crux.node/topology '[crux.standalone/topology
                                        crux.http-server/module
                                        crux.kv.rocksdb/kv-store]
                  :crux.kv/db-dir "/var/lib/crux/db"
                  :crux.standalone/event-log-kv-store 'crux.kv.rocksdb/kv
                  :crux.standalone/event-log-dir "/var/lib/crux/events"}
 :crux/server-opts {}}
