{:deps
 {juxt/crux-http-server {:mvn/version "19.12-1.6.0-alpha"}
  juxt/crux-core {:mvn/version "19.12-1.6.0-alpha"}

  integrant {:mvn/version "0.7.0"}
  integrant/repl {:mvn/version "0.3.1"}

  nrepl/nrepl {:mvn/version "0.6.0"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}}}
