[:rename
 {x1 o_orderpriority, x11 order_count}
 [:order-by
  [[x1 {:direction :asc, :null-ordering :nulls-last}]]
  [:group-by
   [x1 {x11 (count x10)}]
   [:map
    [{x10 1}]
    [:semi-join
     [{x3 x5}]
     [:rename
      {o_orderpriority x1, o_orderdate x2, o_orderkey x3}
      [:scan
       orders
       [o_orderpriority
        {o_orderdate
         (and
          (<
           o_orderdate
           (+
            #time/date "1993-07-01"
            (single-field-interval "3" "MONTH" 2 0)))
          (>= o_orderdate #time/date "1993-07-01"))}
        o_orderkey]]]
     [:rename
      {l_orderkey x5, l_commitdate x6, l_receiptdate x7}
      [:select
       (< l_commitdate l_receiptdate)
       [:scan lineitem [l_orderkey l_commitdate l_receiptdate]]]]]]]]]
