{:schema
 #xt/schema (["nodes"
              :union
              ["nil" :null :?]
              ["branch-iid" :list ["$data$" :i32 :?]]
              ["leaf"
               :struct
               ["data-page-idx" :i32]
               ["columns"
                :list
                ["col"
                 :struct
                 ["col-name" :utf8]
                 ["root-col?" :bool]
                 ["count" :i64]
                 ["bytes" :struct :? ["bloom" :varbinary :?]]
                 ["date-times" :struct :? ["min" :f64] ["max" :f64]]
                 ["numbers" :struct :? ["min" :f64] ["max" :f64]]
                 ["bool" :bool :?]
                 ["transit" :bool :?]]]]]),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 1,
                   :bytes
                   {:bloom
                    #bytes "3a30000005000000070000000a00000026000000280000002b00000030000000320000003400000036000000380000005780fd500418aae850b9"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 1,
                   :date-times {:min 1.5780096E9, :max 1.5780096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 1,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 1,
                   :date-times {:min 1.5780096E9, :max 1.5780096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 1,
                   :numbers {:min 5798.0, :max 5798.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 1,
                   :date-times {:min 1.5780096E9, :max 1.5780096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 1,
                   :bool true}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
