{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null]}
               {"branch-iid" [:list [:? :i32]]}
               {"leaf"
                [:struct
                 {"data-page-idx" :i32}
                 {"columns"
                  [:list
                   {"col"
                    [:struct
                     {"col-name" :utf8}
                     {"root-col?" :bool}
                     {"count" :i64}
                     {"bytes" [:? :struct {"bloom" [:? :varbinary]}]}
                     {"date-times"
                      [:? :struct {"min" :f64} {"max" :f64}]}
                     {"numbers" [:? :struct {"min" :f64} {"max" :f64}]}
                     {"bool" [:? :bool]}
                     {"transit" [:? :bool]}]}]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 3,
                   :bytes
                   {:bloom
                    #bytes "3a3000000e0000000400000007000000090000000b0000000d0000000f00000011000100130000001500000018000000190000001e0000002b00000038000000780000007a0000007c0000007e000000800000008200000084000000880000008a0000008c0000008e00000090000000920000009400000043070d9b193f4fb6cd5291d181669dfed3ec357a1508e98d6104bbfb7f01"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5780096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 3,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5780096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 3,
                   :numbers {:min 0.0, :max 5670.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5780096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 3,
                   :bool true}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
