{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 4,
                   :bytes
                   {:bloom
                    #bytes "3a300000100000000400000007000000090000001100000014000000160000001e00000022000200280000002b0000002e0000002f00010035000000380000003b0001003c000000880000008a0000008c0000008e000000900000009200000094000000960000009c0000009e000000a0000000a2000000a6000000a8000000aa000000ae00000043071728d7419dfe1bf9dfed61044a0b2a5c6dfc7998bbfbc8d4fb0a791d17117f018919664da82f"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 4,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 4,
                   :numbers {:min 0.0, :max 8484.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 4,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
