{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 4,
                   :bytes
                   {:bloom
                    #bytes "3a30000012000000010000000400000006000000090000000b0000000d0000001100000014000000150000001e0000002100000026000000270000002b0001002f00010030000000380000003d000000980000009a0000009c0000009e000000a0000000a2000000a4000000a6000000a8000000aa000000ac000000ae000000b0000000b2000000b6000000ba000000bc000000be0000007e224307bbef3e43767f4e5c9dfe8a766edc610459fdfa50b636c64fbbfbd6682884f2ad7f01f70a"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 4,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 4,
                   :numbers {:min 0.0, :max 9579.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 4,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
