{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 4,
                   :bytes
                   {:bloom
                    #bytes "3a3000000f00000000000000040000000b0000000d0000000e00010011000000180000001e000200260000002b0000002d0000002e00010033000000380000003d00010080000000820000008400000086000000880000008c0000008e0000009000000096000000980000009a0000009c000000a0000000a2000000a400000056fc4307d6411541971871c69dfe76b06104025c1a65161fbbfbc191c3036d9fb68d7f016ca22cd5"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 4,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 4,
                   :numbers {:min 0.0, :max 4474.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 4,
                   :date-times {:min 1.5778368E9, :max 1.578096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 4,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
