{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 3,
                   :bytes
                   {:bloom
                    #bytes "3a3000000e0000000200000004000000090000000a0000000b0000000e000000100000001100000012000100190000001e0000002b000000380000003b000000780000007a0000007c0000007e00000080000000820000008400000086000000880000008c0000008e00000090000000920000009400000073d6430794f30b6f57fb1a03dd0a9dfea307a0123ba06104bbfb7f01db3d"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5780096E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 3,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5780096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 3,
                   :numbers {:min 0.0, :max 3155.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5780096E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 3,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
