{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   {"col"
                    [:struct
                     {"col-name" :utf8,
                      "transit" [:? :bool],
                      "count" :i64,
                      "bool" [:? :bool],
                      "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                      "numbers" [:? :struct {"min" :f64, "max" :f64}],
                      "date-times"
                      [:? :struct {"min" :f64, "max" :f64}],
                      "struct" [:? :list :i32],
                      "root-col?" :bool}]}]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 2,
                   :bytes
                   {:bloom
                    #bytes "3a3000000a000000040000000900000011000000140000001e000000220000002b0000002f000000380000003c000000580000005a0000005c0000005e00000060000000620000006400000066000000680000006a0000004307d7419dfe1bf961044a0bbbfb791d7f01a82f"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 2,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 2,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 2,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 2,
                   :numbers {:min 0.0, :max 3145.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 2,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 2,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
