[l_tax l l_discount l_shipdate l_extendedprice ret_1 ret_2 ret_3 ret_4 l_linestatus l_returnflag l_quantity]
[15 "EUROPE" p p_type ps s n r ps_supplycost s_comment s_name s_address s_phone s_acctbal n_name p_mfgr]
["BUILDING" c o o_orderdate l l_discount l_shipdate l_extendedprice ret_1 ret_2 o_shippriority]
[o_orderdate o o_orderpriority]
["ASIA" r n s l l_discount o o_orderdate c l_extendedprice ret_1 ret_2 n_name]
[l_discount l l_quantity l_shipdate l_extendedprice ret_1]
[l_shipdate ret_3 l_year l l_discount s n1 supp_nation o c n2 cust_nation l_extendedprice ret_1 ret_2]
[brazil_volume volume o_year mkt_share]
[p_name p ps s n l l_discount l_quantity o o_orderdate l_extendedprice ret_1 ret_2 ps_supplycost ret_3 ret_4 ret_5 o_year nation]
["R" l l_discount o o_orderdate c n l_extendedprice ret_1 ret_2 c_phone c_acctbal c_address n_name c_comment c_name]
[ret_1 ret_2 value ps_partkey]
[#{"MAIL" "SHIP"} l l_receiptdate l_commitdate l_shipdate o o_orderpriority high_line_count low_line_count l_shipmode]
[c c_count]
[promo not_promo ret_1 promo_revenue]
[revenue s total_revenue s_name s_address s_phone]
[#{36 3 23 19 9 14 45 49} p p_brand p_type ps s p_size]
[sum_extendedprice avg_yearly]
[o c l sum_quantity o_totalprice o_orderdate l_quantity c_name]
["DELIVER IN PERSON" #{"AIR REG" "AIR"} l l_discount p p_size l_extendedprice l_quantity ret_1 ret_2]
["CANADA" n s ps ps_availqty p p_name sum_quantity ret_1 ret_2 s_name s_address]
["F" "SAUDI ARABIA" n s l1 o l_commitdate l_receiptdate s_name]
[c c_acctbal c_phone cntrycode avg_acctbal]
