[:rename
 {x1 y}
 [:project
  [x1]
  [:anti-join
   [(or (<= x2 x5) (nil? x2) (nil? x5))]
   [:rename
    {y x1, z x2, _table x3}
    [:scan [y z {_table (= _table "x")}]]]
   [:rename {z x5, _table x6} [:scan [z {_table (= _table "y")}]]]]]]
