[:rename
 {x9 $column_1$}
 [:project
  [x9]
  [:map
   [{x9 (not x8)}]
   [:mark-join
    {x8 [(> x1 x4)]}
    [:rename {z x1, _table x2} [:scan [z {_table (= _table "x")}]]]
    [:project
     [x4]
     [:rename
      {z x4, _table x5}
      [:scan [z {_table (= _table "y")}]]]]]]]]
