[:rename
 {x1 movieTitle}
 [:project
  [x1]
  [:order-by
   [[x4 {:direction :desc, :null-ordering :nulls-last}]
    [x1 {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [x1 x4]
    [:map
     [{x4 (= x2 "foo")}]
     [:rename {movieTitle x1, year x2} [:scan [movieTitle year]]]]]]]]
