[:rename
 {x1 name, x10 $column_2$}
 [:project
  [x1 x10]
  [:select
   (< x11 1930)
   [:group-by
    [x1 {x10 (sum x5)} {x11 (min x7)}]
    [:mega-join
     [{x2 x6}]
     [[:rename
       {name x1, cert x2, _table x3}
       [:scan [name cert {_table (= _table "movieexec")}]]]
      [:rename
       {length x5, producer x6, year x7, _table x8}
       [:scan [length producer year {_table (= _table "movie")}]]]]]]]]]
