[:rename
 {x1 movieTitle}
 [:distinct
  [:union-all
   [:project
    [x1]
    [:rename
     {movieTitle x1, _table x2}
     [:scan [movieTitle {_table (= _table "StarsIn")}]]]]
   [:project
    [x1]
    [:rename
     {name x1, _table x5}
     [:scan [name {_table (= _table "StarsIn")}]]]]]]]
