[:rename
 {x1 movietitle}
 [:top
  {:skip 100}
  [:order-by
   [[x1 {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [x1]
    [:rename
     {movietitle x1, _table x2}
     [:scan [movietitle {_table (= _table "starsin")}]]]]]]]
