[:rename
 {x1 name}
 [:difference
  [:distinct
   [:project
    [x1]
    [:rename
     {name x1, _table x2}
     [:scan [name {_table (= _table "StarsIn")}]]]]]
  [:distinct
   [:project
    [x1]
    [:rename
     {name x1, _table x5}
     [:scan [name {_table (= _table "StarsIn")}]]]]]]]
