[:rename
 {x1 films, x4 $column_2$, x5 $column_3$}
 [:project
  [x1 x4 x5]
  [:unwind
   {x4 x1}
   {:ordinality-column x5}
   [:rename
    {films x1, _table x2}
    [:scan [films {_table (= _table "StarsIn")}]]]]]]
