[:rename
 {x7 $column_1$, x8 $column_2$, x9 $column_3$}
 [:project
  [{x7 (case (+ x1 1) x2 111 x3 222 x4 333 x5 444 555)}
   {x8
    (cond (< x1 (- x2 3)) 111 (<= x1 x2) 222 (< x1 (+ x2 3)) 333 444)}
   {x9 (case (+ x1 1) x2 222 x3 222 x4 444 (+ x5 1) 444 555)}]
  [:rename {a x1, b x2, c x3, d x4, e x5} [:scan [a b c d e]]]]]
