[:rename
 {x1 title}
 [:project
  [x1]
  [:left-outer-join
   [{x1 x4}]
   [:rename
    {title x1, _table x2}
    [:scan [title {_table (= _table "StarsIn")}]]]
   [:rename
    {title x4, _table x5}
    [:scan [title {_table (= _table "Movie")}]]]]]]
