[:rename
 {x1 movietitle}
 [:project
  [x1]
  [:join
   [{x2 x5}]
   [:rename
    {movietitle x1, starname x2, _table x3}
    [:scan [movietitle starname {_table (= _table "starsin")}]]]
   [:project
    [x5]
    [:rename
     {name x5, birthdate x6, _table x7}
     [:scan
      [name
       {birthdate (= birthdate 1960)}
       {_table (= _table "moviestar")}]]]]]]]
