[:rename
 {x1 movieTitle}
 [:project
  [x1]
  [:order-by
   [[x2 {:direction :asc, :null-ordering :nulls-last}]]
   [:project
    [x1 x2]
    [:rename
     {movieTitle x1, year x2, _table x3}
     [:scan [movieTitle year {_table (= _table "StarsIn")}]]]]]]]
