[:rename
 {x1 movieTitle}
 [:order-by
  [[x1 {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [x1]
   [:rename
    {movieTitle x1, _table x2}
    [:scan [movieTitle {_table (= _table "StarsIn")}]]]]]]
