[:rename
 {x1 custkey}
 [:project
  [x1]
  [:select
   (< 1000000 x6)
   [:group-by
    [x1 $row_number$ {x6 (sum x3)}]
    [:left-outer-join
     [{x1 x4}]
     [:map
      [{$row_number$ (row-number)}]
      [:rename {custkey x1} [:scan [custkey]]]]
     [:rename
      {totalprice x3, custkey x4}
      [:scan [totalprice custkey]]]]]]]]
