[:rename
 {x1 a, x2 b}
 [:project
  [x1 x2]
  [:apply
   :semi-join
   {x2 ?x17, x5 ?x18}
   [:cross-join
    [:rename
     {a x1, b x2, _table x3}
     [:scan [a b {_table (= _table "r")}]]]
    [:rename {c x5, _table x6} [:scan [c {_table (= _table "s")}]]]]
   [:project
    [x8 x9]
    [:semi-join
     [{x9 x12} (= x13 ?x18)]
     [:rename
      {a x8, b x9, _table x10}
      [:scan [{a (= a ?x17)} b {_table (= _table "r")}]]]
     [:rename
      {a x12, b x13, _table x14}
      [:scan [a b {_table (= _table "r")}]]]]]]]]
