[:rename
 {x1 some_column}
 [:project
  [x1]
  [:select
   (= x1 x7)
   [:single-join
    []
    [:rename {y x1, _table x2} [:scan [y {_table (= _table "x")}]]]
    [:group-by
     [{x7 (max x4)}]
     [:rename
      {bar x4, _table x5}
      [:scan [bar {_table (= _table "foo")}]]]]]]]]
