[:rename
 {x1 some_column}
 [:project
  [x1]
  [:join
   [{x1 x7}]
   [:rename {y x1, _table x2} [:scan [y {_table (= _table "x")}]]]
   [:max-1-row
    [:group-by
     [{x7 (max x4)}]
     [:rename
      {bar x4, _table x5}
      [:scan [bar {_table (= _table "foo")}]]]]]]]]
