[:rename
 {x1 some_column}
 [:project
  [x1]
  [:select
   (= x1 x5)
   [:single-join
    []
    [:rename {y x1} [:scan x [y]]]
    [:group-by [{x5 (max x3)}] [:rename {bar x3} [:scan foo [bar]]]]]]]]
