[:rename
 {x1 a}
 [:project
  [x1]
  [:mega-join
   []
   [[:rename {a x1, _table x2} [:scan [a {_table (= _table "foo")}]]]
    [:select
     (= x4 x8)
     [:apply
      :single-join
      {x5 ?x12}
      [:rename
       {c x4, b x5, _table x6}
       [:scan [c b {_table (= _table "bar")}]]]
      [:project
       [x8]
       [:rename
        {b x8, a x9, _table x10}
        [:scan [b {a (= a ?x12)} {_table (= _table "foo")}]]]]]]]]]]
