[:rename
 {x1 a}
 [:project
  [x1]
  [:apply
   :semi-join
   {x4 ?x9, x3 ?x10}
   [:join
    []
    [:rename {a x1} [:scan [a]]]
    [:rename {c x3, b x4} [:scan [c b]]]]
   [:project
    [x6]
    [:rename {b x6, a x7} [:scan [{b (= ?x10 b)} {a (= a ?x9)}]]]]]]]
