[:rename
 {x6 bar}
 [:project
  [x6]
  [:apply
   :single-join
   {x1 ?x7}
   [:rename {bar x1, _table x2} [:scan [bar {_table (= _table "x")}]]]
   [:project
    [{x6 ?x7}]
    [:rename {_table x4} [:scan [{_table (= _table "z")}]]]]]]]
