[:rename
 {x8 c_count, x11 custdist}
 [:order-by
  [[x11 {:direction :desc, :null-ordering :nulls-last}]
   [x8 {:direction :desc, :null-ordering :nulls-last}]]
  [:group-by
   [x8 {x11 (count x10)}]
   [:map
    [{x10 1}]
    [:group-by
     [x1 {x8 (count x3)}]
     [:left-outer-join
      [{x1 x4}]
      [:rename {c_custkey x1} [:scan customer [c_custkey]]]
      [:rename
       {o_orderkey x3, o_custkey x4, o_comment x5}
       [:scan
        orders
        [o_orderkey
         o_custkey
         {o_comment
          (not (like o_comment "%special%requests%"))}]]]]]]]]]
