[:rename
 {x1 o_orderpriority, x13 order_count}
 [:order-by
  [[x1 {:direction :asc, :null-ordering :nulls-last}]]
  [:group-by
   [x1 {x13 (count x12)}]
   [:map
    [{x12 1}]
    [:semi-join
     [{x3 x6}]
     [:rename
      {o_orderpriority x1, o_orderdate x2, o_orderkey x3, _table x4}
      [:scan
       [o_orderpriority
        {o_orderdate
         (and
          (<
           o_orderdate
           (+
            #time/date "1993-07-01"
            (single-field-interval "3" "MONTH" 2 0)))
          (>= o_orderdate #time/date "1993-07-01"))}
        o_orderkey
        {_table (= _table "orders")}]]]
     [:rename
      {l_orderkey x6, l_commitdate x7, l_receiptdate x8, _table x9}
      [:select
       (< l_commitdate l_receiptdate)
       [:scan
        [l_orderkey
         l_commitdate
         l_receiptdate
         {_table (= _table "lineitem")}]]]]]]]]]
