[:rename
 {x9 $column_1$}
 [:project
  [x9]
  [:group-by
   [x1 x2 x3 $row_number$ {x9 (array-agg x5)}]
   [:mega-join
    [{x1 x6}]
    [[:map
      [{$row_number$ (row-number)}]
      [:rename
       {b x1, a x2, _table x3}
       [:scan [b {a (= a 42)} {_table (= _table "a")}]]]]
     [:rename
      {b1 x5, b2 x6, _table x7}
      [:scan [b1 b2 {_table (= _table "b")}]]]]]]]]
