[:rename
 {x1 a,
  x8 $column_6$,
  x5 $column_3$,
  x9 $column_7$,
  x12 $column_10$,
  x10 $column_8$,
  x4 $column_2$,
  x6 $column_4$,
  x11 $column_9$,
  x7 $column_5$}
 [:project
  [x1
   {x4 (current-time)}
   {x5 (current-time 2)}
   {x6 (current-date)}
   {x7 (current-timestamp)}
   {x8 (current-timestamp 4)}
   {x9 (local-time)}
   {x10 (local-time 6)}
   {x11 (local-timestamp)}
   {x12 (local-timestamp 9)}]
  [:rename {a x1, _table x2} [:scan [a {_table (= _table "u")}]]]]]
