[:rename
 {x19 cntrycode, x21 numcust, x22 totacctbal}
 [:order-by
  [[x19 {:direction :asc, :null-ordering :nulls-last}]]
  [:group-by
   [x19 {x21 (count x20)} {x22 (sum x2)}]
   [:map
    [{x20 1}]
    [:project
     [{x19 (substring x1 1 2 true)} x2]
     [:join
      [(> x2 x14)]
      [:anti-join
       [{x3 x16}]
       [:semi-join
        [{(substring x1 1 2 true) x5}]
        [:rename
         {c_phone x1, c_acctbal x2, c_custkey x3}
         [:scan [c_phone c_acctbal c_custkey]]]
        [:table
         [{x5 "13"}
          {x5 "31"}
          {x5 "23"}
          {x5 "29"}
          {x5 "30"}
          {x5 "18"}
          {x5 "17"}]]]
       [:rename {o_custkey x16} [:scan [o_custkey]]]]
      [:max-1-row
       [:group-by
        [{x14 (avg x8)}]
        [:semi-join
         [{(substring x9 1 2 true) x11}]
         [:rename
          {c_acctbal x8, c_phone x9}
          [:scan [{c_acctbal (> c_acctbal 0.0)} c_phone]]]
         [:table
          [{x11 "13"}
           {x11 "31"}
           {x11 "23"}
           {x11 "29"}
           {x11 "30"}
           {x11 "18"}
           {x11 "17"}]]]]]]]]]]]
