[:rename
 {x1 s_name, x2 s_address}
 [:order-by
  [[x1 :asc :nulls-last]]
  [:project
   [x1 x2]
   [:join
    [{x4 x6}]
    [:semi-join
     [{x3 x9}]
     [:rename
      {s_name x1, s_address x2, s_suppkey x3, s_nationkey x4}
      [:scan [s_name s_address s_suppkey s_nationkey]]]
     [:select
      (> x11 x24)
      [:map
       [{x24 (* 0.5 x22)}]
       [:group-by
        [x9 x10 x11 $row_number$ {x22 (sum x17)}]
        [:left-outer-join
         [{x10 x18} {x9 x19}]
         [:map
          [{$row_number$ (row-number)}]
          [:semi-join
           [{x10 x13}]
           [:rename
            {ps_suppkey x9, ps_partkey x10, ps_availqty x11}
            [:scan [ps_suppkey ps_partkey ps_availqty]]]
           [:rename
            {p_partkey x13, p_name x14}
            [:scan [p_partkey {p_name (like p_name "forest%")}]]]]]
         [:rename
          {l_quantity x17,
           l_partkey x18,
           l_suppkey x19,
           l_shipdate x20}
          [:scan
           [l_quantity
            l_partkey
            l_suppkey
            {l_shipdate
             (and
              (<
               l_shipdate
               (+
                #time/date "1994-01-01"
                (single-field-interval 1 "YEAR" 2 0)))
              (>= l_shipdate #time/date "1994-01-01"))}]]]]]]]]
    [:rename
     {n_nationkey x6, n_name x7}
     [:scan [n_nationkey {n_name (= n_name "CANADA")}]]]]]]]
