[:rename
 {x3 bar}
 [:project
  [x3]
  [:rename
   {system_time_start x1, system_time_end x2, bar x3, _table x4}
   [:scan
    [{system_time_start (<= system_time_start core2/end-of-time)}
     system_time_end
     bar
     {_table (= _table "foo")}]]]]]
