[:update
 {:table "foo"}
 [:rename
  {x6 _iid,
   x7 _row-id,
   x2 system_time_start,
   x3 system_time_end,
   x9 bar,
   x10 application_time_start,
   x11 application_time_end}
  [:project
   [x6
    x7
    x2
    x3
    {x9 (and (< x2 x5) (> x3 x4))}
    {x10 (cast x4 [:timestamp-tz :micro "UTC"])}
    {x11 (cast x5 [:timestamp-tz :micro "UTC"])}]
   [:rename
    {_table x1,
     system_time_start x2,
     system_time_end x3,
     application_time_start x4,
     application_time_end x5,
     _iid x6,
     _row-id x7}
    [:scan
     [{_table (= _table "foo")}
      system_time_start
      system_time_end
      application_time_start
      application_time_end
      _iid
      _row-id]]]]]]
