[:rename
 {x9 c_count, x12 custdist}
 [:order-by
  [[x12 {:direction :desc, :null-ordering :nulls-last}]
   [x9 {:direction :desc, :null-ordering :nulls-last}]]
  [:group-by
   [x9 {x12 (count x11)}]
   [:map
    [{x11 1}]
    [:group-by
     [x1 {x9 (count x4)}]
     [:left-outer-join
      [{x1 x5}]
      [:rename
       {c_custkey x1, _table x2}
       [:scan [c_custkey {_table (= _table "customer")}]]]
      [:rename
       {o_orderkey x4, o_custkey x5, o_comment x6, _table x7}
       [:scan
        [o_orderkey
         o_custkey
         {o_comment (not (like o_comment "%special%requests%"))}
         {_table (= _table "orders")}]]]]]]]]]
