[:rename
 {x16 n_name, x24 revenue}
 [:order-by
  [[x24 {:direction :desc, :null-ordering :nulls-last}]]
  [:group-by
   [x16 {x24 (sum x23)}]
   [:map
    [{x23 (* x8 (- 1 x9))}]
    [:mega-join
     [{x18 x20} {x14 x17} {x11 x13} {x2 x14} {x5 x10} {x1 x4}]
     [[:rename
       {r_regionkey x20, r_name x21}
       [:scan region [r_regionkey {r_name (= r_name "ASIA")}]]]
      [:rename
       {n_name x16, n_nationkey x17, n_regionkey x18}
       [:scan nation [n_name n_nationkey n_regionkey]]]
      [:rename
       {s_suppkey x13, s_nationkey x14}
       [:scan supplier [s_suppkey s_nationkey]]]
      [:rename
       {l_extendedprice x8,
        l_discount x9,
        l_orderkey x10,
        l_suppkey x11}
       [:scan
        lineitem
        [l_extendedprice l_discount l_orderkey l_suppkey]]]
      [:rename
       {c_custkey x1, c_nationkey x2}
       [:scan customer [c_custkey c_nationkey]]]
      [:rename
       {o_custkey x4, o_orderkey x5, o_orderdate x6}
       [:scan
        orders
        [o_custkey
         o_orderkey
         {o_orderdate
          (and
           (<
            o_orderdate
            (+
             #time/date "1994-01-01"
             (single-field-interval "1" "YEAR" 2 0)))
           (>= o_orderdate #time/date "1994-01-01"))}]]]]]]]]]
