[:rename
 {x4 p_brand, x5 p_type, x6 p_size, x18 supplier_cnt}
 [:order-by
  [[x18 :desc :nulls-last]
   [x4 :asc :nulls-last]
   [x5 :asc :nulls-last]
   [x6 :asc :nulls-last]]
  [:group-by
   [x4 x5 x6 {x18 (count-distinct x1)}]
   [:anti-join
    [{x1 x13}]
    [:semi-join
     [{x6 x9}]
     [:join
      [{x2 x7}]
      [:rename
       {ps_suppkey x1, ps_partkey x2}
       [:scan [ps_suppkey ps_partkey]]]
      [:rename
       {p_brand x4, p_type x5, p_size x6, p_partkey x7}
       [:scan
        [{p_brand (<> p_brand "Brand#45")}
         {p_type (not (like p_type "MEDIUM POLISHED%"))}
         p_size
         p_partkey]]]]
     [:table
      [{x9 49} {x9 14} {x9 23} {x9 45} {x9 19} {x9 3} {x9 36} {x9 9}]]]
    [:rename
     {s_suppkey x13, s_comment x14}
     [:scan
      [s_suppkey
       {s_comment (like s_comment "%Customer%Complaints%")}]]]]]]]
