[:rename
 {x4 l_shipmode, x15 high_line_count, x16 low_line_count}
 [:order-by
  [[x4 {:direction :asc, :null-ordering :nulls-last}]]
  [:group-by
   [x4 {x15 (sum x13)} {x16 (sum x14)}]
   [:map
    [{x13 (cond (or (= x1 "1-URGENT") (= x1 "2-HIGH")) 1 0)}
     {x14 (cond (and (<> x1 "1-URGENT") (<> x1 "2-HIGH")) 1 0)}]
    [:join
     [{x2 x5}]
     [:rename
      {o_orderpriority x1, o_orderkey x2}
      [:scan [o_orderpriority o_orderkey]]]
     [:semi-join
      [{x4 x10}]
      [:rename
       {l_shipmode x4,
        l_orderkey x5,
        l_commitdate x6,
        l_receiptdate x7,
        l_shipdate x8}
       [:select
        (and
         (< l_commitdate l_receiptdate)
         (< l_shipdate l_commitdate))
        [:scan
         [l_shipmode
          l_orderkey
          l_commitdate
          {l_receiptdate
           (and
            (<
             l_receiptdate
             (+
              #time/date "1994-01-01"
              (single-field-interval "1" "YEAR" 2 0)))
            (>= l_receiptdate #time/date "1994-01-01"))}
          l_shipdate]]]]
      [:table [{x10 "MAIL"} {x10 "SHIP"}]]]]]]]]
