[:rename
 {x20 supp_nation, x24 cust_nation, x28 l_year, x30 revenue}
 [:order-by
  [[x20 {:direction :asc, :null-ordering :nulls-last}]
   [x24 {:direction :asc, :null-ordering :nulls-last}]
   [x28 {:direction :asc, :null-ordering :nulls-last}]]
  [:group-by
   [x20 x24 x28 {x30 (sum x29)}]
   [:project
    [x20 x24 {x28 (extract "YEAR" x5)} {x29 (* x6 (- 1 x7))}]
    [:join
     [{x17 x25}
      (or
       (and (= x20 "FRANCE") (= x24 "GERMANY"))
       (and (= x20 "GERMANY") (= x24 "FRANCE")))]
     [:join
      [{x2 x21}]
      [:join
       [{x13 x16}]
       [:join
        [{x9 x12}]
        [:join
         [{x1 x8}]
         [:rename
          {s_suppkey x1, s_nationkey x2, _table x3}
          [:scan
           [s_suppkey s_nationkey {_table (= _table "supplier")}]]]
         [:rename
          {l_shipdate x5,
           l_extendedprice x6,
           l_discount x7,
           l_suppkey x8,
           l_orderkey x9,
           _table x10}
          [:scan
           [{l_shipdate
             (between
              l_shipdate
              #time/date "1995-01-01"
              #time/date "1996-12-31")}
            l_extendedprice
            l_discount
            l_suppkey
            l_orderkey
            {_table (= _table "lineitem")}]]]]
        [:rename
         {o_orderkey x12, o_custkey x13, _table x14}
         [:scan [o_orderkey o_custkey {_table (= _table "orders")}]]]]
       [:rename
        {c_custkey x16, c_nationkey x17, _table x18}
        [:scan
         [c_custkey c_nationkey {_table (= _table "customer")}]]]]
      [:rename
       {n_name x20, n_nationkey x21, _table x22}
       [:scan [n_name n_nationkey {_table (= _table "nation")}]]]]
     [:rename
      {n_name x24, n_nationkey x25, _table x26}
      [:scan [n_name n_nationkey {_table (= _table "nation")}]]]]]]]]
