[:rename
 {x1 s_name, x29 numwait}
 [:top
  {:limit 100}
  [:order-by
   [[x29 {:direction :desc, :null-ordering :nulls-last}]
    [x1 {:direction :asc, :null-ordering :nulls-last}]]
   [:group-by
    [x1 {x29 (count x28)}]
    [:map
     [{x28 1}]
     [:mega-join
      [{x3 x13} {x6 x10} {x2 x5}]
      [[:rename
        {n_nationkey x13, n_name x14}
        [:scan
         nation
         [n_nationkey {n_name (= n_name "SAUDI ARABIA")}]]]
       [:rename
        {o_orderkey x10, o_orderstatus x11}
        [:scan
         orders
         [o_orderkey {o_orderstatus (= o_orderstatus "F")}]]]
       [:rename
        {s_name x1, s_suppkey x2, s_nationkey x3}
        [:scan supplier [s_name s_suppkey s_nationkey]]]
       [:anti-join
        [(<> x22 x5) {x6 x21}]
        [:semi-join
         [(<> x17 x5) {x6 x16}]
         [:rename
          {l_suppkey x5,
           l_orderkey x6,
           l_receiptdate x7,
           l_commitdate x8}
          [:select
           (> l_receiptdate l_commitdate)
           [:scan
            lineitem
            [l_suppkey l_orderkey l_receiptdate l_commitdate]]]]
         [:rename
          {l_orderkey x16, l_suppkey x17}
          [:scan lineitem [l_orderkey l_suppkey]]]]
        [:rename
         {l_orderkey x21,
          l_suppkey x22,
          l_receiptdate x23,
          l_commitdate x24}
         [:select
          (> l_receiptdate l_commitdate)
          [:scan
           lineitem
           [l_orderkey l_suppkey l_receiptdate l_commitdate]]]]]]]]]]]]
