[:rename
 {x11 l_orderkey, x18 revenue, x5 o_orderdate, x6 o_shippriority}
 [:project
  [x11 x18 x5 x6]
  [:top
   {:limit 10}
   [:order-by
    [[x18 {:direction :desc, :null-ordering :nulls-last}]
     [x5 {:direction :asc, :null-ordering :nulls-last}]]
    [:group-by
     [x11 x5 x6 {x18 (sum x17)}]
     [:map
      [{x17 (* x12 (- 1 x13))}]
      [:join
       [{x8 x11}]
       [:join
        [{x2 x7}]
        [:rename
         {c_mktsegment x1, c_custkey x2, _table x3}
         [:scan
          [{c_mktsegment (= c_mktsegment "BUILDING")}
           c_custkey
           {_table (= _table "customer")}]]]
        [:rename
         {o_orderdate x5,
          o_shippriority x6,
          o_custkey x7,
          o_orderkey x8,
          _table x9}
         [:scan
          [{o_orderdate (< o_orderdate #time/date "1995-03-15")}
           o_shippriority
           o_custkey
           o_orderkey
           {_table (= _table "orders")}]]]]
       [:rename
        {l_orderkey x11,
         l_extendedprice x12,
         l_discount x13,
         l_shipdate x14,
         _table x15}
        [:scan
         [l_orderkey
          l_extendedprice
          l_discount
          {l_shipdate (> l_shipdate #time/date "1995-03-15")}
          {_table (= _table "lineitem")}]]]]]]]]]]
