[:rename
 {x29 o_year, x35 mkt_share}
 [:order-by
  [[x29 {:direction :asc, :null-ordering :nulls-last}]]
  [:project
   [x29 {x35 (/ x32 x33)}]
   [:group-by
    [x29 {x32 (sum x31)} {x33 (sum x30)}]
    [:map
     [{x31 (cond (= x23 "BRAZIL") x30 0)}]
     [:project
      [{x29 (extract "YEAR" x13)} {x30 (* x7 (- 1 x8))} x23]
      [:mega-join
       [{x21 x26}
        {x5 x24}
        {x18 x20}
        {x15 x17}
        {x11 x14}
        {x1 x9}
        {x4 x10}]
       [[:rename
         {r_regionkey x26, r_name x27}
         [:scan region [r_regionkey {r_name (= r_name "AMERICA")}]]]
        [:rename
         {n_name x23, n_nationkey x24}
         [:scan nation [n_name n_nationkey]]]
        [:rename
         {n_nationkey x20, n_regionkey x21}
         [:scan nation [n_nationkey n_regionkey]]]
        [:rename
         {c_custkey x17, c_nationkey x18}
         [:scan customer [c_custkey c_nationkey]]]
        [:rename
         {o_orderdate x13, o_orderkey x14, o_custkey x15}
         [:scan
          orders
          [{o_orderdate
            (between
             o_orderdate
             #time/date "1995-01-01"
             #time/date "1996-12-31")}
           o_orderkey
           o_custkey]]]
        [:rename
         {l_extendedprice x7,
          l_discount x8,
          l_partkey x9,
          l_suppkey x10,
          l_orderkey x11}
         [:scan
          lineitem
          [l_extendedprice l_discount l_partkey l_suppkey l_orderkey]]]
        [:rename
         {p_partkey x1, p_type x2}
         [:scan
          part
          [p_partkey {p_type (= p_type "ECONOMY ANODIZED STEEL")}]]]
        [:rename
         {s_suppkey x4, s_nationkey x5}
         [:scan supplier [s_suppkey s_nationkey]]]]]]]]]]]
