[:rename
 {x16 promo_revenue}
 [:project
  [{x16 (/ (* 100.0 x13) x14)}]
  [:group-by
   [{x13 (sum x11)} {x14 (sum x12)}]
   [:map
    [{x11 (cond (like x7 "PROMO%") (* x1 (- 1 x2)) 0)}
     {x12 (* x1 (- 1 x2))}]
    [:join
     [{x3 x8}]
     [:rename
      {l_extendedprice x1,
       l_discount x2,
       l_partkey x3,
       l_shipdate x4,
       _table x5}
      [:scan
       [l_extendedprice
        l_discount
        l_partkey
        {l_shipdate
         (and
          (<
           l_shipdate
           (+
            #time/date "1995-09-01"
            (single-field-interval "1" "MONTH" 2 0)))
          (>= l_shipdate #time/date "1995-09-01"))}
        {_table (= _table "lineitem")}]]]
     [:rename
      {p_type x7, p_partkey x8, _table x9}
      [:scan [p_type p_partkey {_table (= _table "part")}]]]]]]]]
