[:rename
 {x20 n_name, x30 revenue}
 [:order-by
  [[x30 {:direction :desc, :null-ordering :nulls-last}]]
  [:group-by
   [x20 {x30 (sum x29)}]
   [:map
    [{x29 (* x10 (- 1 x11))}]
    [:join
     [{x22 x25}]
     [:join
      [{x17 x21}]
      [:join
       [{x13 x16} {x2 x17}]
       [:join
        [{x6 x12}]
        [:join
         [{x1 x5}]
         [:rename
          {c_custkey x1, c_nationkey x2, _table x3}
          [:scan
           [c_custkey c_nationkey {_table (= _table "customer")}]]]
         [:rename
          {o_custkey x5, o_orderkey x6, o_orderdate x7, _table x8}
          [:scan
           [o_custkey
            o_orderkey
            {o_orderdate
             (and
              (<
               o_orderdate
               (+
                #time/date "1994-01-01"
                (single-field-interval "1" "YEAR" 2 0)))
              (>= o_orderdate #time/date "1994-01-01"))}
            {_table (= _table "orders")}]]]]
        [:rename
         {l_extendedprice x10,
          l_discount x11,
          l_orderkey x12,
          l_suppkey x13,
          _table x14}
         [:scan
          [l_extendedprice
           l_discount
           l_orderkey
           l_suppkey
           {_table (= _table "lineitem")}]]]]
       [:rename
        {s_suppkey x16, s_nationkey x17, _table x18}
        [:scan
         [s_suppkey s_nationkey {_table (= _table "supplier")}]]]]
      [:rename
       {n_name x20, n_nationkey x21, n_regionkey x22, _table x23}
       [:scan
        [n_name
         n_nationkey
         n_regionkey
         {_table (= _table "nation")}]]]]
     [:rename
      {r_regionkey x25, r_name x26, _table x27}
      [:scan
       [r_regionkey
        {r_name (= r_name "ASIA")}
        {_table (= _table "region")}]]]]]]]]
