[:rename
 {x1 l_returnflag,
  x13 sum_base_price,
  x2 l_linestatus,
  x12 sum_qty,
  x14 sum_disc_price,
  x17 avg_price,
  x15 sum_charge,
  x16 avg_qty,
  x18 avg_disc,
  x19 count_order}
 [:order-by
  [[x1 :asc :nulls-last] [x2 :asc :nulls-last]]
  [:group-by
   [x1
    x2
    {x12 (sum x3)}
    {x13 (sum x4)}
    {x14 (sum x9)}
    {x15 (sum x10)}
    {x16 (avg x3)}
    {x17 (avg x4)}
    {x18 (avg x5)}
    {x19 (count x11)}]
   [:map
    [{x9 (* x4 (- 1 x5))} {x10 (* (* x4 (- 1 x5)) (+ 1 x6))} {x11 1}]
    [:rename
     {l_returnflag x1,
      l_linestatus x2,
      l_quantity x3,
      l_extendedprice x4,
      l_discount x5,
      l_tax x6,
      l_shipdate x7}
     [:scan
      [l_returnflag
       l_linestatus
       l_quantity
       l_extendedprice
       l_discount
       l_tax
       {l_shipdate
        (<=
         l_shipdate
         (-
          #time/date "1998-12-01"
          #time/period-duration "P90D PT0S"))}]]]]]]]
