[:rename
 {x56 revenue}
 [:group-by
  [{x56 (sum x55)}]
  [:map
   [{x55 (* x1 (- 1 x2))}]
   [:select
    (or
     (and
      (= x9 "Brand#12")
      x15
      (>= x4 1)
      (<= x4 (+ 1 10))
      (between x11 1 5)
      x22)
     (and
      (= x9 "Brand#23")
      x29
      (>= x4 10)
      (<= x4 (+ 10 10))
      (between x11 1 10)
      x36)
     (and
      (= x9 "Brand#34")
      x43
      (>= x4 20)
      (<= x4 (+ 20 10))
      (between x11 1 15)
      x50))
    [:apply
     :cross-join
     {x5 ?x53}
     #{x50}
     [:apply
      :cross-join
      {x10 ?x46}
      #{x43}
      [:apply
       :cross-join
       {x5 ?x39}
       #{x36}
       [:apply
        :cross-join
        {x10 ?x32}
        #{x29}
        [:apply
         :cross-join
         {x5 ?x25}
         #{x22}
         [:apply
          :cross-join
          {x10 ?x18}
          #{x15}
          [:join
           [{x3 x8}]
           [:rename
            {l_extendedprice x1,
             l_discount x2,
             l_partkey x3,
             l_quantity x4,
             l_shipmode x5,
             l_shipinstruct x6}
            [:scan
             [l_extendedprice
              l_discount
              l_partkey
              l_quantity
              l_shipmode
              {l_shipinstruct
               (= l_shipinstruct "DELIVER IN PERSON")}]]]
           [:rename
            {p_partkey x8, p_brand x9, p_container x10, p_size x11}
            [:scan [p_partkey p_brand p_container p_size]]]]
          [:top
           {:limit 1}
           [:union-all
            [:project
             [{x15 true}]
             [:select
              (= ?x18 x13)
              [:table
               [{x13 "SM CASE"}
                {x13 "SM BOX"}
                {x13 "SM PACK"}
                {x13 "SM PKG"}]]]]
            [:table [{x15 false}]]]]]
         [:top
          {:limit 1}
          [:union-all
           [:project
            [{x22 true}]
            [:select
             (= ?x25 x20)
             [:table [{x20 "AIR"} {x20 "AIR REG"}]]]]
           [:table [{x22 false}]]]]]
        [:top
         {:limit 1}
         [:union-all
          [:project
           [{x29 true}]
           [:select
            (= ?x32 x27)
            [:table
             [{x27 "MED BAG"}
              {x27 "MED BOX"}
              {x27 "MED PKG"}
              {x27 "MED PACK"}]]]]
          [:table [{x29 false}]]]]]
       [:top
        {:limit 1}
        [:union-all
         [:project
          [{x36 true}]
          [:select
           (= ?x39 x34)
           [:table [{x34 "AIR"} {x34 "AIR REG"}]]]]
         [:table [{x36 false}]]]]]
      [:top
       {:limit 1}
       [:union-all
        [:project
         [{x43 true}]
         [:select
          (= ?x46 x41)
          [:table
           [{x41 "LG CASE"}
            {x41 "LG BOX"}
            {x41 "LG PACK"}
            {x41 "LG PKG"}]]]]
        [:table [{x43 false}]]]]]
     [:top
      {:limit 1}
      [:union-all
       [:project
        [{x50 true}]
        [:select (= ?x53 x48) [:table [{x48 "AIR"} {x48 "AIR REG"}]]]]
       [:table [{x50 false}]]]]]]]]]
