{:row-count 2,
 :fields
 {"system_time"
  #xt.arrow/field ["system_time" #xt.arrow/field-type [#xt.arrow/type [:timestamp-tz :micro "UTC"] false]],
  "committed"
  #xt.arrow/field ["committed" #xt.arrow/field-type [#xt.arrow/type :bool false]],
  "_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :i64 false]],
  "error"
  #xt.arrow/field ["error" #xt.arrow/field-type [#xt.arrow/type :transit true]]},
 :tries
 [{:trie-key "l00-rc-b00", :data-file-size 2806, :trie-metadata nil}
  {:trie-key "l00-rc-b01",
   :data-file-size 2806,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-05T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-05T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-05T00:00:00Z",
    :max-system-from #xt/instant "2020-01-05T00:00:00Z",
    :row-count 1,
    :iid-bloom [-1015495237 5]}}
  {:trie-key "l01-rc-b00",
   :data-file-size 2806,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T00:00:00Z",
    :row-count 1,
    :iid-bloom [341758827 5]}}],
 :hlls
 {"system_time" [-1204654756 2.001955671862574],
  "committed" [554809535 1.0004885993744506],
  "_id" [-48253154 2.001955671862574],
  "error" [1743287434 1.0004885993744506]}}
