{:row-count 64,
 :fields
 {"reading"
  #xt.arrow/field ["reading" #xt.arrow/field-type [#xt.arrow/type :i64 false]],
  "_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :i64 false]]},
 :tries
 [{:trie-key "l00-rc-b00",
   :data-file-size 5982,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :min-valid-to #xt/instant "2020-01-01T12:00:00Z",
    :max-valid-to #xt/instant "2020-01-01T12:00:00Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T00:00:00Z",
    :row-count 64,
    :iid-bloom [-1915643088 320]}}],
 :hlls
 {"reading" [75145568 1.0004885993744506],
  "_id" [907057289 65.02133414826055]}}
