---
import TableOfContentsList from './table-of-contents/list.astro';
import type { Props } from '@starlight/props';

const { toc } = Astro.props;
const { t } = Astro.locals
---

{
    toc && (
        <starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
            <nav aria-labelledby="starlight__on-this-page">
                <h2 id="starlight__on-this-page">{t['tableOfContents.onThisPage']}</h2>
                <TableOfContentsList toc={toc.items} />
            </nav>
        </starlight-toc>
    )
}

<script src="./table-of-contents/starlight-toc"></script>
