{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null]}
               {"branch-iid" [:list [:? :i32]]}
               {"leaf"
                [:struct
                 {"data-page-idx" :i32}
                 {"columns"
                  [:list
                   {"col"
                    [:struct
                     {"col-name" :utf8}
                     {"root-col?" :bool}
                     {"count" :i64}
                     {"bytes" [:? :struct {"bloom" [:? :varbinary]}]}
                     {"date-times"
                      [:? :struct {"min" :f64} {"max" :f64}]}
                     {"numbers"
                      [:? :struct {"min" :f64} {"max" :f64}]}]}]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 2,
                   :bytes
                   {:bloom
                    #bytes "3a300000050000001300000017000000270000002b0000003f00000030000000320000003400000036000000380000007260e9caf53c6ca7ef83"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 2,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 2,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 2,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 1,
                   :bytes {}}
                  {:col-name "a",
                   :root-col? true,
                   :count 1,
                   :numbers {:min 1.0, :max 1.0}}]}]}])}
