{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "root-col?" :bool,
                     "count" :i64,
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "numbers"
                     [:?
                      :struct
                      {"min" [:? :f64], "max" [:? :f64]}]}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 3,
                   :bytes
                   {:bloom
                    #bytes "3a3000000f0000000100000003000000060000001000000014000000170000002100000024000000280000002c0000002d0000002e000000380000003a0000003c00000080000000820000008400000086000000880000008a0000008c0000008e00000090000000920000009400000096000000980000009a0000009c000000a134932f11d8d5bc75e4eddb5c612cb127d4478843de398383a52a5b7ec8"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 3,
                   :date-times
                   {:min -9.223372036854775E12, :max 1.5779232E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 3,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5779232E9, :max 1.578096E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 0,
                   :bytes {:bloom #bytes "3a30000000000000"}}
                  {:col-name "a",
                   :root-col? true,
                   :count 0,
                   :numbers {}}]}]}])}
