{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   {"col"
                    [:struct
                     {"col-name" :utf8,
                      "root-col?" :bool,
                      "count" :i64,
                      "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                      "date-times"
                      [:? :struct {"min" :f64, "max" :f64}],
                      "numbers"
                      [:? :struct {"min" :f64, "max" :f64}]}]}]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 3,
                   :bytes
                   {:bloom
                    #bytes "3a3000000f0000000100000003000000060000001000000014000000170000002100000024000000280000002c0000002d0000002e000000380000003a0000003c00000080000000820000008400000086000000880000008a0000008c0000008e00000090000000920000009400000096000000980000009a0000009c000000a134932f11d8d5bc75e4eddb5c612cb127d4478843de398383a52a5b7ec8"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 3,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 3,
                   :date-times {:min 1.5778368E9, :max 1.5779232E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 2,
                   :bytes
                   {:bloom
                    #bytes "3a3000000a0000000c0000000d000000130000001c00000022000000240000002b000000300000003b0000003f000000580000005a0000005c0000005e00000060000000620000006400000066000000680000006a0000002fbdd3f7717660912c2b45508709b9c45be3465e"}}
                  {:col-name "a",
                   :root-col? true,
                   :count 2,
                   :numbers {:min 2.0, :max 3.0}}]}]}])}
