{:schema
 #xt/schema ({"nodes"
              [:union
               {"nil" [:? :null],
                "branch-iid" [:list [:? :i32]],
                "leaf"
                [:struct
                 {"data-page-idx" :i32,
                  "columns"
                  [:list
                   [:struct
                    {"col-name" :utf8,
                     "transit" [:? :bool],
                     "count" :i64,
                     "bool" [:? :bool],
                     "bytes" [:? :struct {"bloom" [:? :varbinary]}],
                     "numbers" [:? :struct {"min" :f64, "max" :f64}],
                     "date-times"
                     [:? :struct {"min" :f64, "max" :f64}],
                     "struct" [:? :list :i32],
                     "root-col?" :bool}]]}]}]}),
 :batches
 ([{:nodes
    #xt/tagged [:leaf
                {:data-page-idx 0,
                 :columns
                 [{:col-name "_iid",
                   :root-col? true,
                   :count 1,
                   :bytes
                   {:bloom
                    #bytes "3a30000005000000070000001900000025000000300000003c0000003000000032000000340000003600000038000000075adbf4264e71a7bc00"}}
                  {:col-name "_valid_from",
                   :root-col? true,
                   :count 1,
                   :date-times {:min 1.5779232E9, :max 1.5779232E9}}
                  {:col-name "_valid_to",
                   :root-col? true,
                   :count 1,
                   :date-times
                   {:min 9.223372036854775E12,
                    :max 9.223372036854775E12}}
                  {:col-name "_system_from",
                   :root-col? true,
                   :count 1,
                   :date-times {:min 1.5779232E9, :max 1.5779232E9}}
                  {:col-name "_id",
                   :root-col? true,
                   :count 1,
                   :numbers {:min 2964.0, :max 2964.0}}
                  {:col-name "system_time",
                   :root-col? true,
                   :count 1,
                   :date-times {:min 1.5779232E9, :max 1.5779232E9}}
                  {:col-name "committed",
                   :root-col? true,
                   :count 1,
                   :bool true}
                  {:col-name "user_metadata",
                   :root-col? true,
                   :count 0,
                   :struct []}
                  {:col-name "error",
                   :root-col? true,
                   :count 0,
                   :transit true}]}]}])}
