{:schema
 #xt/schema ({"tx-ops"
              [:list
               [:union
                {"sql"
                 [:struct {"query" :utf8, "args" [:? :varbinary]}]}]]}
             {"system-time" [:? :instant]}
             {"default-tz" :utf8}
             {"user" [:? :utf8]}
             {"user-metadata" [:? :struct]}),
 :data
 [{:default-tz "Europe/London",
   :tx-ops
   [#xt/tagged [:sql {:query "INSERT INTO foo (_id) VALUES (0)"}]],
   :system-time #xt/zdt "2021-01-01T00:00Z[UTC]",
   :user "xtdb"}]}
