{:schema
 #xt/schema ({"tx-ops"
              [:list
               [:union
                {"put-docs"
                 [:struct
                  {"iids" [:list [:fixed-size-binary 16]],
                   "documents"
                   [:union
                    {"public/transfers"
                     [:list
                      [:struct
                       {"_id" :i64,
                        "src" :utf8,
                        "dest" :utf8,
                        "value" :utf8}]]}],
                   "_valid_from" [:? :instant],
                   "_valid_to" [:? :instant]}]}]]}
             {"system-time" [:? :instant]}
             {"default-tz" :utf8}
             {"user" [:? :utf8]}
             {"user-metadata"
              [:?
               :struct
               {"source" :utf8,
                "tags" [:list :utf8],
                "correlation_id" :utf8}]}),
 :data
 [{:user-metadata
   {:source "mobile-app",
    :tags ["high-value" "priority"],
    :correlation-id "abc123"},
   :default-tz "Europe/London",
   :tx-ops
   [#xt/tagged [:put-docs
                {:iids [#bytes "a4e167a76a05add8a8654c169b07b044"],
                 :documents
                 #xt/tagged [:public/transfers
                             [{:xt/id 0,
                               :src "the bank",
                               :dest "jms",
                               :value "a gajillion dollars"}]]}]],
   :user "jms"}]}
