@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Atkinson Hyperlegible";
    src: url("/shared/fonts/Atkinson-Hyperlegible-Regular.woff2") format("woff2");
    font-display: block;
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "Atkinson Hyperlegible";
    src: url("/shared/fonts/Atkinson-Hyperlegible-Italic.woff2") format("woff2");
    font-display: block;
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "Atkinson Hyperlegible";
    src: url("/shared/fonts/Atkinson-Hyperlegible-Bold.woff2") format("woff2");
    font-display: block;
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Source Code Pro";
    src: url("/shared/fonts/SourceCodePro-Regular.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "Source Code Pro";
    src: url("/shared/fonts/SourceCodePro-Italic.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "Source Code Pro";
    src: url("/shared/fonts/SourceCodePro-Bold.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "Space Mono";
    src: url("/shared/fonts/SpaceMono-Regular.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "Space Mono";
    src: url("/shared/fonts/SourceCodePro-Italic.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "Space Mono";
    src: url("/shared/fonts/SpaceMono-Bold.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: "Space Mono";
    src: url("/shared/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
    font-display: block;
}

* {
    @apply border-gray-500
}

.sl-markdown-content a {
    @apply hover:underline text-juxt-orange
}

:root {
    --sl-content-width: 60rem;
}

.sl-markdown-content pre {
    padding: initial
}
