@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500);

* {font-family: "Work Sans", sans-serif;}

body {
/*    width: 980px;*/
/*    padding: 20px;*/
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.logo {
    grid-area: logo;
}

.logo-img {
    padding:2em;
    max-height:5em;
}

.logo2 {
    grid-area: logo;
}

.logo2-img {
    padding-left:8%;
}

.main2 {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 10vh 5vh 5vh 55vh 25vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "comingsoon comingsoon comingsoon"
    ". . ."
    "splash splash splash"
    "ots1 ots2 ots3";
}    

.header {
    grid-area: header;
    padding-top:20px;
}

.comingsoon {
    grid-area: comingsoon;
    text-align: center;
}

.comingsoontitle {
    color: #d67214;
    font-size: 2em;
    font-weight: bold;
    padding-bottom:0.1em;
}

.comingsoonsubtitle {
    color: #d67214;
    font-size: 1.5em;
    font-weight: bold;
}

.taglines {
    grid-area: taglines;
    font-size: 1.6em;
    justify-self:center;
    align-self:center;
    text-align:center;
    background-color: #f7a558;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.mainlinks {
    font-size: 1.6em;
    justify-self:center;
    align-self:center;
    background-color: #f7a558;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left:1em;
}

.ml1a {
    grid-area: ml1a;
}

.ml1b {
    grid-area: ml1b;
}

.ml2a {
    grid-area: ml2a;
}

.ml2b {
    grid-area: ml2b;
}

.ml3a {
    grid-area: ml3a;
}

.ml3b {
    grid-area: ml3b;
}

.ots {
    font-size: 2em;
    font-weight: bold;
    justify-self:center;
    align-self:center;
}

.ots1 {
    grid-area: ots1;
}

.ots2 {
    grid-area: ots2;
}

.ots3 {
    grid-area: ots3;
}

.splash {
    grid-area: splash;
}

.splash > img {
 /* object-fit: cover;*/
  width: 100%;
  max-height: 100%;
}

.main3 {
    display: grid;
    width: 100%;
}    

@media (max-width: 1024px) {
        .main3 {
                grid-template-columns: 1fr;
                grid-template-areas:
                "otsc1"
                "otsc2"
                "otsc3"
                "taglines"
                "ml1a"
                "ml1b"
                "ml2a"
                "ml2b"
                "ml3a"
                "ml3b"
                "signup1";
                grid-row-gap: 5vh;
        }
}

@media (min-width: 1025px) {
        .main3 {
                grid-template-columns: 1fr 1fr 1fr;
                grid-row-gap: 5vh;
                /*grid-template-rows: auto 5vh auto;*/
                grid-template-areas:
                "otsc1 otsc2 otsc3"
                "taglines taglines taglines"
                "ml1a ml1b ml1b"
                "ml2a ml2b ml2b"
                "ml3a ml3b ml3b"
                "signup1 signup1 signup1"
                ;
        }
}

.otsc {
    font-size: 1.5em;
    justify-self:center;
    align-self:center;
    text-align:center;
}

.otsc > hr {
    padding-top:0.7em;
    width:3em;
    border:0px;
    border-bottom: 3px solid #d67214;
}

.otsc1 {
    grid-area: otsc1;
}

.otsc2 {
    grid-area: otsc2;
}

.otsc3 {
    grid-area: otsc3;
}


.u-text-center {
    text-align: center;
}

.signup1 {
    grid-area: signup1;
    background-color: #363738; 
    padding: 1.5em;
}

.signup-callout__text {
    color:whitesmoke;
    font-size: 1.4em;
    text-align: center;
    font-weight: 500;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 0.5rem;
}

input.form__control, textarea.form__control, select.form__control {
    border: 1px solid whitesmoke;
    padding: 8px 12px;
    background-color: white;
    margin-right:1em;
}

button.btn {
    border: 0;
}

.btn--primary {
    background-color: #f4901d;
    color: white !important;
}
.btn {
    display: inline-block;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
    cursor: pointer;
}

.more-link {
    text-transform: uppercase;
    font-weight: bold;
}

.more-link::after {
    content: " →";
}

a:active, a:hover {
    outline-width: 0;
}
a {
    color: #f4901d;
    text-decoration: underline;
}


.nav {
    display: grid;
    grid-template-columns: [logo] auto [n0];
    align-items: center;
}

.n0 {
    grid-area: n0;
    justify-self: end;
    padding:5px;
}

.n0 > a {
    margin:15px;
    }

/*.n { padding-left:10px;
     padding-right:10px;
     }*/

/* Just Dropping In https://codepen.io/devilishalchemist/pen/ZYLZay */

/*ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  margin-top: 10%;
}
ul li {
  display: inline-block;
  margin: 0 20px;
}*/

.n0 > a {
 /* font-size: 20px;
  color: #584E4A;*/
  position: relative;
/*  text-transform: uppercase;*/
  text-decoration: none;
  padding-bottom: 8px;
}
.n0 > a:before, .n0 >  a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #d67214
}
.n0 > a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.n0 > a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.n0 > a:hover:before, .n0 > a:hover:after, .n0 > a:focus:before, .n0 > a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.n0 > a:hover:before, .n0 > a:focus:before {
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.n0 > a:hover:after, .n0 > a:focus:after {
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*.n0 a {
        text-decoration: none;
}*/

.app {
    display: grid;
    grid-template-columns: [leftnav] 80% [main] auto;
}

.leftnav {
    grid-area: leftnav;
}

.main {
    grid-area: main;
}

.leftnav ul {
    padding: 0;
}

.leftnav li {
    padding-bottom: 0.5em;
    list-style: none;
}

.leftnav li.comment .comment-meta {
    display: inline-block;
    color: grey;
    font-size: 80%;
    margin-bottom: 0.2em;
}

.leftnav li.comment .comment-meta .version-history,
.leftnav li.comment .comment-meta .version-history label,
.leftnav li.comment .comment-meta .version-history select {
    display: inline-block;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border: 0;
}

.leftnav form.edit-comment {
    position: relative;
    width: auto;
    padding-bottom: 0;
}

.leftnav form.edit-comment fieldset {
    margin-bottom: 0;
}

.leftnav .edit-comment textarea {
    background: #f8f8f8;
    border: 1px solid transparent;
    cursor: default;
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 1em;
}

.leftnav .edit-comment:hover textarea {
    border: 1px solid grey;
    cursor: text;
    resize: both;
}

.leftnav .edit-comment:hover textarea:invalid {
    border: 1px solid darkred;
}

.leftnav .edit-comment .buttons {
    position: absolute;
    visibility: hidden;
    right: 0;
}

.leftnav .edit-comment:hover .buttons {
    visibility: visible;
}


a {
    color: #d67214
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 0.2em;
}

form {
    padding-bottom: 0em;
}

label {
    font-weight: bold;
}

input, textarea, select {
    border: 1px solid grey;
    border-radius: 3px;
    background: transparent;
    margin: 0.2em;
    padding: 0.2em;
    outline: none;
}

textarea:invalid, input:invalid {
    border: 1px solid darkred;
}

input[type=submit] {
    border: 1.5px solid grey;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 80%;
}

form:invalid input[type=submit].primary {
    pointer-events: none;
    opacity: 0.6;
}

input[type=submit]:hover,
input[type=button]:hover {
    background: #ddd;
    border: 1.5px solid black;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.4em;
    border-bottom: 1px solid lightgrey;
}

h5, h6 {
    border-bottom: 1px solid #eee;
}

h1 small, h2 small, h3 small, h4 small {
    padding: 0.2em;
    color: grey;
    display: block;
}

label {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
}

footer {
    border-top: 1.5px solid grey;
    margin-top: 5em;
    padding: 1em;
    text-align: center;
}

dl {
    margin: 0;
    margin-bottom: 0.2em;
}

dl dt, dl dd {
    color: grey;
    font-size: 80%;
    display: inline-block;
    margin: 0;
    margin-right: 0.2em;
}

dl dd {
    color: black;
    margin-right: 1em;
}

svg a text {
    fill: #d67214;
    text-decoration: underline;
}

.timetravel svg.timeline-graph {
    text-anchor: start;
    width: 100%;
    font: 10px sans-serif;
}

.timetravel svg.timeline-graph line {
    stroke: black;
    stroke-width: 1.5px;
}

.timetravel svg.timeline-graph .max-time {
    text-anchor: end;
}

.timetravel svg.timeline-graph .bitemp-coordinates {
    stroke: blue;
}

.timetravel svg.timeline-graph .time-horizon line {
    stroke: green;
}

.timetravel svg.timeline-graph .time-horizon text,
.timetravel svg.timeline-graph .max-transaction-time text {
    font-weight: bold;
    text-decoration: none;
    visibility: hidden;
}

.timetravel svg.timeline-graph .max-transaction-time text {
    text-anchor: end;
}

.timetravel svg.timeline-graph .time-horizon:hover text,
.timetravel svg.timeline-graph .max-transaction-time:hover text {
    visibility: visible;
}

.timetravel svg.timeline-graph .max-transaction-time line {
    stroke: darkred;
    opacity: 0.5;
}

.timetravel svg.timeline-graph .axis .axis-name {
    font-weight: bold;
}

.timetravel svg.timeline-graph .axis .axis-value {
    font-weight: normal;
}

.timetravel svg.timeline-graph .axis .axis-line {
    stroke-width: 3px;
    stroke: #ddd;
    cursor: pointer;
}

.timetravel svg.timeline-graph .timepoint {
    text-anchor: middle;
}

.timetravel svg.timeline-graph .timepoint .timepoint-marker {
    stroke-width: 2px;
    stroke: #555;
}

.timetravel svg.timeline-graph a.timepoint text {
    visibility: hidden;
    text-decoration: none;
}

.timetravel svg.timeline-graph a.timepoint:hover text {
    visibility: visible;
}

.timetravel svg.timeline-graph.timeline-2d-graph {
    max-width: 100%;
    width: 70%;
    margin: auto;
    display: block;
}

.timetravel svg.timeline-graph.timeline-2d-graph .axis-name {
    fill: grey;
}

.timetravel svg.timeline-graph.timeline-2d-graph .axis.vt {
    text-anchor: start;
}

.timetravel svg.timeline-graph.timeline-2d-graph .axis.tt {
    text-anchor: end;
}

.timetravel svg.timeline-graph.timeline-2d-graph .timepoint .timepoint-marker {
    stroke: none;
}

.timetravel svg.timeline-graph.timeline-2d-graph .bitemp-coordinates text {
    text-anchor: middle;
    stroke: grey;
    stroke-width: 0.1;
    fill: grey;
}

.timetravel svg.timeline-graph.timeline-2d-graph .bitemp-coordinates rect {
    fill: grey;
    stroke: lightgrey;
    fill-opacity: 0.2;
}

.timetravel svg.timeline-graph .max-transaction-time text,
.timetravel svg.timeline-graph .time-horizon text {
    text-anchor: middle;
}

.timetravel svg.timeline-graph.timeline-2d-graph .time-horizon rect {
    fill: green;
    stroke: green;
    stroke-width: 1;
    fill-opacity: 0.1;
}

.timetravel svg.timeline-graph.timeline-2d-graph .time-arrow {
    stroke: #ccc;
    stroke-width: 1;
    stroke-dasharray: 10, 10;
}

.comments ul {
    padding: 0;
}

.comments li {
    padding-bottom: 0.5em;
    list-style: none;
}

.comments li.comment .comment-meta {
    display: inline-block;
    color: grey;
    font-size: 80%;
    margin-bottom: 0.2em;
}

.comments li.comment .comment-meta .version-history,
.comments li.comment .comment-meta .version-history label,
.comments li.comment .comment-meta .version-history select {
    display: inline-block;
    font-weight: normal;
    padding: 0;
    margin: 0;
    border: 0;
}

.comments form.edit-comment {
    position: relative;
    width: auto;
    padding-bottom: 0;
}

.comments form.edit-comment fieldset {
    margin-bottom: 0;
}

.comments .edit-comment textarea {
    background: #f8f8f8;
    border: 1px solid transparent;
    cursor: default;
    resize: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 1em;
}

.comments .edit-comment:hover textarea {
    border: 1px solid grey;
    cursor: text;
    resize: both;
}

.comments .edit-comment:hover textarea:invalid {
    border: 1px solid darkred;
}

.comments .edit-comment .buttons {
    position: absolute;
    visibility: hidden;
    right: 0;
}

.comments .edit-comment:hover .buttons {
    visibility: visible;
}

.add-comment-box fieldset {
    width: 25em;
    min-width: 10em;
}

.add-comment-box input[type=text] {
    width: 100%;
    display: block;
}

.add-comment-box textarea {
    width: 100%;
}

.transaction-history table {
    width: 100%;
    border-spacing: 0;
    font-family: monospace;
    white-space: pre;
}

.transaction-history table th {
    text-align: left;
}

.transaction-history table td {
    padding-top: 0.5em;
    vertical-align: top;
}

.query-editor {
    width: 100%;
    min-height: 3em;
    font-size: 1.5em;
    font-family: monospace;
}

.query-editor .invalid-query-message .edn {
    color: darkred;
    font-size: 0.7em;
}

.query-result table {
    width: 100%;
    border-spacing: 0;
    font-family: monospace;
    white-space: pre;
}

.query-result table th {
    text-align: left;
}

.query-result table td {
    padding-top: 0.25em;
    vertical-align: top;
}

.status {
    font-size: 75%;
}

pre.edn {
    padding: 1em;
    border-radius: 4px;
    background: #f8f8f8;
    border: 1px solid #ddd;
}

.cg > div {
    padding-left:1em;
    padding-bottom:1em;
    border-bottom: 1px solid lightgrey;
}

.cg > div:nth-child(-n+4) {
  background-color: white;
}

pre {
    margin: 0em 0px;
    }

    .submit-query > .primary {
background-color: #f4901d;;
color:white;
font-size:1.2em;
padding:0.6em;
opacity: 1 !important;
border: 0px solid black !important;
    }


.CodeMirror {
    padding: .6em;
    border-radius: 2px;
}


