.input-range__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 0%;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
    will-change: transform, box-shadow;
  width: 1rem; }
.input-range__slider:active {
  transform: scale(1.3); }
.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none; }

.input-range__slider-container {
  transition: left 0.3s ease-out; }


.input-range__label {
  color: #aaaaaa;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
    display: none
}

.input-range__label--min {
  grid-area: l;
  left: 0; }

.input-range__label--max {
  grid-area: r;
  right: 0; }

.input-range__label--value,
.input-range__label--value-year {
  top: -0.92em;
  position: absolute;
  left: 1em;
  text-align: right;
  width: 1.8em;
  color: black;
  font-size: 1.0em;
  font-weight: 400;
  font-variant-numeric: tabular-nums;}

.input-range__label--value-year {
  left: 1.7em
}

.input-range__label-container {
  left: -50%;
  position: relative; }
.input-range__label--max .input-range__label-container {
  left: 50%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  grid-area: c;
  height: 0.3rem;
  position: relative;
  will-change: left, width;
  transition: left 0.1s ease-out, width 0.1s ease-out; }
.input-range--disabled .input-range__track {
  background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #3f51b5; }

.input-range {
  height: 1rem;
  position: relative;
  display: grid;
  grid-template: 'l c r' / 0px 1fr 30px;
  width: 100%; }
