{:row-count 6,
 :fields
 {"system_time"
  #xt.arrow/field ["system_time" #xt.arrow/field-type [#xt.arrow/type [:timestamp-tz :micro "UTC"] false]],
  "committed"
  #xt.arrow/field ["committed" #xt.arrow/field-type [#xt.arrow/type :bool false]],
  "_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :i64 false]],
  "error"
  #xt.arrow/field ["error" #xt.arrow/field-type [#xt.arrow/type :transit true]]},
 :tries
 [{:trie-key "l00-rc-b00",
   :data-file-size 3326,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-06T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-06T00:00:00Z",
    :row-count 6,
    :iid-bloom [-313039943 30]}}],
 :hlls
 {"system_time" [-2034527697 6.01764709272061],
  "committed" [-1112647138 2.001955671862574],
  "_id" [240153275 6.01764709272061],
  "error" [825871333 2.001955671862574]}}
