{:deps
 {org.slf4j/jcl-over-slf4j {:mvn/version "1.7.25"}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.25"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.25"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                  :exclusions [org.slf4j/slf4j-api]}}}
