# build output
dist/

# generated docs
public/drivers/clojure/codox
public/drivers/kotlin/kdoc

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vscode

/public/images/d2
