{:deps
 {
  ;; tag::CruxDep[]
  juxt/crux-core {:mvn/version "19.07-1.3.0-alpha"}
  ;; end::CruxDep[]

  ;; tag::KafkaClientsDeps[]
  juxt/crux-kafka {:mvn/version "19.07-1.3.0-alpha"}
  ;; end::KafkaClientsDeps[]

  ;; tag::KafkaEmbeddedDeps[]
  juxt/crux-kafka-embedded {:mvn/version "19.07-1.3.0-alpha"}
  ;; end::KafkaEmbeddedDeps[]

  ;; tag::RocksDeps[]
  juxt/crux-rocksdb {:mvn/version "19.07-1.3.0-alpha"}
  ;; end::RocksDeps[]

  integrant/integrant {:mvn/version "0.6.3"}
  }}
