{:deps
 {
  ;; tag::CruxDep[]
  juxt/crux {:mvn/version "0.1.0-SNAPSHOT"}
  ;; end::CruxDep[]

  ;; tag::KafkaDeps[]
  org.apache.kafka/kafka_2.11 {:mvn/version "2.1.0"}
  ;; end::KafkaDeps[]

  ;; tag::RocksDeps[]
  org.rocksdb/rocksdbjni {:mvn/version "5.17.2"}
  ;; end::RocksDeps[]

  integrant/integrant {:mvn/version "0.6.3"}

  ;; tag::ZookeeperDeps[]
  org.apache.zookeeper/zookeeper {:mvn/version "3.4.13"
                                  :exclusions [io.netty/netty
                                               jline
                                               org.apache.yetus/audience-annotations
                                               org.slf4j/slf4j-log4j12
                                               log4j]}
  ;; end::ZookeeperDeps[]
  }}
