{:ig/system

 {:juxt.crux-ui.server.main/read-write {:system #ig/ref :juxt.crux.ig/node}
  [:edge.yada.ig/redirect :juxt.crux-ui.server/home] {:target :juxt.crux-ui.server.main/console}

  :juxt.crux-ui.server.main/query-perf {:node #ig/ref :juxt.crux.ig/node}
  :juxt.crux-ui.server.main/console {:node #ig/ref :juxt.crux.ig/node}
  :juxt.crux-ui.server.main/service-worker-for-console {:node #ig/ref :juxt.crux.ig/node}
  :juxt.crux.ig.node/standalone {:kv-backend "crux.kv.rocksdb.RocksKv"
                                 :event-log-dir "data/eventlog-1"
                                 :db-dir "data/db-dir-1"
                                 :http-opts {:server-port 8080}}
  :edge.yada.ig/listener {:handler #ig/ref :edge.bidi.ig/vhost
                          :port #profile {:dev 8300
                                          :prod 5000}}

  [:juxt.crux-ui.server.main/cljsjs :edge.yada.ig/resources] {:path "cljsjs/"}
  [:juxt.crux-ui.server.main/static :edge.yada.ig/resources] {:path "static/"}
  [:juxt.crux-ui.server/assets :edge.yada.ig/resources] {:path "public/"}

  :edge.bidi.ig/vhost [[#profile {:prod "http://localhost:5000"
                                  :dev "http://localhost:8300"}
                        [""
                         [["/" #ig/ref :juxt.crux-ui.server/home]
                          ["/query-perf" #ig/ref :juxt.crux-ui.server.main/query-perf]
                          ["/service-worker-for-console.js" #ig/ref :juxt.crux-ui.server.main/service-worker-for-console]
                          ["/console"
                           {"" #ig/ref :juxt.crux-ui.server.main/console
                            ["/" :rd/tab] #ig/ref :juxt.crux-ui.server.main/console}]
                          ["/static/" #ig/ref [:juxt.crux-ui.server.main/static :edge.yada.ig/resources]]
                          ["/cljsjs/" #ig/ref [:juxt.crux-ui.server.main/cljsjs :edge.yada.ig/resources]]
                          ["/rw" #ig/ref :juxt.crux-ui.server.main/read-write]
                          ["" #ig/ref [:juxt.crux-ui.server/assets :edge.yada.ig/resources]]]]]]}}
