{:row-count 35,
 :fields
 {"_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :i64 false]],
  "system_time"
  #xt.arrow/field ["system_time" #xt.arrow/field-type [#xt.arrow/type [:timestamp-tz :micro "UTC"] false]],
  "committed"
  #xt.arrow/field ["committed" #xt.arrow/field-type [#xt.arrow/type :bool false]],
  "error"
  #xt.arrow/field ["error" #xt.arrow/field-type [#xt.arrow/type :transit true]]},
 :tries
 [{:trie-key "l00-rc-b00",
   :data-file-size 2806,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T00:00:00Z",
    :row-count 1,
    :iid-bloom [341758827 5]}}
  {:trie-key "l00-rc-b01",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-01T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T12:00:00Z",
    :row-count 2,
    :iid-bloom [-796895869 10]}}
  {:trie-key "l00-rc-b02",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-01T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-02T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-01T12:00:00Z",
    :max-system-from #xt/instant "2020-01-02T00:00:00Z",
    :row-count 2,
    :iid-bloom [-813235581 10]}}
  {:trie-key "l00-rc-b03",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-02T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-02T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-02T00:00:00Z",
    :max-system-from #xt/instant "2020-01-02T12:00:00Z",
    :row-count 2,
    :iid-bloom [1259882244 10]}}
  {:trie-key "l00-rc-b04",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-02T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-03T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-02T12:00:00Z",
    :max-system-from #xt/instant "2020-01-03T00:00:00Z",
    :row-count 2,
    :iid-bloom [1124042869 10]}}
  {:trie-key "l00-rc-b05",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-03T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-03T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-03T00:00:00Z",
    :max-system-from #xt/instant "2020-01-03T12:00:00Z",
    :row-count 2,
    :iid-bloom [-1106918501 10]}}
  {:trie-key "l00-rc-b06",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-03T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-04T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-03T12:00:00Z",
    :max-system-from #xt/instant "2020-01-04T00:00:00Z",
    :row-count 2,
    :iid-bloom [383058445 10]}}
  {:trie-key "l00-rc-b07",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-04T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-04T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-04T00:00:00Z",
    :max-system-from #xt/instant "2020-01-04T12:00:00Z",
    :row-count 2,
    :iid-bloom [-1239188634 10]}}
  {:trie-key "l00-rc-b08",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-04T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-05T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-04T12:00:00Z",
    :max-system-from #xt/instant "2020-01-05T00:00:00Z",
    :row-count 2,
    :iid-bloom [-239267551 10]}}
  {:trie-key "l00-rc-b09",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-05T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-05T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-05T00:00:00Z",
    :max-system-from #xt/instant "2020-01-05T12:00:00Z",
    :row-count 2,
    :iid-bloom [1342285101 10]}}
  {:trie-key "l00-rc-b0a",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-05T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-06T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-05T12:00:00Z",
    :max-system-from #xt/instant "2020-01-06T00:00:00Z",
    :row-count 2,
    :iid-bloom [-381329433 10]}}
  {:trie-key "l00-rc-b0b",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-06T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-06T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-06T00:00:00Z",
    :max-system-from #xt/instant "2020-01-06T12:00:00Z",
    :row-count 2,
    :iid-bloom [-669617274 10]}}
  {:trie-key "l00-rc-b0c",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-06T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-07T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-06T12:00:00Z",
    :max-system-from #xt/instant "2020-01-07T00:00:00Z",
    :row-count 2,
    :iid-bloom [-1945245905 10]}}
  {:trie-key "l00-rc-b0d",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-07T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-07T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-07T00:00:00Z",
    :max-system-from #xt/instant "2020-01-07T12:00:00Z",
    :row-count 2,
    :iid-bloom [-1638203628 10]}}
  {:trie-key "l00-rc-b0e",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-07T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-08T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-07T12:00:00Z",
    :max-system-from #xt/instant "2020-01-08T00:00:00Z",
    :row-count 2,
    :iid-bloom [-1181543847 10]}}
  {:trie-key "l00-rc-b0f",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-08T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-08T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-08T00:00:00Z",
    :max-system-from #xt/instant "2020-01-08T12:00:00Z",
    :row-count 2,
    :iid-bloom [95459471 10]}}
  {:trie-key "l00-rc-b110",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-08T12:00:00Z",
    :max-valid-from #xt/instant "2020-01-09T00:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-08T12:00:00Z",
    :max-system-from #xt/instant "2020-01-09T00:00:00Z",
    :row-count 2,
    :iid-bloom [2007337589 10]}}
  {:trie-key "l00-rc-b111",
   :data-file-size 2870,
   :trie-metadata
   {:min-valid-from #xt/instant "2020-01-09T00:00:00Z",
    :max-valid-from #xt/instant "2020-01-09T12:00:00Z",
    :min-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :max-valid-to #xt/instant "+294247-01-10T04:00:54.775807Z",
    :min-system-from #xt/instant "2020-01-09T00:00:00Z",
    :max-system-from #xt/instant "2020-01-09T12:00:00Z",
    :row-count 2,
    :iid-bloom [-1037182389 10]}}],
 :hlls
 {"system_time" [1077524726 18.16008185832292],
  "committed" [554809535 1.0004885993744506],
  "_id" [1681051040 35.61213335218281],
  "error" [1743287434 1.0004885993744506]}}
