@import 'variables';

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
  background-color: $black-colour;
}

#container {
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

a:hover {
  color: $red-colour;
}

span {
  color: $black-colour;
}

span#copyright {
  font-weight: bold;
  color: white;
}

nav {
  z-index: 1000;
}

.navbar-dark {
  color: white;
  background-color: $black-colour;
  .nav-link {
    img {
      padding-right: 5px;
    }
  }
}

.navbar-toggler {
  align-self: flex-end;
}

h1,
h2,
h3,
h4 {
  color: $black-colour;
  font-family: 'Molengo', sans-serif;
}

p {
  color: $black-light-colour;
  font-family: 'Molengo', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-size: x-large;
}

#logo {
  position: absolute;
  top: 10px;
  left: 25px;
  width: 200px;
  height: 50px;

  h2 {
    position: relative;
    left: 10px;
    color: $red-colour;
    margin-top: 0;
    margin-left: 10px;
    display: inline;
  }

  h5 {
    position: relative;
    left: 15px;
    color: white;
    display: inline;
  }
}

#logo-circle {
  margin-top: 5px;
  border-radius: 100%;
  background-color: $red-colour;
  width: 30px;
  height: 30px;
  float: left;
}


section {
  width: 60%;
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.ui.button {
  border-radius: 0;
  background-color: $red-light-colour;
}

#title-section {
  text-align: center;

  #read-docs {
    margin: 10px;
    border-radius: 0;
    color: $black-colour !important;
    box-shadow: 0 0 0 1px $red-colour inset !important;
    font-weight: bold;
  }

  #read-docs:hover {
    margin: 10px;
    color: $red-colour !important;
    box-shadow: 0 0 0 1px $red-colour inset !important;
  }

  h1 {
    margin-top: 150px;
  }

  h1,
  h2 {
    margin-bottom: 20px;
  }
}

#grid {
  //margin-top: 50px;
}

#features {
  width: 30%;
  float: left;
}

#demo-box {
  border-radius: 5px;
  background-color: $black-colour;
  width: 100%;
  height: 100%;

  .circle {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: relative;
    top: 5px;
    display: inline-block;
  }

  #circle1 {
    left: 5px;
    background-color: #FF484b;
  }

  #circle2 {
    left: 10px;
    background-color: #F7E71E;
  }

  #circle3 {
    left: 15px;
    background-color: #3CFED2;
  }

  #text-view {
    position: relative;
    text-align: justify;
    width: 90%;
    height: 85%;
    top: 5%;
    left: 5%;

    p {
      color: $black-lighter-colour;
    }
  }
}

.client {
  .picture {
    float: left;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    background-color: $black-light-colour;
  }

  span {
    padding-left: 5px;
  }
}

#support {
  padding-top: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: $red-colour;
  border-radius: 5px;
  min-height: 150px;

  .column {
    padding-bottom: 0;

    img {
      padding-left: 20px;
      position: relative;
      top: 100%;
      transform: translateY(-100%);
    }
  }

  h3 {
    color: white;
  }

  .ui.basic.primary.basic.button {
    margin-top: 10px;
    border-radius: 0;
    color: white !important;
    box-shadow: 0 0 0 1px white inset !important;
    font-weight: bold;
  }

  .ui.basic.primary.button:hover {
    background-color: #d01919 !important;
  }
}

footer {
  margin-top: 100px;
  width: 100%;
  background-color: $black-colour;
  color: white;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li a {
      margin: 0;
    }
  }

  .ui.grid > .column:not(.row) {
    padding-bottom: none !important;
  }

  .ui.input {
    width: 100%;
  }

  .ui.input > input {
    background-color: $black-colour;
    border-radius: 0;
    border-color: white;
    color: white;
    width: 100%;
    border-radius: 2px;
  }

  .ui.button {
    min-width: 100px;
    margin-top: 5px;
    background-color: $red-colour;
    color: white;
    border-radius: 2px;
    display: block;
    line-height: 25px;
    font-size: x-small;
  }

  .ui.button:hover {
    background-color: #d01919;
  }

  .first-li {
    padding-bottom: 5px;
    font-size: small;
  }
}

.grid-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 150px;
  text-align: center;

  span {
    font-weight: bold;
  }

  p {
    padding-top: 20px;
    text-align: justify;
  }
}

.bottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

p.top {
  padding-top: 0;
}

.graphic-img {
  padding-bottom: 20px;
}
