{:row-count 1,
 :fields {"_id" #xt/field ["_id" :i64]},
 :hlls {"_id" [605041376 1.0004885993744506]},
 :partitions
 [{:level 0,
   :part [],
   :tries
   [{:trie-key "l00-rc-b00",
     :data-file-size 1966,
     :trie-metadata
     {:min-valid-from #xt/instant "2010-01-01T00:00:00Z",
      :max-valid-from #xt/instant "2010-01-01T00:00:00Z",
      :min-valid-to #xt/instant "2011-01-01T00:00:00Z",
      :max-valid-to #xt/instant "2011-01-01T00:00:00Z",
      :min-system-from #xt/instant "2020-01-01T00:00:00Z",
      :max-system-from #xt/instant "2020-01-01T00:00:00Z",
      :row-count 1,
      :iid-bloom [-2050569905 5]}}]}]}
