{:row-count 2,
 :fields
 {"_id"
  #xt.arrow/field ["_id" #xt.arrow/field-type [#xt.arrow/type :i64 false]]},
 :tries
 [{:trie-key "l00-rc-b00", :data-file-size 1966, :trie-metadata nil}
  {:trie-key "l00-rc-b01",
   :data-file-size 1966,
   :trie-metadata
   {:min-valid-from #xt/instant "2015-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2015-01-01T00:00:00Z",
    :min-valid-to #xt/instant "2016-01-01T00:00:00Z",
    :max-valid-to #xt/instant "2016-01-01T00:00:00Z",
    :min-system-from #xt/instant "2020-01-05T00:00:00Z",
    :max-system-from #xt/instant "2020-01-05T00:00:00Z",
    :row-count 1,
    :iid-bloom [314116840 5]}}
  {:trie-key "l01-r20110103-b00",
   :data-file-size 1966,
   :trie-metadata
   {:min-valid-from #xt/instant "2010-01-01T00:00:00Z",
    :max-valid-from #xt/instant "2010-01-01T00:00:00Z",
    :min-valid-to #xt/instant "2011-01-01T00:00:00Z",
    :max-valid-to #xt/instant "2011-01-01T00:00:00Z",
    :min-system-from #xt/instant "2020-01-01T00:00:00Z",
    :max-system-from #xt/instant "2020-01-01T00:00:00Z",
    :row-count 1,
    :iid-bloom [-2050569905 5]}}
  {:trie-key "l01-rc-b00", :data-file-size 1382, :trie-metadata nil}],
 :hlls {"_id" [-179776705 2.001955671862574]}}
